<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ContactSearchResultsLV">
    <ExposeIterator
      flags="CanDeleteContact,abContact"
      valueType="entity.ABContact"
      widget="ContactSearchResultsLV"/>
    <Require
      name="SearchResults"
      type="ABContactQuery"/>
    <Require
      name="CanPotentiallyDelete"
      type="boolean"/>
    <Require
      name="isSelectMode"
      type="boolean"/>
    <Require
      name="pageHelper"
      type="contact.ProximitySearchPageHelper"/>
    <Require
      name="searchCriteria"
      type="ABContactSearchCriteria"/>
    <Require
      name="searchSpec"
      type="gw.api.webservice.addressbook.contactapi.ABContactSearchSpecWithoutPaging"/>
    <Variable
      initialValue="pageHelper.getDrivingDirectionsCache()"
      name="directions"/>
    <RowIterator
      canPick="!CanPotentiallyDelete"
      checkBoxVisible="CanPotentiallyDelete or searchCriteria.isProximitySearch()"
      editable="false"
      elementName="abContact"
      hasCheckBoxes="true"
      pickValue="abContact"
      value="SearchResults">
      <ToolbarFlag
        condition="perm.ABContact.delete(abContact)"
        name="CanDeleteContact"/>
      <ToolbarFlag
        name="abContact"/>
      <Row>
        <Cell
          action="ABContactSummaryPage.go(abContact)"
          id="DisplayName"
          label="displaykey.Web.ContactSearchResults.DisplayName"
          sortBy="abContact"
          sortOrder="1"
          value="abContact.DisplayName"/>
        <Cell
          id="Address"
          label="displaykey.Web.ContactSearchResults.PrimaryAddress.AddressLine1"
          sortBy="abContact.PrimaryAddress.AddressLine1"
          value="abContact.PrimaryAddress.AddressLine1DisplayValue"/>
        <Cell
          id="City"
          label="displaykey.Web.ContactSearchResults.PrimaryAddress.City"
          sortBy="abContact.PrimaryAddress.City"
          value="abContact.PrimaryAddress.CityDisplayValue"
          width="120"/>
        <TypeKeyCell
          id="State"
          label="gw.api.address.AddressCountrySettings.getSettings(searchCriteria.Address.Country).StateLabel"
          value="abContact.PrimaryAddress.State"
          width="100"/>
        <Cell
          id="PostalCode"
          label="gw.api.address.AddressCountrySettings.getSettings(searchCriteria.Address.Country).PostalCodeLabel"
          value="abContact.PrimaryAddress.PostalCode"
          width="100"/>
        <Cell
          enableSort="false"
          id="PrimaryPhone"
          label="displaykey.Web.ContactSearchResults.PrimaryPhone"
          value="abContact.PrimaryPhoneValue"/>
        <TypeKeyCell
          id="ContactSubtype"
          label="displaykey.Web.ContactSearchResults.ContactSubtype"
          value="abContact.Subtype"
          width="100"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>