<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="VendorEvaluationDV">
    <Require
      name="aVendorEvaluation"
      type="VendorEvaluation"/>
    <InputColumn>
      <TextInput
        editable="true"
        id="Evaluator"
        label="displaykey.Training.Evaluator"
        required="true"
        value="aVendorEvaluation.Evaluator"/>
      <DateInput
        editable="true"
        id="EvaluationDate"
        label="displaykey.Training.EvaluationDate"
        value="aVendorEvaluation.EvaluationDate"/>
      <TextInput
        id="Status"
        label="displaykey.Training.Status"
        value="aVendorEvaluation.Status"/>
      <Label
        id="ScoreLabel"
        label="displaykey.Training.ScoresExplained"/>
      <TextInput
        editable="true"
        formatType="exactNumber"
        id="Score_Timeliness"
        label="displaykey.Training.ScoreTimeliness"
        maxChars="2"
        numCols="10"
        validationExpression="((aVendorEvaluation.Score_Timeliness &gt; 25) or (aVendorEvaluation.Score_Timeliness &lt; 0)) ? displaykey.Training.ValidationEvalScore : null"
        value="aVendorEvaluation.Score_Timeliness"/>
      <TextInput
        align="right"
        editable="true"
        id="Score_Communication"
        label="displaykey.Training.ScoreCommunication"
        maxChars="2"
        numCols="10"
        validationExpression="((aVendorEvaluation.Score_Communication &gt; 25) or (aVendorEvaluation.Score_Communication &lt; 0)) ? displaykey.Training.ValidationEvalScore : null"
        value="aVendorEvaluation.Score_Communication"/>
      <TextInput
        align="right"
        editable="true"
        id="Score_QualityOfWork"
        label="displaykey.Training.ScoreQualityOfWork"
        maxChars="2"
        numCols="10"
        validationExpression="((aVendorEvaluation.Score_QualityOfWork &gt; 25) or (aVendorEvaluation.Score_QualityOfWork &lt; 0)) ? displaykey.Training.ValidationEvalScore : null"
        value="aVendorEvaluation.Score_QualityOfWork"/>
      <TextInput
        align="right"
        editable="true"
        id="Score_Pricing"
        label="displaykey.Training.ScorePricing"
        maxChars="2"
        numCols="10"
        validationExpression="((aVendorEvaluation.Score_Pricing &gt; 25) or (aVendorEvaluation.Score_Pricing &lt; 0)) ? displaykey.Training.ValidationEvalScore : null"
        value="aVendorEvaluation.Score_Pricing"/>
      <TextInput
        id="ScoreTotal"
        label="displaykey.Training.TotalScore"
        maxChars="2"
        numCols="10"
        value="aVendorEvaluation.TotalScore">
        <Reflect
          triggerIds="Score_Timeliness,Score_Communication,Score_QualityOfWork,Score_Pricing"
          value="aVendorEvaluation.sumTotalScore(VALUE1,VALUE2,VALUE3,VALUE4)"/>
      </TextInput>
      <TextAreaInput
        editable="true"
        id="EvaluatorComment"
        label="displaykey.Training.Comments"
        numRows="4"
        value="aVendorEvaluation.EvaluatorComment"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>