<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="LoginDV">
    <Require
      name="LoginForm"
      type="util.LoginForm"/>
    <InputColumn>
      <TextInput
        editable="true"
        id="username"
        label="displaykey.Web.Login.Username"
        numCols="20"
        value="LoginForm.Username"/>
      <PasswordInput
        editable="true"
        id="password"
        label="displaykey.Web.Login.Password"
        numCols="20"
        value="LoginForm.Password"/>
      <CheckBoxInput
        editable="true"
        helpText="displaykey.Web.Login.RememberMe.Help"
        id="remember"
        value="LoginForm.RememberMe"
        valueLabel="displaykey.Web.Login.RememberMe"
        visible="LoginForm.EnableRememberMe"/>
      <LoginSubmitButton
        action="LoginForm.login()"
        default="true"
        id="submit"
        value="displaykey.Web.Login.LoginBtn"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>