<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- DON NOT reference this file directly, but use SearchAndResetInputSet or SearchOnlyInputSet instead -->
  <InputSet
    id="SearchLinksInputSet">
    <Require
      name="searchVisible"
      type="Boolean"/>
    <Require
      name="resetVisible"
      type="Boolean"/>
    <ContentInput
      id="searchBtns"
      labelAbove="true">
      <Link
        action="util.SearchUtil.search()"
        default="true"
        id="Search"
        label="displaykey.Button.Search"
        shortcut="S"
        styleClass="bigButton"
        visible="searchVisible"/>
      <Link
        action="util.SearchUtil.reset()"
        id="Reset"
        label="displaykey.Button.Reset"
        shortcut="R"
        styleClass="bigButton"
        visible="resetVisible"/>
    </ContentInput>
  </InputSet>
</PCF>