<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="GroupSearchPickerScreen">
    <Require
      name="RestrictedGroup"
      type="Group"/>
    <SearchPanel
      criteriaName="SearchCriteria"
      resultsName="Groups"
      search="SearchCriteria.performSearch()"
      searchCriteria="new GroupSearchCriteria()"
      searchResultsType="GroupQuery">
      <PanelRef
        def="GroupSearchDV(SearchCriteria)"/>
      <PanelRef
        def="GroupSearchPickerResultsLV(Groups, RestrictedGroup)">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.Search.Results"/>
        <Toolbar/>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>