<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.User.ViewDataChange"
    id="DataChangePage"
    parent="Admin()"
    title="displaykey.Web.Admin.DataChange">
    <Screen
      editable="true"
      id="DataChangeScreen">
      <PanelRef
        editable="true">
        <Toolbar>
          <ToolbarFilter
            iterator="dataChangeIterator"
            name="filter">
            <ToolbarFilterOptionGroup
              filters="new gw.api.filters.TypeKeyFilterSet( DataChange.Type.TypeInfo.getProperty(&quot;Status&quot;)).getFilterOptions()"/>
          </ToolbarFilter>
        </Toolbar>
        <ListDetailPanel
          selectionName="dataChange"
          selectionType="DataChange">
          <ListViewPanel>
            <RowIterator
              canPick="false"
              editable="false"
              elementName="dataChangeRow"
              id="dataChangeIterator"
              pageSize="5"
              value="find(dc in DataChange)">
              <Row>
                <Cell
                  id="reference"
                  label="displaykey.Web.Admin.DataChange.RefField"
                  value="dataChangeRow.ExternalReference"/>
                <Cell
                  id="desc"
                  label="displaykey.Web.Admin.DataChange.DescLabel"
                  value="dataChangeRow.Description"/>
                <Cell
                  id="status"
                  label="displaykey.Web.Admin.DataChange.StatusLabel"
                  value="dataChangeRow.Status"/>
                <Cell
                  id="createUser"
                  label="displaykey.Web.Admin.DataChange.CreateUser"
                  value="dataChangeRow.CreateUser"/>
                <DateCell
                  dateFormat="short"
                  id="createDate"
                  label="displaykey.Web.Admin.DataChange.CreateDate"
                  timeFormat="short"
                  value="dataChangeRow.CreateDate"/>
                <Cell
                  id="execUser"
                  label="displaykey.Web.Admin.DataChange.ExecuteUser"
                  value="dataChangeRow.ExecuteUser"/>
                <DateCell
                  dateFormat="short"
                  id="execDate"
                  label="displaykey.Web.Admin.DataChange.ExecutedDate"
                  timeFormat="short"
                  value="dataChangeRow.ExecuteDate"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
          <CardViewPanel>
            <Card
              id="details"
              title="dataChange.ExternalReference">
              <PanelRef
                editable="true">
                <Toolbar
                  visible="perm.User.ExecuteDataChange">
                  <ToolbarButton
                    action="dataChange.discardImmediate()"
                    available="dataChange.Status == &quot;Open&quot;"
                    id="DiscardToolbarButton"
                    label="displaykey.Web.Admin.DataChange.DiscardButton"/>
                  <ToolbarButton
                    action="dataChange.execute()"
                    available="dataChange.Status == &quot;Open&quot;"
                    id="ExecuteToolbarButton"
                    label="displaykey.Web.Admin.DataChange.ExecuteButton"/>
                </Toolbar>
                <DetailViewPanel>
                  <InputColumn>
                    <Label
                      label="displaykey.Web.Admin.DataChange.Gosu"/>
                    <TextAreaInput
                      id="gosu"
                      labelAbove="true"
                      numCols="140"
                      numRows="10"
                      value="dataChange.Gosu"/>
                    <Label
                      label="displaykey.Web.Admin.DataChange.Result"/>
                    <TextAreaInput
                      id="result"
                      labelAbove="true"
                      numCols="140"
                      numRows="30"
                      value="dataChange.Result"/>
                  </InputColumn>
                </DetailViewPanel>
              </PanelRef>
            </Card>
          </CardViewPanel>
        </ListDetailPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>