<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    alwaysInEditMode="true"
    canEdit="true"
    id="IntegrationMessageGeneratorPage"
    startInEditMode="true"
    title="displaykey.Training.MessageGenerator">
    <Variable
      initialValue="generateMessageGeneratorName()"
      name="InstanceName"
      type="String"/>
    <Screen
      editable="true">
      <DetailViewPanel>
        <InputColumn>
          <ContentInput>
            <Link
              action="MessageGeneratorExitPoint.push()"
              id="DisplayInstructions"
              label="displaykey.Training.DisplayInstructions"/>
          </ContentInput>
          <Label
            id="NewMessageTestLabel"
            label="displaykey.Training.NewMessageGenerator"/>
          <Input
            editable="true"
            id="Name"
            label="displaykey.Training.Name"
            required="true"
            value="InstanceName"/>
          <ButtonInput
            action="sendOnly()"
            id="SendOnly"
            value="displaykey.Training.SendOnly"/>
          <ButtonInput
            action="sendAndAck()"
            id="SendAndAckButton"
            value="displaykey.Training.SendAndAck"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
    <Code><![CDATA[function generateMessageGeneratorName() : String {
  return "MsgGen:" + gw.api.system.database.SequenceUtil.next(1, "MsgGen")
}

function sendOnly() {
  gw.transaction.Transaction.runWithNewBundle(\ bundle -> {
    var newMessageGenerator = new MessageGenerator()
    newMessageGenerator.Name = InstanceName
    print (newMessageGenerator)
  })
  InstanceName = generateMessageGeneratorName()
}

function sendAndAck() {
  gw.transaction.Transaction.runWithNewBundle(\ bundle -> {
    var newMessageGenerator = new MessageGenerator()
    newMessageGenerator.Name = InstanceName
    newMessageGenerator.AutoAckMessage = true
    print (newMessageGenerator)
  })
  InstanceName = generateMessageGeneratorName()
}]]></Code>
  </Page>
</PCF>