<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canVisit="perm.System.workflowview"
    countsAsWork="false"
    id="WorkflowSearch"
    parent="Admin()"
    title="displaykey.Web.Admin.WorkflowSearch.Title">
    <Screen
      id="WorkflowSearchScreen">
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="Workflows"
        search="SearchCriteria.performSearch()"
        searchCriteria="new WorkflowSearchCriteria()"
        searchResultsType="WorkflowQuery">
        <PanelRef
          def="WorkflowsDV(SearchCriteria)"/>
        <PanelRef
          def="WorkflowsLV(Workflows, false)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Admin.Workflows.Results"/>
          <Toolbar>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="ManageWorkflows.go(CheckedValues)"
              id="Workflows_ManageButton"
              iterator="WorkflowsLV.WorkflowsLV"
              label="displaykey.Web.Admin.WorkflowSearch.Manage"
              shortcut="M"/>
            <ToolbarButton
              action="ManageWorkflows.go(Workflows, SearchCriteria)"
              available="Workflows == null ? false : Workflows.getCount() &gt; 0"
              id="Workflows_ManageAllButton"
              label="displaykey.Web.Admin.WorkflowSearch.ManageAll"
              shortcut="A"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>