<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="WorkflowsDV">
    <Require
      name="SearchCriteria"
      type="WorkflowSearchCriteria"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="Type"
        label="displaykey.Web.Admin.WorkflowSearch.Type"
        value="SearchCriteria.Workflowtype"
        valueRange="SearchCriteria.getAvailableTypes()">
        <PostOnChange/>
      </RangeInput>
      <RangeInput
        editable="true"
        id="Version"
        label="displaykey.Web.Admin.WorkflowSearch.Version"
        value="SearchCriteria.ProcessVersion"
        valueRange="SearchCriteria.getAvailableVersions()"
        visible="SearchCriteria.Workflowtype != null">
        <PostOnChange/>
      </RangeInput>
      <DateInput
        editable="true"
        id="StartDateFrom"
        label="displaykey.Web.Admin.WorkflowSearch.StartDateFrom"
        value="SearchCriteria.StartDateFrom"/>
      <DateInput
        editable="true"
        id="StartDateTo"
        label="displaykey.Web.Admin.WorkflowSearch.StartDateTo"
        value="SearchCriteria.StartDateTo"/>
      <DateInput
        editable="true"
        id="UpdateDateFrom"
        label="displaykey.Web.Admin.WorkflowSearch.UpdateDateFrom"
        value="SearchCriteria.UpdateDateFrom"/>
      <DateInput
        editable="true"
        id="UpdateDateTo"
        label="displaykey.Web.Admin.WorkflowSearch.UpdateDateTo"
        value="SearchCriteria.UpdateDateTo"/>
    </InputColumn>
    <InputColumn>
      <RangeInput
        editable="true"
        id="CurrentStep"
        label="displaykey.Web.Admin.WorkflowSearch.CurrentStep"
        optionLabel="SearchCriteria.localizedStepName(VALUE)"
        value="SearchCriteria.CurrentStep"
        valueRange="SearchCriteria.getAvailableSteps()"
        visible="SearchCriteria.Workflowtype != null and SearchCriteria.ProcessVersion != null"/>
      <Input
        editable="true"
        id="Handler"
        label="displaykey.Web.Admin.WorkflowSearch.Handler"
        value="SearchCriteria.Handler"/>
      <TypeKeyInput
        editable="true"
        id="State"
        label="displaykey.Web.Admin.WorkflowSearch.State"
        value="SearchCriteria.State"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>