<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="WorkflowDetailDV">
    <Require
      name="Workflow"
      type="Workflow"/>
    <Variable
      initialValue="Workflow.activities"
      name="activities"
      recalculateOnRefresh="true"
      type="Activity[]"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.WorkflowDetail"/>
      <Input
        id="Type"
        label="displaykey.Web.Admin.WorkflowDetail.Type"
        value="Workflow.Subtype"/>
      <Input
        id="Handler"
        label="displaykey.Web.Admin.WorkflowDetail.Handler"
        value="Workflow.Handler"/>
      <Input
        id="Status"
        label="displaykey.Web.Admin.WorkflowDetail.Status"
        value="Workflow.State"/>
      <InputSet>
        <Input
          action="WorkflowDetail.go(Workflow.caller)"
          id="Parent"
          label="displaykey.Web.Admin.WorkflowDetail.Parent"
          value="Workflow.Caller"
          visible="Workflow.Caller != null"/>
        <Input
          id="ProcessVersion"
          label="displaykey.Web.Admin.WorkflowDetail.ProcessVersion"
          value="Workflow.ProcessVersion">
          <PostOnChange/>
        </Input>
        <Input
          id="CurrentStep"
          label="displaykey.Web.Admin.WorkflowDetail.CurrentStep"
          value="Workflow.localizedCurrentStepName()"/>
        <Input
          id="PrevStep"
          label="displaykey.Web.Admin.WorkflowDetail.PreviousStep"
          value="Workflow.localizedPreviousStepName()"/>
        <Input
          id="CurrentAction"
          label="displaykey.Web.Admin.WorkflowDetail.CurrentAction"
          value="Workflow.CurrentAction"/>
        <Input
          id="ActiveState"
          label="displaykey.Web.Admin.WorkflowDetail.ActiveState"
          value="Workflow.ActiveState"/>
        <Input
          id="Timeouts"
          label="displaykey.Web.Admin.WorkflowDetail.Timeouts"
          value="formatArrayOfStrings(Workflow.AvailableTimeouts as String)"/>
        <DateInput
          dateFormat="short"
          id="Timeout"
          label="displaykey.Web.Admin.WorkflowDetail.TimeoutTime"
          timeFormat="long"
          value="Workflow.TimeoutTime"/>
        <Input
          id="Triggers"
          label="displaykey.Web.Admin.WorkflowDetail.Triggers"
          value="formatArrayOfStrings(Workflow.AvailableTriggers as String)"/>
      </InputSet>
      <ListViewInput
        editable="false"
        label="displaykey.Web.Admin.WorkflowDetail.WorkItems">
        <Toolbar/>
        <ListViewPanel
          id="WorkflowWorkItemsLV">
          <RowIterator
            editable="false"
            elementName="Item"
            value="Workflow.findWorkflowWorkItems()">
            <Row>
              <DateCell
                dateFormat="short"
                id="CreationTime"
                label="displaykey.Web.Admin.Workflow.WorkItem.CreationTime"
                sortDirection="descending"
                sortOrder="1"
                timeFormat="short"
                value="Item.CreationTime"/>
              <DateCell
                dateFormat="short"
                id="LastUndateTime"
                label="displaykey.Web.Admin.Workflow.WorkItem.LastUpdate"
                timeFormat="short"
                value="Item.LastUpdateTime"/>
              <DateCell
                dateFormat="short"
                enableSort="false"
                id="AvailableAtTime"
                label="displaykey.Web.Admin.Workflow.WorkItem.AvailableAt"
                timeFormat="short"
                value="Item.AvailableSinceAsDate"/>
              <Cell
                id="Status"
                label="displaykey.Web.Admin.Workflow.WorkItem.Status"
                value="Item.Status"/>
              <Cell
                id="CheckedOutBy"
                label="displaykey.Web.Admin.Workflow.WorkItem.CheckedOutBy"
                value="Item.CheckedOutBy"/>
              <Cell
                enableSort="false"
                id="NumRetries"
                label="displaykey.Web.Admin.Workflow.WorkItem.NumRetries"
                value="Item.NumRetries"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        editable="false"
        label="displaykey.Web.Admin.WorkflowDetail.Activities"
        visible="activities.length &gt; 0">
        <Toolbar/>
        <ListViewPanel
          id="WorkflowActivitiesLV">
          <RowIterator
            editable="false"
            elementName="Activity"
            value="activities">
            <Row>
              <Cell
                id="Subject"
                label="displaykey.Web.Admin.WorkflowDetail.Activities.Subject"
                value="Activity.Subject"/>
              <Cell
                enableSort="false"
                icon="&quot;new.png&quot;"
                id="NewActivity"
                label="displaykey.Web.Admin.WorkflowDetail.Activities.New"
                value="Activity.UpdatedSinceLastViewed"/>
              <Cell
                enableSort="false"
                icon="&quot;escalated.png&quot;"
                id="Escalated"
                label="displaykey.Web.Admin.WorkflowDetail.Activities.Escalated"
                value="Activity.Overdue"/>
              <Cell
                id="Status"
                label="displaykey.Web.Admin.WorkflowDetail.Activities.Status"
                value="Activity.Status"/>
              <Cell
                id="TargetDate"
                label="displaykey.Web.Admin.WorkflowDetail.Activities.Due"
                value="Activity.TargetDate"/>
              <Cell
                id="Priority"
                label="displaykey.Web.Admin.WorkflowDetail.Activities.Priority"
                value="Activity.Priority"/>
              <TextCell
                id="AssignedUser"
                label="displaykey.Web.Admin.WorkflowDetail.Activities.AssignedTo"
                value="Activity.AssignedUser"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        editable="false"
        label="displaykey.Web.Admin.WorkflowDetail.Log">
        <Toolbar/>
        <ListViewPanel
          id="WorkflowLogLV">
          <RowIterator
            editable="false"
            elementName="LogEntry"
            value="Workflow.Log">
            <Row>
              <Cell
                id="LogDate"
                label="displaykey.Web.Admin.WorkflowLogLV.LogDate"
                sortBy="LogEntry.SortOrder"
                sortDirection="descending"
                sortOrder="1"
                value="util.StringUtil.formatDate(LogEntry.LogDate, &quot;MM/dd/yyyy HH:mm:ss&quot;)"/>
              <Cell
                action="WorkflowLogEntryDetail.go(Workflow, LogEntry as WorkflowTextLog)"
                available="LogEntry typeis WorkflowTextLog"
                enableSort="false"
                id="Summary"
                label="displaykey.Web.Admin.WorkflowLogLV.Summary"
                value="LogEntry.LocalizeMessage"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
    <Code><![CDATA[
function formatArrayOfStrings(str : String) : String {
         return str.substring(1,str.length - 1)
       }
    ]]></Code>
  </DetailViewPanel>
</PCF>