<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canVisit="perm.System.workflowview"
    countsAsWork="false"
    id="WorkflowStats"
    parent="Admin()"
    title="displaykey.Web.Admin.WorkflowStats.Title">
    <Screen
      id="WorkflowStatsScreen">
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="WorkflowStats"
        search="SearchCriteria.performSearch()"
        searchCriteria="new WFStatsSearchCriteria()"
        searchResultsType="WorkflowStepStatsQuery">
        <PanelRef
          def="WorkflowStatsDV(SearchCriteria)"/>
        <PanelRef
          def="WorkflowStatsLV(WorkflowStats)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Admin.WorkflowStats.Results"/>
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>