<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressDetailInputSet">
    <Require
      name="address"
      type="Address"/>
    <Require
      name="fullDisplay"
      type="boolean"/>
    <!-- display all fields if true, only a subset if false -->
    <Require
      name="requireBasicFields"
      type="boolean"/>
    <Input
      editable="true"
      id="AddressLine1"
      label="displaykey.Web.ContactDetail.AddressDetail.AddressLine1"
      required="requireBasicFields"
      value="address.AddressLine1"/>
    <Input
      editable="true"
      id="AddressLine2"
      label="displaykey.Web.ContactDetail.AddressDetail.AddressLine2"
      value="address.AddressLine2"/>
    <InputSetRef
      def="AddressAutofillableDVInputSet(address, fullDisplay, requireBasicFields)"/>
    <Input
      editable="true"
      id="AddressType"
      label="displaykey.Web.ContactDetail.AddressDetail.AddressType"
      required="requireBasicFields"
      value="address.AddressType"/>
    <Input
      editable="true"
      id="Description"
      label="displaykey.Web.ContactDetail.AddressDetail.Description"
      value="address.Description"
      visible="fullDisplay"/>
    <Input
      editable="true"
      id="ValidUntil"
      label="displaykey.Web.ContactDetail.AddressDetail.ValidUntil"
      value="address.ValidUntil"
      visible="fullDisplay"/>
  </InputSet>
</PCF>