<?xml version="1.0" encoding="UTF-8"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../schema/pcf.xsd">
  <Popup
    canEdit="false"
    id="ContactHistoryDetailPopup"
    title="displaykey.Web.ContactHistoryDetail.Title">
    <LocationEntryPoint
      signature="ContactHistoryDetailPopup(history : ContactHistory)"/>
    <Variable
      name="history"
      type="ContactHistory"/>
    <ScreenRef
      def="ContactHistoryDetailScreen(history)"/>
  </Popup>
</PCF>
