<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ContactEFTLV">
    <ExposeIterator
      valueType="entity.EFTData"
      widget="ContactEFTLV"/>
    <Require
      name="Contact"
      type="ABContact"/>
    <RowIterator
      editable="true"
      elementName="EFTRecord"
      hideCheckBoxesIfReadOnly="true"
      toAdd="Contact.addToEFTRecords( EFTRecord )"
      toRemove="Contact.removeFromEFTRecords( EFTRecord )"
      value="Contact.EFTRecords">
      <Row>
        <Cell
          editable="true"
          id="AccountName"
          label="displaykey.Web.Contact.EFT.AccountName"
          numCols="20"
          value="EFTRecord.AccountName"/>
        <Cell
          editable="true"
          id="BankName"
          label="displaykey.Web.Contact.EFT.BankName"
          numCols="20"
          required="true"
          value="EFTRecord.BankName"/>
        <TypeKeyCell
          editable="true"
          id="BankAccountType"
          label="displaykey.Web.Contact.EFT.AccountType"
          required="true"
          value="EFTRecord.BankAccountType"/>
        <PrivacyCell
          editable="true"
          encryptionExpression="EFTRecord.maskBankAccountNumber(VALUE)"
          id="BankAccountNumber"
          label="displaykey.Web.Contact.EFT.AccountNumber"
          numCols="20"
          required="true"
          value="EFTRecord.BankAccountNumber"/>
        <Cell
          align="left"
          editable="true"
          id="BankRoutingNumber"
          label="displaykey.Web.Contact.EFT.RoutingNumber"
          numCols="9"
          required="true"
          value="EFTRecord.BankRoutingNumber"/>
        <Cell
          editable="true"
          id="IsPrimary"
          label="displaykey.Web.Contact.EFT.Primary"
          validationExpression="Contact.EFTRecords.countWhere( \ e -&gt; e.IsPrimary == true ) &gt; 1 ? displaykey.Web.Contact.EFT.Primary.Validation : null"
          value="EFTRecord.IsPrimary"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>