<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="HistoryTrackedChangesLV">
    <Require
      name="history"
      type="History"/>
    <RowIterator
      editable="false"
      elementName="trackedChange"
      value="history.TrackedChanges">
      <Row>
        <Cell
          id="Field"
          label="displaykey.Web.HistoryTrackedChangesLV.ChangedField"
          sortDirection="descending"
          sortOrder="1"
          value="trackedChange.ChangedField"/>
        <Cell
          id="OldValue"
          label="displaykey.Web.HistoryTrackedChangesLV.OldValue"
          value="trackedChange.OldValue"
          visible="history.CustomType != CustomHistoryType.TC_PENDINGCHANGEREJECTED"/>
        <Cell
          id="NewValue"
          label="displaykey.Web.HistoryTrackedChangesLV.NewValue"
          value="trackedChange.NewValue"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>