<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuItemSet
    id="NewCompanyMenuItemSet">
    <MenuItem
      id="ContactsMenuActions_NewCompanyMenuItem"
      label="displaykey.Web.NewContactMenu.NewCompany"
      shortcut="C">
      <MenuItem
        action="NewContact.go(entity.ABCompany)"
        id="ContactsMenuActions_OtherCompanyMenuItem"
        label="displaykey.Training.CompanyGeneric"/>
      <MenuItem
        action="NewContact.go(entity.ABPolicyCompany)"
        id="ContactsMenuActions_PolicyCompanyMenuItem"
        label="displaykey.Web.NewContactMenu.PolicyCompany"/>
      <MenuItem
        id="ContactsMenuActions_CompanyVendorMenuItem"
        label="displaykey.Web.NewContactMenu.CompanyVendor">
        <MenuItem
          action="NewContact.go(entity.ABCompanyVendor)"
          id="ContactsMenuActions_OtherCompanyVendorMenuItem"
          label="displaykey.Training.CompanyVendorGeneric"/>
        <MenuItem
          action="NewContact.go(entity.ABAutoRepairShop)"
          id="ContactsMenuActions_AutoRepairShopMenuItem"
          label="displaykey.Web.NewContactMenu.AutoRepairShop"/>
        <MenuItem
          action="NewContact.go(entity.ABAutoTowingAgcy)"
          id="ContactsMenuActions_AutoTowingAgcyShopMenuItem"
          label="displaykey.Web.NewContactMenu.AutoTowingAgcy"/>
        <MenuItem
          action="NewContact.go(entity.ABLawFirm)"
          id="ContactsMenuActions_LawFirmMenuItem"
          label="displaykey.Web.NewContactMenu.LawFirm"/>
        <MenuItem
          action="NewContact.go(entity.ABMedicalCareOrg)"
          id="ContactsMenuActions_MedicalCareOrgMenuItem"
          label="displaykey.Web.NewContactMenu.MedicalCareOrg"/>
      </MenuItem>
    </MenuItem>
  </MenuItemSet>
</PCF>