<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuItemSet
    id="NewContactMenuItemSet">
    <MenuItemSetRef
      def="NewPersonMenuItemSet()"/>
    <MenuItemSetRef
      def="NewCompanyMenuItemSet()"/>
    <MenuItemSetRef
      def="NewPlaceMenuItemSet()"/>
  </MenuItemSet>
</PCF>