<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuItemSet
    id="NewPersonMenuItemSet">
    <MenuItem
      id="ContactsMenuActions_NewPersonMenuItem"
      label="displaykey.Web.NewContactMenu.NewPerson"
      shortcut="P">
      <MenuItem
        action="NewContact.go(entity.ABPerson)"
        id="ContactsMenuActions_OtherPersonMenuItem"
        label="displaykey.Training.PersonGeneric"/>
      <MenuItem
        action="NewContact.go(entity.ABAdjudicator)"
        id="ContactsMenuActions_AdjudicatorMenuItem"
        label="displaykey.Web.NewContactMenu.Adjudicator"/>
      <MenuItem
        action="NewContact.go(entity.ABUserContact)"
        id="ContactsMenuActions_UserContactMenuItem"
        label="displaykey.Web.NewContactMenu.UserContact"/>
      <MenuItem
        action="NewContact.go(entity.ABPolicyPerson)"
        id="ContactsMenuActions_PolicyPersonMenuItem"
        label="displaykey.Web.NewContactMenu.PolicyPerson"/>
      <MenuItem
        id="ContactsMenuActions_PersonVendorMenuItem"
        label="displaykey.Web.NewContactMenu.PersonVendor">
        <MenuItem
          action="NewContact.go(entity.ABPersonVendor)"
          id="ContactsMenuActions_OtherPersonVendorMenuItem"
          label="displaykey.Training.PersonVendorGeneric"/>
        <MenuItem
          action="NewContact.go(entity.ABAttorney)"
          id="ContactsMenuActions_AttorneyMenuItem"
          label="displaykey.Web.NewContactMenu.Attorney"/>
        <MenuItem
          action="NewContact.go(entity.ABDoctor)"
          id="ContactsMenuActions_DoctorMenuItem"
          label="displaykey.Web.NewContactMenu.Doctor"/>
      </MenuItem>
    </MenuItem>
  </MenuItemSet>
</PCF>