<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    desc="Provides a reusable panel displaying an ABContact's review summaries in a ListDetailPanel."
    id="ReviewSummaryPanelSet">
    <Require
      name="contact"
      type="ABContact"/>
    <ListDetailPanel
      desc="List of Review Summaries"
      id="ReviewSummaryCardPanel"
      selectionName="selectedSummary"
      selectionType="ReviewSummary">
      <ListViewPanel
        id="ReviewSummaryLV"
        visible="perm.ReviewSummary.list">
        <RowIterator
          editable="true"
          elementName="reviewSummary"
          pageSize="10"
          type="ReviewSummary"
          value="gw.api.contact.ABReviewUtil.getReviewSummaries(contact) as ReviewSummaryQuery">
          <Row>
            <Cell
              id="ReviewType"
              label="displaykey.Web.Reviews.ReviewType"
              value="reviewSummary.Name"/>
            <Cell
              id="RelatedTo"
              label="displaykey.Web.Reviews.RelatedTo"
              value="reviewSummary.RelatedTo"/>
            <Cell
              id="Claim"
              label="displaykey.Web.Reviews.Claim"
              value="reviewSummary.ClaimNumber"/>
            <Cell
              id="Score"
              label="displaykey.Web.Reviews.ReviewScore"
              value="reviewSummary.Score"/>
            <DateCell
              id="LastUpdated"
              label="displaykey.Web.Reviews.LastUpdated"
              sortOrder="1"
              value="reviewSummary.UpdateTime"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <CardViewPanel>
        <Card
          id="ReviewDetailCard"
          title="displaykey.Web.Reviews.Review"
          visible="perm.ReviewSummary.view">
          <DetailViewPanel
            id="ReviewSummaryDV">
            <InputColumn>
              <Label
                label="displaykey.Web.Reviews.GeneralInformation"/>
              <TextInput
                id="ReviewType"
                label="displaykey.Web.Reviews.ReviewType"
                value="selectedSummary.Name"/>
              <TextInput
                id="ReviewClaim"
                label="displaykey.Web.Reviews.Claim"
                value="selectedSummary.ClaimNumber"/>
              <TextInput
                id="ReviewRelatedTo"
                label="displaykey.Web.Reviews.RelatedTo"
                value="selectedSummary.RelatedTo"/>
              <TextInput
                id="ReviewedBy"
                label="displaykey.Web.Reviews.ReviewedBy"
                value="selectedSummary.ReviewedBy"/>
              <TextInput
                id="ReviewScore"
                label="displaykey.Web.Reviews.OverallScore"
                value="selectedSummary.Score"/>
              <InputDivider/>
              <Label
                label="displaykey.Web.Reviews.ServiceInformation"/>
              <TextInput
                id="ReviewContact"
                label="displaykey.Web.Reviews.Contact"
                value="selectedSummary.ABContact"/>
              <TextInput
                editable="true"
                id="TextInput0"
                label="displaykey.Web.Reviews.ServicedBy"
                value="selectedSummary.Subcontact"/>
              <DateInput
                id="ReviewServiceDate"
                label="displaykey.Web.Reviews.ServiceDate"
                value="selectedSummary.ServiceDate"/>
              <TypeKeyInput
                id="ReviewServiceType"
                label="displaykey.Web.Reviews.ServiceType"
                value="selectedSummary.ServiceType"/>
              <InputDivider/>
              <Label
                label="displaykey.Web.Reviews.Comments"/>
              <TextAreaInput
                id="ReviewComments"
                label="displaykey.Web.Reviews.Comments"
                numRows="4"
                value="selectedSummary.Comments"/>
              <InputDivider/>
              <ListViewInput
                label="displaykey.Web.Reviews.CategoryScores">
                <Toolbar/>
                <ListViewPanel
                  id="CategoryScoresLV">
                  <RowIterator
                    editable="false"
                    elementName="categoryScore"
                    hasCheckBoxes="false"
                    pageSize="0"
                    value="selectedSummary.getSortedCategoryScores()">
                    <Row>
                      <TypeKeyCell
                        enableSort="false"
                        id="Category"
                        label="displaykey.Web.Reviews.Category"
                        value="categoryScore.ReviewCategory"/>
                      <Cell
                        enableSort="false"
                        id="Score"
                        label="displaykey.Web.Reviews.Score"
                        value="categoryScore.Score"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </PanelSet>
</PCF>