<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="TagsInputSet">
    <Require
      name="contact"
      type="ABContact"/>
    <Variable
      initialValue="new gw.web.ContactDetailsVendorHelper(contact)"
      name="contactDetailsVendorHelper"
      type="gw.web.ContactDetailsVendorHelper"/>
    <Input
      id="TagsNonEdit"
      label="displaykey.Web.ContactDetail.Tags"
      value="contact.TagTypes.map(\ c -&gt; c.DisplayName).sort().join(&quot;, &quot;)"
      visible="!CurrentLocation.InEditMode"/>
    <RangeInput
      editable="true"
      id="Tags"
      label="displaykey.Web.ContactDetail.Tags"
      numRows="3"
      required="true"
      value="contact.TagTypes"
      valueRange="contact.New ? ContactTagType.getTypeKeys(false).where(\ ctt -&gt; perm.ABContact.create(ctt)) : ContactTagType.getTypeKeys(false)"
      visible="CurrentLocation.InEditMode">
      <PostOnChange
        onChange="contactDetailsVendorHelper.fixInMemoryContactForVendorTagRequirements()"/>
    </RangeInput>
  </InputSet>
</PCF>