<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="BasicAddressInputSet">
    <Require
      name="anAddress"
      type="Address"/>
    <Variable
      initialValue="showUSSpecificFields()"
      name="ShowUSSpecificFields"
      type="boolean"/>
    <Input
      editable="true"
      id="AddressLine1"
      label="displaykey.Training.AddressLine1"
      value="anAddress.AddressLine1"/>
    <Input
      editable="true"
      id="AddressLine2"
      label="displaykey.Training.AddressLine2"
      value="anAddress.AddressLine2"/>
    <Input
      editable="true"
      id="City"
      label="displaykey.Training.City"
      required="false"
      value="anAddress.City"/>
    <Input
      editable="true"
      id="County"
      label="displaykey.Training.County"
      value="anAddress.County"/>
    <Input
      editable="true"
      id="State"
      label="displaykey.Training.State"
      value="anAddress.State"
      visible="ShowUSSpecificFields"/>
    <Input
      editable="true"
      id="PostalCode"
      label="displaykey.Training.PostalCode"
      value="anAddress.PostalCode"/>
    <Input
      editable="true"
      id="Country"
      label="displaykey.Training.Country"
      value="anAddress.Country"/>
    <Input
      editable="true"
      id="Description"
      label="displaykey.Training.Description"
      value="anAddress.Description"/>
    <Input
      editable="true"
      id="ValidUntil"
      label="displaykey.Training.ValidUntil"
      value="anAddress.ValidUntil"/>
    <Code><![CDATA[/* function returns  local variable for PCF; use local variables where possible for ScriptParameters */
function showUSSpecificFields() : boolean {
  if (ScriptParameters.ShowUSSpecificFields !=null && ScriptParameters.ShowUSSpecificFields.booleanValue()) {
    return ScriptParameters.ShowUSSpecificFields
  }
  return true
} ]]></Code>
  </InputSet>
</PCF>