<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Worksheet
    beforeCommit="anABPerson.NewPrimaryPhone = EnteredPhoneNumber"
    canEdit="true"
    id="ResetPrimaryPhoneWorksheet"
    startInEditMode="true"
    tabLabel="displaykey.Training.ResetPrimaryPhone(anABPerson.FullName)"
    title="displaykey.Training.ResetPrimaryPhone(anABPerson.FullName)">
    <LocationEntryPoint
      signature="ResetPrimaryPhoneWorksheet(anABPerson:ABPerson)"/>
    <Scope
      location="ABContactLG(anABPerson)"/>
    <Variable
      name="anABPerson"
      type="ABPerson"/>
    <Variable
      name="EnteredPhoneNumber"
      type="String"/>
    <Screen>
      <PanelRef>
        <Toolbar>
          <EditButtons/>
        </Toolbar>
        <DetailViewPanel>
          <InputColumn>
            <Input
              id="PrimaryPhone"
              label="displaykey.Training.CurrentPrimaryPhoneType"
              value="anABPerson.PrimaryPhone"/>
            <Input
              id="HomePhone"
              label="displaykey.Training.CurrentHomePhone"
              value="anABPerson.HomePhone"/>
            <Input
              id="CellPhone"
              label="displaykey.Training.CurrentCellPhone"
              value="anABPerson.CellPhone"/>
            <Input
              id="BusinessPhone"
              label="displaykey.Training.CurrentWorkPhone"
              value="anABPerson.WorkPhone"/>
            <Input
              editable="true"
              id="NewPrimaryPhoneNumber"
              label="displaykey.Training.NewPrimaryPhoneNumber"
              value="EnteredPhoneNumber"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
    </Screen>
  </Worksheet>
</PCF>