<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="AssignmentQueueLV">
    <Require
      name="Queues"
      type="AssignableQueueQuery"/>
    <RowIterator
      editable="false"
      elementName="Queue"
      pickValue="Queue"
      selectLabel="displaykey.Button.Assign"
      value="Queues">
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.Assignment.Search.Name"
          sortOrder="1"
          value="Queue"/>
        <Cell
          enableSort="false"
          id="Group"
          label="displaykey.Web.Assignment.Search.Group"
          sortBy="Queue.Group.Name"
          value="Queue.Group"/>
        <Cell
          id="Description"
          label="displaykey.Web.Assignment.Search.Description"
          value="Queue.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>