<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="AssignmentSearchInputSet">
    <Require
      name="assignmentSearchTypes"
      type="AssignmentSearchType[]"/>
    <Require
      name="searchResult"
      type="gw.api.assignment.AssignmentSearchResult"/>
    <Require
      name="searchCriteria"
      type="gw.api.assignment.AssignmentSearchCriteria"/>
    <RangeInput
      editable="assignmentSearchTypes.length &gt; 1"
      id="SearchFor"
      label="displaykey.Web.Assignment.Search.SearchFor"
      value="searchCriteria.SearchType"
      valueRange="assignmentSearchTypes">
      <PostOnChange
        onChange="if (searchResult != null) { searchResult.clear() }"/>
    </RangeInput>
    <Input
      editable="true"
      id="Username"
      label="displaykey.Web.Assignment.Search.Username"
      value="searchCriteria.UserCriteria.Username"
      visible="searchCriteria.SearchType == &quot;User&quot;"/>
    <InputSetRef
      def="PLNameInputSet(new gw.api.name.UserSearchNameOwner(searchCriteria.UserCriteria.Contact))"
      editable="true"
      mode="&quot;Person&quot;"
      visible="searchCriteria.SearchType == &quot;User&quot;"/>
    <Input
      editable="true"
      id="GroupCriteriaName"
      label="gw.api.util.LocaleUtil.CurrentLocaleType == LocaleType.TC_JA_JP ? displaykey.Web.Assignment.Search.GroupNamePhonetic : displaykey.Web.Assignment.Search.GroupName"
      value="searchCriteria.GroupCriteria.GroupName"
      visible="searchCriteria.SearchType == &quot;Group&quot;"/>
    <Input
      editable="true"
      id="GroupCriteriaNameKanji"
      label="displaykey.Web.Assignment.Search.GroupName"
      value="searchCriteria.GroupCriteria.GroupNameKanji"
      visible="searchCriteria.SearchType == &quot;Group&quot; and gw.api.util.LocaleUtil.CurrentLocaleType == LocaleType.TC_JA_JP"/>
    <Input
      editable="true"
      id="GroupName"
      label="(gw.api.util.LocaleUtil.CurrentLocaleType == LocaleType.TC_JA_JP) ? displaykey.Web.Assignment.Search.GroupNamePhonetic : displaykey.Web.Assignment.Search.GroupName"
      value="searchCriteria.QueueCriteria.QueueGroupName"
      visible="searchCriteria.SearchType == &quot;Queue&quot;"/>
    <Input
      editable="true"
      id="GroupNameKanji"
      label="displaykey.Web.Assignment.Search.GroupName"
      value="searchCriteria.QueueCriteria.QueueGroupNameKanji"
      visible="searchCriteria.SearchType == &quot;Queue&quot; and gw.api.util.LocaleUtil.CurrentLocaleType == LocaleType.TC_JA_JP"/>
    <Input
      editable="true"
      id="QueueName"
      label="displaykey.Web.Assignment.Search.QueueName"
      value="searchCriteria.QueueCriteria.QueueName"
      visible="searchCriteria.SearchType == &quot;Queue&quot;"/>
  </InputSet>
</PCF>