<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- ListView that displays the results of a Group search when selecting a group
    to assign an Assignable entity to (such as an Activity). -->
  <ListViewPanel
    id="AssignmentGroupLV">
    <Require
      name="Groups"
      type="GroupQuery"/>
    <RowIterator
      editable="false"
      elementName="group"
      pickValue="group"
      selectLabel="displaykey.Button.Assign"
      value="Groups">
      <Row>
        <Cell
          id="Group"
          label="displaykey.Web.Assignment.Search.Group"
          sortOrder="1"
          value="group"/>
        <Cell
          enableSort="false"
          id="ParentGroup"
          label="displaykey.Web.Assignment.Search.ParentGroup"
          value="group.Parent"/>
        <Cell
          enableSort="false"
          id="Organization"
          label="displaykey.Web.Assignment.Search.Organization"
          value="group.Organization"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>