<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="AssignmentPopupDV">
    <Require
      name="AssignmentPopup"
      type="assignment.AssignmentPopup"/>
    <Require
      name="SearchResult"
      type="assignment.AssignmentSearchResult"/>
    <Require
      name="SearchCriteria"
      type="assignment.AssignmentSearchCriteria"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Assignment.Popup.SelectMethod"/>
      <Choice
        id="SelectFromListChoice"
        option="&quot;FromList&quot;"
        value="AssignmentPopup.SelectionType">
        <RangeInput
          available="AssignmentPopup.SelectionType == &quot;FromList&quot;"
          editable="true"
          id="SelectFromList"
          label="displaykey.Web.Assignment.Popup.SelectFromList"
          sortValueRange="false"
          value="AssignmentPopup.SelectedFromList"
          valueRange="AssignmentPopup.SuggestedAssignees"/>
        <ButtonInput
          action="if(AssignmentPopup.performAssignment()) CurrentLocation.cancel()"
          id="AssignmentByGroupPopupScreen_ButtonButton"
          value="displaykey.Web.Assignment.Popup.Button"/>
      </Choice>
      <InputDivider/>
      <Choice
        id="SelectFromSearchChoice"
        option="&quot;FromSearch&quot;"
        value="AssignmentPopup.SelectionType">
        <Input
          id="SelectFromSearch"
          label="AssignmentPopup.SelectFromSearchLabel"
          value="AssignmentPopup.Picker.Selection"/>
        <InputSetRef
          def="AssignmentSearchInputSet(AssignmentPopup.Picker.AllowedAssignmentSearchTypes as typekey.AssignmentSearchType[], SearchResult, SearchCriteria)"/>
      </Choice>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>