<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="AssignmentUserLV">
    <Require
      name="GroupUsers"
      type="GroupUserQuery"/>
    <RowIterator
      editable="false"
      elementName="GroupUser"
      pickValue="new assignment.UserAssignee(GroupUser)"
      selectLabel="displaykey.Button.Assign"
      value="groupUsers">
      <Row>
        <TextCell
          id="User"
          label="displaykey.Web.Assignment.Search.User"
          sortOrder="1"
          value="GroupUser.User"/>
        <Cell
          enableSort="false"
          id="Group"
          label="displaykey.Web.Assignment.Search.Group"
          sortBy="GroupUser.Group.Name"
          value="GroupUser.Group"/>
        <Cell
          enableSort="false"
          id="ParentGroup"
          label="displaykey.Web.Assignment.Search.ParentGroup"
          sortBy="GroupUser.Group.Parent"
          value="GroupUser.Group.Parent"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>