<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="GroupUserPickerPopup"
    returnType="GroupUser"
    startInEditMode="true"
    title="displaykey.Web.GroupUserPicker.Title">
    <Screen
      id="GroupUserPickerScreen">
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="SearchResult"
        search="SearchCriteria.performGroupUserSearch()"
        searchCriteria="new UserSearchCriteria()"
        searchResultsType="GroupUserQuery">
        <PanelRef
          def="GroupUserSearchDV(SearchCriteria)"/>
        <PanelRef
          def="GroupUserLV(SearchResult)">
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>