<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="PrintOptionDV">
    <Require
      name="PrintOptions"
      type="gw.api.print.ListViewPrintOptions"/>
    <InputColumn>
      <Choice
        id="PrintChoice"
        option="&quot;pdf&quot;"
        value="PrintOptions.Choice">
        <Input
          id="DoPrint"
          label="displaykey.Web.PrintOptions.Print"
          value="&quot;&quot;"/>
      </Choice>
      <Choice
        id="ExportChoice"
        option="&quot;csv&quot;"
        value="PrintOptions.Choice">
        <Input
          id="Export"
          label="displaykey.Web.PrintOptions.Export"
          value="&quot;&quot;"/>
      </Choice>
      <Choice
        id="CustomExportChoice"
        option="&quot;customCsv&quot;"
        value="PrintOptions.Choice">
        <Input
          id="CustomExport"
          label="displaykey.Web.PrintOptions.ExportCustom"
          value="&quot;&quot;"/>
      </Choice>
      <ListViewInput
        editable="true"
        labelAbove="true"
        visible="PrintOptions.Choice == &quot;customCsv&quot;">
        <Toolbar/>
        <ListViewPanel
          id="CustomCsvColumnsLV">
          <RowIterator
            editable="true"
            elementName="ListViewColumn"
            pageSize="0"
            value="PrintOptions.ColumnHeaders">
            <Row
              editable="true">
              <CheckBoxCell
                editable="true"
                id="Select"
                value="ListViewColumn.Checked"/>
              <Cell
                enableSort="false"
                id="Name"
                label="displaykey.Web.PrintOptions.Column"
                value="ListViewColumn.DisplayName"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider
        visible="PrintOptions.Choice != &quot;pdf&quot; and !CharacterSet.getTypeKeys(true).isEmpty()"/>
      <RangeInput
        editable="true"
        id="charsetRI"
        label="displaykey.Web.PrintOptions.CharacterEncoding"
        required="true"
        sortValueRange="false"
        value="PrintOptions.CharacterEncoding"
        valueRange="CharacterSet.getTypeKeys( true )"
        visible="PrintOptions.Choice != &quot;pdf&quot; and !CharacterSet.getTypeKeys(true).isEmpty()"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>