<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- Options for printing ListView -->
  <Popup
    canEdit="true"
    countsAsWork="false"
    id="PrintOptionPopup"
    startInEditMode="true"
    title="displaykey.Web.PrintOptions.Title">
    <LocationEntryPoint
      signature="PrintOptionPopup(PrintOptions : gw.api.print.ListViewPrintOptions)"/>
    <Variable
      name="PrintOptions"
      type="gw.api.print.ListViewPrintOptions"/>
    <Screen
      id="PrintOptionPopupScreen">
      <Toolbar>
        <ToolbarButton
          action="print.ListViewCustomPrintAction.printListViewWithSettings(PrintOptions)"
          download="true"
          id="Ok"
          label="displaykey.Button.OK"
          shortcut="K"/>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="Done"
          label="displaykey.Button.Cancel"
          shortcut="E"/>
      </Toolbar>
      <Verbatim
        label="displaykey.Web.PrintOptions.Label.SelectPrintOptions"/>
      <PanelRef
        def="PrintOptionDV(PrintOptions)"/>
    </Screen>
  </Popup>
</PCF>