<html>
  <head>
    <title><%= TitleKey %></title>
    <base href="<%= BaseURL %>">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <style>
      .about-text {
        font-family: Courier New, Courier, monotype;
        font-size: 11px;
        font-weight: normal;
        color: #47637E;
      }
      .preview-text {
        font-family: Courier New, Courier, monotype;
        font-size: 20px;
        font-weight: bold;
        color: #47637E;
      }
    </style>
  </head>
  <body class="about-body" bgcolor="#FFFFFF" topmargin="1" leftmargin="1" marginwidth="0" marginheight="0" link="#0000FF" alink="#0000FF" vlink="#0000FF">
    <form action="About.do?inFrame=about" method="POST" name="about">
      <img src="images/app/about-splash.png" >
      <table width="100%" height="100%" cellspacing="0" cellpadding="0" style="position:absolute;top:0px;left:0px;z-index: 5">
        <tr>
          <td width="100%" height="100%">
            <!-- cover background image -->
          </td>
        </tr>
      </table>

      <div class="preview-text" style="position:absolute; left: 5px; bottom: 95px;z-index: 20">
        <%= PreviewWarning %><br>
      </div>

      <div class="about-text" style="position:absolute; left: 20px; bottom: 6px; top: 213px;z-index: 10">
        <%= AppVersionKey %> <%= AppVersion %><br>
        <%= PlatformVersionKey %> <%= PlatformVersion %><br>
        <%= SchemaVersionKey %> <%= SchemaVersion %><br>
        <%= ServerInstanceKey %> <%= ServerInstance %>&nbsp;&nbsp;<%= ConfigEnvKey %> <%= ConfigEnv %><br>
      </div>
    </form>
  </body>
</html>
