<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="UserSearchResultsLV">
    <Require
      name="searchResults"
      type="UserQuery"/>
    <Require
      name="EnablePick"
      type="boolean"/>
    <Require
      name="searchCriteria"
      type="UserSearchCriteria"/>
    <Require
      name="EnableCheckbox"
      type="boolean"/>
    <RowIterator
      canPick="EnablePick"
      checkBoxVisible="EnableCheckbox"
      editable="false"
      elementName="user"
      hasCheckBoxes="true"
      pickValue="user"
      value="searchResults">
      <ToolbarFlag
        name="User"/>
      <Row>
        <Cell
          action="UserDetailPopup.push(user)"
          id="DisplayName"
          label="displaykey.Web.UserSearchResults.DisplayName"
          sortBy="user"
          sortOrder="1"
          value="user.DisplayName"/>
        <Cell
          id="Username"
          label="displaykey.Web.UserSearchResults.Username"
          value="user.Credential.UserName"/>
        <TextCell
          enableSort="false"
          id="GroupName"
          label="displaykey.Web.UserSearchResults.GroupName"
          numCols="100"
          numEntries="5"
          value="user.AllGroups"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
