<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    autosaveable="false"
    countsAsWork="false"
    id="UserSearchPopup"
    returnType="User"
    title="displaykey.Web.Admin.UserSearchPopup">
    <LocationEntryPoint
      signature="UserSearchPopup()"/>
    <LocationEntryPoint
      signature="UserSearchPopup(Organization : Organization)"/>
    <Variable
      initialValue="null"
      name="Organization"
      type="Organization"/>
    <Variable
      initialValue="new gw.api.contact.ProximitySearchPageHelper()"
      name="psph"/>
    <Screen
      id="UserSearchPopupScreen">
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="searchResults"
        search="SearchCriteria.performSearchByProximity(CurrentLocation, psph)"
        searchCriteria="new UserSearchCriteria()"
        searchResultsType="UserQuery">
        <PanelRef
          def="UserSearchDV(SearchCriteria)"/>
        <PanelRef
          def="UserSearchResultsLV(searchResults, true, SearchCriteria, false)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>
