<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="GlobalContactNameInputSet"
    mode="Japan">
    <Require
      name="nameOwner"
      type="gw.api.name.NameOwner"/>
    <Variable
      initialValue="gw.api.name.NameOwnerFieldId"
      name="fieldId"/>
    <Variable
      initialValue="nameOwner.InEditMode = CurrentLocation.InEditMode; return 0"
      name="saveEditMode"
      recalculateOnRefresh="true"/>
    <Input
      id="NameSummary"
      label="nameOwner.ContactNameLabel"
      value="nameOwner.ContactName.NameKanji.HasContent ? nameOwner.ContactName.NameKanji : nameOwner.ContactName.Name"
      visible="nameOwner.ShowNameSummary"/>
    <TextInput
      available="nameOwner.isAvailable(fieldId.NP_NAME)"
      editable="nameOwner.isEditable(fieldId.NP_NAME)"
      id="Name"
      label="nameOwner.ContactNamePhoneticLabel"
      required="nameOwner.isRequired(fieldId.NP_NAME)"
      value="nameOwner.ContactName.Name"
      visible="nameOwner.isVisible(fieldId.NP_NAME)"/>
    <TextInput
      available="nameOwner.isAvailable(fieldId.NAMEKANJI)"
      editable="nameOwner.isEditable(fieldId.NAMEKANJI)"
      id="NameKanji"
      label="nameOwner.ContactNameLabel"
      required="nameOwner.isRequired(fieldId.NAMEKANJI)"
      value="nameOwner.ContactName.NameKanji"
      visible="nameOwner.isVisible(fieldId.NAMEKANJI)"/>
  </InputSet>
</PCF>