<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="GlobalContactNameInputSet"
    mode="default">
    <Require
      name="nameOwner"
      type="gw.api.name.NameOwner"/>
    <Variable
      initialValue="gw.api.name.NameOwnerFieldId"
      name="fieldId"/>
    <Variable
      initialValue="nameOwner.InEditMode = CurrentLocation.InEditMode; return 0"
      name="saveEditMode"
      recalculateOnRefresh="true"/>
    <TextInput
      available="nameOwner.isAvailable(fieldId.NP_NAME)"
      editable="nameOwner.isEditable(fieldId.NP_NAME)"
      id="Name"
      label="nameOwner.ContactNameLabel"
      required="nameOwner.isRequired(fieldId.NP_NAME)"
      value="nameOwner.ContactName.Name "/>
  </InputSet>
</PCF>