<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="GlobalPersonNameInputSet"
    mode="Japan">
    <Require
      name="nameOwner"
      type="gw.api.name.NameOwner"/>
    <Variable
      initialValue="gw.api.name.NameOwnerFieldId"
      name="fieldId"/>
    <Variable
      initialValue="nameOwner.InEditMode = CurrentLocation.InEditMode; return 0"
      name="saveEditMode"
      recalculateOnRefresh="true"/>
    <Input
      id="NameSummary"
      label="displaykey.Web.ContactDetail.Name.PersonName"
      value="new gw.api.name.NameFormatter().format(nameOwner.PersonName, &quot; &quot;)"
      visible="nameOwner.ShowNameSummary"/>
    <TextInput
      available="nameOwner.isAvailable(fieldId.LASTNAME)"
      editable="nameOwner.isEditable(fieldId.LASTNAME)"
      id="LastName"
      label="nameOwner.LastNamePhoneticLabel"
      required="nameOwner.isRequired(fieldId.LASTNAME)"
      value="nameOwner.PersonName.LastName"
      visible="nameOwner.isVisible(fieldId.LASTNAME)"/>
    <TextInput
      available="nameOwner.isAvailable(fieldId.FIRSTNAME)"
      editable="nameOwner.isEditable(fieldId.FIRSTNAME)"
      id="FirstName"
      label="nameOwner.FirstNamePhoneticLabel"
      required="nameOwner.isRequired(fieldId.FIRSTNAME)"
      value="nameOwner.PersonName.FirstName"
      visible="nameOwner.isVisible(fieldId.FIRSTNAME)"/>
    <TextInput
      available="nameOwner.isAvailable(fieldId.LASTNAMEKANJI)"
      editable="nameOwner.isEditable(fieldId.LASTNAMEKANJI)"
      id="LastNameKanji"
      label="nameOwner.LastNameLabel"
      required="nameOwner.isRequired(fieldId.LASTNAMEKANJI)"
      value="nameOwner.PersonName.LastNameKanji"
      visible="nameOwner.isVisible(fieldId.LASTNAMEKANJI)"/>
    <TextInput
      available="nameOwner.isAvailable(fieldId.FIRSTNAMEKANJI)"
      editable="nameOwner.isEditable(fieldId.FIRSTNAMEKANJI)"
      id="FirstNameKanji"
      label="nameOwner.FirstNameLabel"
      required="nameOwner.isRequired(fieldId.FIRSTNAMEKANJI)"
      value="nameOwner.PersonName.FirstNameKanji"
      visible="nameOwner.isVisible(fieldId.FIRSTNAMEKANJI)"/>
  </InputSet>
</PCF>