<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="ABCompanyVendorSpecialtyInputSet"
    mode="ABAutoTowingAgcy">
    <Require
      name="contact"
      type="ABContact"/>
    <Input
      editable="true"
      id="AutoTowingAgcyBusinessLicense"
      label="displaykey.Web.ContactDetail.AutoTowingAgcy.BusinessLicense"
      value="(contact as ABAutoTowingAgcy).AutoTowingLicense"/>
  </InputSet>
</PCF>
