<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="ABUserContactBasicsInputSet"
    mode="ABUserContact">
    <Require
      name="contact"
      type="ABContact"/>
    <Input
      editable="true"
      id="EmployeeNumber"
      label="displaykey.Web.ContactDetail.AdditionalInfo.EmployeeNumber"
      required="true"
      value="(contact as ABUserContact).EmployeeNumber"/>
  </InputSet>
</PCF>
