<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ContactBasicsDV"
    mode="default">
    <Require
      name="contact"
      type="ABContact"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ContactDetail.UndefinedType(contact.subType)"
        visible="contact != null"/>
      <Label
        label="displaykey.Web.ContactDetail.NullType"
        visible="contact == null"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
