<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ReportsConfigWarningPage"
    parent="Reports()"
    title="displaykey.Java.Message.Severity.Warning">
    <Screen
      id="ReportsConfigWarningPageScreen">
      <Toolbar/>
      <Verbatim
        label="displaykey.Web.Reporting.ServerDownWarning"/>
    </Screen>
  </Page>
</PCF>