<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ScriptParameterDetailDV">
    <Require
      name="ScriptParameter"
      type="ScriptParameter"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.ScriptParameterDetailDV.ScriptParameter"/>
      <Input
        id="Name"
        label="displaykey.Web.Admin.ScriptParameterDetailDV.Name"
        required="true"
        value="ScriptParameter.ParameterName"/>
      <Input
        id="Type"
        label="displaykey.Web.Admin.ScriptParameterDetailDV.Type"
        required="true"
        value="ScriptParameter.ParameterType"/>
      <BooleanRadioInput
        align="left"
        editable="true"
        id="BitValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.BitValue"
        visible="ScriptParameter.ParameterType==&quot;bit&quot;"/>
      <Input
        align="left"
        editable="true"
        id="DatetimeValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.DatetimeValue"
        visible="ScriptParameter.ParameterType==&quot;datetime&quot;"/>
      <Input
        align="left"
        editable="true"
        id="DecimalValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.DecimalValue"
        visible="ScriptParameter.ParameterType==&quot;decimal&quot;"/>
      <Input
        align="left"
        editable="true"
        id="MoneyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.MoneyValue"
        visible="ScriptParameter.ParameterType==&quot;money&quot;"/>
      <Input
        align="left"
        editable="true"
        id="NonnegativeintegerValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.NonnegativeintegerValue"
        visible="ScriptParameter.ParameterType==&quot;nonnegativeinteger&quot;"/>
      <Input
        align="left"
        editable="true"
        id="NonnegativemoneyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.NonnegativemoneyValue"
        visible="ScriptParameter.ParameterType==&quot;nonnegativemoney&quot;"/>
      <Input
        align="left"
        editable="true"
        id="RiskValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.RiskValue"
        visible="ScriptParameter.ParameterType==&quot;risk&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PostalCodeValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.PostalCodeValue"
        visible="ScriptParameter.ParameterType==&quot;postalcode&quot;"/>
      <Input
        align="left"
        editable="true"
        id="SpeedValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.SpeedValue"
        visible="ScriptParameter.ParameterType==&quot;speed&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PhoneValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.PhoneValue"
        visible="ScriptParameter.ParameterType==&quot;phone&quot;"/>
      <Input
        align="left"
        editable="true"
        id="YearValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.YearValue"
        visible="ScriptParameter.ParameterType==&quot;year&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PercentageValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.PercentageValue"
        visible="ScriptParameter.ParameterType==&quot;percentage&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PercentagedecValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.PercentagedecValue"
        visible="ScriptParameter.ParameterType==&quot;percentagedec&quot;"/>
      <Input
        align="left"
        editable="true"
        id="MonthlyfrequencyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.MonthlyfrequencyValue"
        visible="ScriptParameter.ParameterType==&quot;monthlyfrequency&quot;"/>
      <Input
        align="left"
        editable="true"
        id="WeeklyfrequencyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.WeeklyfrequencyValue"
        visible="ScriptParameter.ParameterType==&quot;weeklyfrequency&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PositivemoneyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.PositivemoneyValue"
        visible="ScriptParameter.ParameterType==&quot;positivemoney&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PositiveintegerValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.PositiveintegerValue"
        visible="ScriptParameter.ParameterType==&quot;positiveinteger&quot;"/>
      <Input
        align="left"
        editable="true"
        id="VarcharValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.VarcharValue"
        visible="ScriptParameter.ParameterType==&quot;varchar&quot;"/>
      <Input
        align="left"
        editable="true"
        id="GroupValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.Group"
        visible="ScriptParameter.ParameterType==&quot;group&quot;"/>
      <Input
        align="left"
        editable="true"
        id="UserValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.User"
        visible="ScriptParameter.ParameterType==&quot;user&quot;"/>
      <Input
        align="left"
        editable="true"
        id="IntegerValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="ScriptParameter.IntegerValue"
        visible="ScriptParameter.ParameterType==&quot;integer&quot;"/>
      <TextInput
        id="Description"
        label="displaykey.Web.Admin.ScriptParameterDetailDV.Description"
        required="false"
        value="ScriptParameter.Description"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>