<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.ScriptParameter.view"
    id="ScriptParametersPage"
    parent="Admin()"
    title="displaykey.Web.Admin.ScriptParameters">
    <Variable
      initialValue="new java.util.ArrayList&lt;gw.lang.reflect.IPropertyInfo&gt;(ScriptParameters.Type.TypeInfo.Properties).sortBy(\ s -&gt; s.Name).toArray( new gw.lang.reflect.IPropertyInfo[0] )"
      name="ScriptParameterQuery"/>
    <Screen
      id="ScriptParametersScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.ScriptParameters"/>
      <Toolbar/>
      <PanelRef
        def="ScriptParametersLV(ScriptParameterQuery)"/>
    </Screen>
  </Page>
</PCF>