<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="pcf.ScriptParametersPage.go()"
    canEdit="perm.ScriptParameter.edit"
    canVisit="perm.ScriptParameter.view"
    id="ScriptParameterDetail"
    parent="ScriptParametersPage()"
    showUpLink="true"
    title="displaykey.Web.Admin.ScriptParameter(ScriptParameterProperty.Name)">
    <LocationEntryPoint
      signature="ScriptParameterDetail(ScriptParameterProperty : gw.lang.reflect.IPropertyInfo)"/>
    <Variable
      name="ScriptParameterProperty"
      type="gw.lang.reflect.IPropertyInfo"/>
    <Variable
      initialValue="gw.api.admin.ScriptParameterUtil.getOrCreateScriptParameter(ScriptParameterProperty)"
      name="ScriptParameter"
      type="entity.ScriptParameter"/>
    <ScreenRef
      def="ScriptParameterDetailScreen(ScriptParameter)"/>
  </Page>
</PCF>