<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ScriptParametersLV">
    <Require
      name="ScriptParameterList"
      type="gw.lang.reflect.IPropertyInfo[]"/>
    <RowIterator
      editable="false"
      elementName="ScriptParameter"
      value="ScriptParameterList">
      <ToolbarFlag
        name="ScriptParameter"/>
      <Row>
        <Cell
          action="ScriptParameterDetail.go(ScriptParameter)"
          actionAvailable="perm.ScriptParameter.edit"
          id="Name"
          label="displaykey.LV.Admin.ScriptParameters.Name"
          sortOrder="1"
          value="ScriptParameter.Name"/>
        <Cell
          id="Type"
          label="displaykey.LV.Admin.ScriptParameters.Type"
          sortOrder="2"
          value="ScriptParameter.FeatureType"/>
        <Cell
          enableSort="false"
          id="Value"
          label="displaykey.LV.Admin.ScriptParameters.Value"
          value="ScriptParameter.Accessor.getValue(null)"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>