<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="RegionSearchResultsLV">
    <ExposeIterator
      flags="Region"
      valueType="entity.Region"
      widget="RegionSearchResultsLV"/>
    <Require
      name="SearchResult"
      type="RegionQuery"/>
    <Require
      name="EnablePick"
      type="boolean"/>
    <Require
      name="EnableCheckbox"
      type="boolean"/>
    <RowIterator
      canPick="EnablePick"
      checkBoxVisible="EnableCheckbox"
      editable="true"
      elementName="Region"
      hasCheckBoxes="true"
      value="SearchResult">
      <ToolbarFlag
        name="Region"/>
      <Row>
        <Cell
          action="RegionDetail.go(Region)"
          id="Name"
          label="displaykey.Web.Admin.RegionDetailDV.Name"
          value="Region.Name"
          width="300"/>
        <Cell
          enableSort="false"
          id="Zones"
          label="displaykey.Web.Admin.RegionDetailDV.Zones"
          value="Region.Zones"
          width="700"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
