<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RegionSearchDV">
    <Require
      name="SearchCriteria"
      type="admin.RegionSearchCriteria"/>
    <Variable
      initialValue="gw.api.admin.BaseAdminUtil.getDefaultCountry()"
      name="country"
      type="Country"/>
    <Variable
      initialValue="new gw.api.admin.ZoneAutocompleteHandler(country)"
      name="zoneHandler"/>
    <InputColumn>
      <Input
        editable="true"
        id="Name"
        label="displaykey.Web.Admin.RegionSearch.Name"
        required="false"
        value="SearchCriteria.RegionName"/>
      <RangeInput
        editable="gw.api.admin.BaseAdminUtil.getRegionZoneTypes(country).length &gt; 0"
        id="zoneType"
        label="displaykey.Web.Admin.RegionSearch.ZoneType"
        noneSelectedLabel="displaykey.Java.Select.All"
        required="false"
        value="SearchCriteria.ZoneType"
        valueRange="gw.api.admin.BaseAdminUtil.getRegionZoneTypes(country)"/>
      <TextInput
        autoComplete="zoneHandler"
        autoCompleteArgIds="zoneType"
        editable="gw.api.admin.BaseAdminUtil.getRegionZoneTypes(country).length &gt; 0"
        id="Code"
        label="displaykey.Web.Admin.RegionSearch.Code"
        required="false"
        value="SearchCriteria.ZoneCode"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>