<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.Holiday.view"
    id="HolidaysPage"
    title="displaykey.Web.Admin.Holidays">
    <Variable
      initialValue="find (var h in Holiday)"
      name="Holidays"
      type="HolidayQuery"/>
    <Screen
      id="HolidaysScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.Holidays"/>
      <Toolbar>
        <ToolbarButton
          action="NewHoliday.go()"
          available="perm.Holiday.create"
          id="Holidays_AddHolidayButton"
          label="displaykey.Web.Admin.AddHoliday"
          shortcut="H"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.BaseAdminUtil.deleteHolidays(CheckedValues)"
          available="perm.Holiday.delete"
          flags="any Holiday"
          id="Holidays_DeleteButton"
          iterator="HolidaysLV.HolidaysLV"
          label="displaykey.Button.Delete"
          shortcut="L"/>
      </Toolbar>
      <PanelRef
        def="HolidaysLV(Holidays)"/>
    </Screen>
  </Page>
</PCF>
