<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="UserDetailInputSet">
    <Require
      name="User"
      type="User"/>
    <Require
      name="UserOwner"
      type="gw.api.name.NameOwner"/>
    <Variable
      initialValue="new gw.api.name.PersonNameDelegate(User.Contact)"
      name="name"/>
    <InputSetRef
      def="GlobalPersonNameInputSet(UserOwner)"
      id="Name"
      mode="name.NameLocaleSettings.PCFMode"/>
    <Input
      editable="true"
      id="Username"
      label="displaykey.Web.Admin.UserDetailDV.Username"
      required="true"
      value="User.Credential.UserName"/>
    <ConfirmPasswordInput
      confirmLabel="displaykey.Web.Admin.UserDetailDV.ConfirmPassword"
      editable="true"
      id="Password"
      label="displaykey.Web.Admin.UserDetailDV.Password"
      required="User.New"
      value="User.Credential.Password"/>
    <BooleanRadioInput
      editable="true"
      id="Active"
      label="displaykey.Web.Admin.UserDetailDV.Active"
      required="true"
      value="User.Credential.Active"/>
    <BooleanRadioInput
      editable="true"
      id="AccountLocked"
      label="displaykey.Web.Admin.UserDetailDV.AccountLocked"
      value="User.AccountLocked"/>
    <TypeKeyInput
      editable="true"
      id="VacationStatus"
      label="displaykey.Training.VacationStatus"
      required="true"
      value="User.VacationStatus"/>
    <UserInput
      editable="true"
      id="BackupUser"
      label="displaykey.Web.Admin.UserDetailDV.BackupUser"
      value="User.BackupUser"/>
    <TextInput
      editable="true"
      id="SessionTimeout"
      label="displaykey.Web.Admin.UserDetailDV.SessionTimeoutSecs"
      required="false"
      value="User.SessionTimeoutSecs"/>
  </InputSet>
</PCF>