<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="UserPreferencesInputSet">
    <Require
      name="user"
      type="User"/>
    <TypeKeyInput
      editable="true"
      id="Language"
      label="displaykey.Web.User.Preferences.UserLanguage"
      value="user.UserLanguage"
      visible="gw.api.util.LocaleUtil.canSwitchLanguage()"/>
    <TypeKeyInput
      editable="true"
      id="RegionalFormats"
      label="displaykey.Web.User.Preferences.UserRegionalFormats"
      value="user.UserLocale"
      visible="gw.api.util.LocaleUtil.canSwitchLocale()"/>
    <TypeKeyInput
      editable="true"
      id="DefaultCountry"
      label="displaykey.Web.User.Preferences.UserDefaultCountry"
      value="user.UserDefaultCountry"/>
    <TypeKeyInput
      editable="true"
      id="DefaultPhoneCountry"
      label="displaykey.Web.User.Preferences.UserDefaultPhoneRegion"
      value="user.UserDefaultPhoneCountry"/>
  </InputSet>
</PCF>