<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ExportDataDV">
    <Require
      name="ExportDataInfo"
      type="admin.ExportDataInfo"/>
    <InputHeaderSection>
      <Label
        label="displaykey.Web.Admin.ExportDataDV.ExportDataMessage"/>
    </InputHeaderSection>
    <InputColumn>
      <RangeInput
        editable="true"
        id="DataSet"
        label="displaykey.Web.Admin.ExportDataDV.DataSet"
        optionLabel="VALUE.DisplayName"
        value="ExportDataInfo.DataSet"
        valueRange="ExportDataInfo.AvailableDataSets"/>
    </InputColumn>
    <InputFooterSection>
      <ButtonInput
        action="admin.BaseAdminUtil.exportData(ExportDataInfo)"
        download="true"
        id="ExportButton"
        value="displaykey.Web.Admin.ExportDataDV.ExportButton"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>