<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="perm.User.exportadmindata"
    countsAsWork="false"
    id="ExportData"
    parent="Admin()"
    startInEditMode="true"
    title="displaykey.Web.Admin.ExportData">
    <LocationEntryPoint
      signature="ExportData()"/>
    <Variable
      initialValue="new admin.ExportDataInfo()"
      name="ExportDataInfo"
      type="admin.ExportDataInfo"/>
    <Screen
      id="ExportDataScreen">
      <Toolbar/>
      <PanelRef
        def="ExportDataDV(ExportDataInfo)"/>
      <PanelRef
        def="SecurityDictionaryDV()"/>
    </Screen>
  </Page>
</PCF>