<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="ImportWizard_ConflictScreen">
    <Require
      name="ImportDataInfo"
      type="admin.ImportDataInfo"/>
    <Require
      name="ImportDataConflict"
      type="admin.ImportDataConflict"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="ImportWizard_ConflictDV">
      <InputColumn>
        <Input
          editable="false"
          id="Resolution"
          label="displaykey.Web.Admin.ImportWizard.UploadDV.ResolutionStrategy"
          value="ImportDataInfo.ResolutionStrategy"/>
        <Input
          editable="false"
          id="Message"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.Conflict"
          value="displaykey.Web.Admin.ImportWizard.ConflictDV.ConflictNumber( ImportDataConflict.Number ,  ImportDataInfo.NumConflicts)"/>
        <Input
          editable="false"
          id="Type"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.Type"
          value="ImportDataConflict.EntityType"/>
        <Input
          editable="false"
          id="PublicID"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.PublicID"
          value="ImportDataConflict.PublicID"/>
        <Input
          editable="false"
          id="DisplayName"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.DisplayName"
          value="ImportDataConflict.DisplayName"/>
        <Input
          editable="true"
          id="Overwrite"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.Overwrite"
          value="ImportDataConflict.Overwrite"/>
        <Label
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.FieldConflicts"/>
        <ListViewInput
          editable="false"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="ImportConflictsLV">
            <RowIterator
              editable="false"
              elementName="FieldConflict"
              value="ImportDataConflict.FieldConflicts">
              <Row>
                <Cell
                  id="FieldName"
                  label="displaykey.Web.Admin.ImportWizard.ConflictDV.FieldName"
                  sortOrder="1"
                  value="FieldConflict.FieldName"/>
                <Cell
                  action="ImportWizard_ArrayDiffPopup.push(FieldConflict.ArrayDifferences)"
                  available="FieldConflict.isArrayConflict()"
                  id="ExistingValue"
                  label="displaykey.Web.Admin.ImportWizard.ConflictDV.ExistingValue"
                  value="FieldConflict.ExistingValue"/>
                <Cell
                  action="ImportWizard_ArrayDiffPopup.push(FieldConflict.ArrayDifferences)"
                  available="FieldConflict.isArrayConflict()"
                  id="ImportValue"
                  label="displaykey.Web.Admin.ImportWizard.ConflictDV.ImportValue"
                  value="FieldConflict.ImportValue"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>