<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.exportadmindata"
    id="ImportResults"
    parent="ImportWizard()"
    showUpLink="false"
    title="displaykey.Web.Admin.ImportResults">
    <LocationEntryPoint
      signature="ImportResults(ImportDataInfo : admin.ImportDataInfo)"/>
    <Variable
      name="ImportDataInfo"
      type="admin.ImportDataInfo"/>
    <Screen
      id="ImportResultsScreen">
      <Toolbar/>
      <PanelRef
        def="ImportResultsDV(ImportDataInfo)"/>
    </Screen>
  </Page>
</PCF>