<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canVisit="perm.User.importadmindata"
    id="ImportWizard_ArrayDiffPopup"
    parent="ImportWizard()"
    title="displaykey.Web.Admin.ImportWizard.ArrayDiffPopup.Title">
    <LocationEntryPoint
      signature="ImportWizard_ArrayDiffPopup(ArrayDifferences : admin.ImportDataArrayDifferences)"/>
    <Variable
      name="ArrayDifferences"
      type="admin.ImportDataArrayDifferences"/>
    <Screen
      id="ImportWizard_ArrayDiffPopupScreen">
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.Admin.ImportWizard.ArrayDiffPopup.NoRemovedElements"
            visible="!ArrayDifferences.hasRemovedElements()"/>
          <Label
            label="displaykey.Web.Admin.ImportWizard.ArrayDiffPopup.RemovedElements"
            visible="ArrayDifferences.hasRemovedElements()"/>
          <ListViewInput
            labelAbove="true"
            visible="ArrayDifferences.hasRemovedElements()">
            <Toolbar/>
            <ListViewPanel
              id="ImportWizard_RemovedArrayElementsLV">
              <!-- first, the header row -->
              <Row
                renderAsSmartHeader="true">
                <CellIterator
                  elementName="Field"
                  id="headerCells"
                  value="ArrayDifferences.OrderedFieldNames">
                  <Cell
                    id="field"
                    value="Field"/>
                </CellIterator>
              </Row>
              <!-- Then, all the other rows -->
              <RowIterator
                editable="false"
                elementName="Element"
                pageSize="0"
                value="ArrayDifferences.RemovedElements">
                <Row>
                  <CellIterator
                    elementName="Field"
                    value="ArrayDifferences.OrderedFieldNames">
                    <Cell
                      id="ValueCell"
                      value="Element.getFieldValue(Field)"/>
                  </CellIterator>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <Label
            label="displaykey.Web.Admin.ImportWizard.ArrayDiffPopup.NoAddedElements"
            visible="!ArrayDifferences.hasAddedElements()"/>
          <Label
            label="displaykey.Web.Admin.ImportWizard.ArrayDiffPopup.AddedElements"
            visible="ArrayDifferences.hasAddedElements()"/>
          <ListViewInput
            labelAbove="true"
            visible="ArrayDifferences.hasAddedElements()">
            <Toolbar/>
            <ListViewPanel
              id="ImportWizard_AddedArrayElementsLV">
              <!-- first, the header row -->
              <Row
                renderAsSmartHeader="true">
                <CellIterator
                  elementName="Field"
                  id="headerCells"
                  value="ArrayDifferences.OrderedFieldNames">
                  <Cell
                    id="header"
                    value="Field"/>
                </CellIterator>
              </Row>
              <!-- Then, all the other rows -->
              <RowIterator
                editable="false"
                elementName="Element"
                pageSize="0"
                value="ArrayDifferences.AddedElements">
                <Row>
                  <CellIterator
                    elementName="Field"
                    value="ArrayDifferences.OrderedFieldNames">
                    <Cell
                      id="ValueCell"
                      value="Element.getFieldValue(Field)"/>
                  </CellIterator>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>