<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="SecurityDictionaryDV">
    <Variable
      initialValue="gw.api.tools.SecurityDictionaryOutputFormat.HTML"
      name="outputFormat"/>
    <InputHeaderSection>
      <Label
        label="displaykey.Web.Admin.SecurityDictionaryDV.Title"/>
    </InputHeaderSection>
    <InputColumn>
      <RangeInput
        editable="true"
        id="OutputFormat"
        label="displaykey.Web.Admin.SecurityDictionaryDV.OutputFormat"
        optionLabel="VALUE.LocalizedName"
        required="true"
        value="outputFormat"
        valueRange="gw.api.tools.SecurityDictionaryOutputFormat.values()"/>
    </InputColumn>
    <InputFooterSection>
      <ButtonInput
        action="gw.api.tools.SecurityDictionaryHelper.download(outputFormat)"
        download="true"
        id="DownloadButton"
        value="displaykey.Web.Admin.SecurityDictionaryDV.ExportButton"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>