<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.integadmin or perm.System.eventmessageview"
    id="MessagingDestinationControlList"
    parent="Admin()"
    title="displaykey.Web.Admin.MessagingDestinationControlLists">
    <Screen
      id="MessagingDestinationControlListScreen">
      <Toolbar>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.MessagingUtil.suspendDestinations(CheckedValues)"
          flags="all ResumedDestination"
          id="MessagingDestinationControlList_SuspendButton"
          iterator="MessagingDestinationsControlLV.MessagingDestinationsControlLV"
          label="displaykey.Button.Suspend"
          shortcut="S"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.MessagingUtil.resumeDestinations(CheckedValues)"
          flags="all SuspendedDestination"
          id="MessagingDestinationControlList_ResumeButton"
          iterator="MessagingDestinationsControlLV.MessagingDestinationsControlLV"
          label="displaykey.Button.Resume"
          shortcut="E"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.MessagingUtil.restartDestinations(CheckedValues, 0)"
          flags="all RestartableDestination"
          id="MessagingDestinationControlList_RestartButton"
          iterator="MessagingDestinationsControlLV.MessagingDestinationsControlLV"
          label="displaykey.Button.Restart"
          shortcut="A"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="gw.api.admin.MessagingUtil.restartMessageEngine()"
          confirmMessage="displaykey.Web.Admin.MessagingDestinationControl.ConfirmRestart"
          id="MessagingDestinationControlList_RestartMessagingEngineButton"
          label="displaykey.Button.RestartMessagingEngine"
          shortcut="R"/>
      </Toolbar>
      <PanelRef
        def="MessagingDestinationsControlLV()"/>
    </Screen>
  </Page>
</PCF>
