<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MessagingDestinationsControlLV">
    <ExposeIterator
      flags="ResumedDestination,SuspendedDestination,RestartableDestination"
      valueType="gw.api.admin.DestinationMessageStatistics"
      widget="MessagingDestinationsControlLV"/>
    <RowIterator
      editable="false"
      elementName="Destination"
      hasCheckBoxes="true"
      value="gw.api.admin.DestinationMessageStatisticsUtil.getMessageStatistics()">
      <ToolbarFlag
        condition="Destination.SuspendedStatus != both"
        name="ResumedDestination"/>
      <ToolbarFlag
        condition="Destination.SuspendedStatus != null and Destination.Status != MessageDestinationStatus.TC_RETRYING.Description"
        name="SuspendedDestination"/>
      <ToolbarFlag
        condition="Destination != null"
        name="RestartableDestination"/>
      <Row>
        <Cell
          action="MessageControlForDestinationList.go(Destination.DestinationId, Destination.DestinationName)"
          align="left"
          hideChildrenIfReadOnly="false"
          id="DestinationName"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.DestinationName"
          value="Destination.DestinationName">
          <MenuItemIterator
            elementName="destAction"
            id="resumeSuspendOptions"
            value="Destination.ResumeSuspendOptions">
            <MenuItem
              action="gw.api.admin.DestinationMessageStatisticsUtil.performDestinationAction( Destination.DestinationId, destAction)"
              id="option"
              label="gw.api.domain.DisplayKey.getDisplayKeyValue( &quot;Web.Admin.MessagingDestinationControlLV.&quot; + destAction.DisplayName)"/>
          </MenuItemIterator>
        </Cell>
        <Cell
          action="MessageControlForDestinationList.go(Destination.DestinationId, Destination.DestinationName)"
          align="left"
          id="DestinationID"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.DestinationID"
          value="Destination.DestinationId"/>
        <Cell
          align="left"
          id="Status"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.Status"
          value="Destination.Status"/>
        <Cell
          align="left"
          id="Error"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.Failed"
          value="Destination.Error"/>
        <Cell
          align="left"
          id="Retry"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.Retry"
          value="Destination.RetryableError"/>
        <Cell
          align="left"
          id="InFlight"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.InFlight"
          value="Destination.Inflight"/>
        <Cell
          align="left"
          id="Unsent"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.Unsent"
          value="Destination.Unsent"/>
        <Cell
          align="left"
          id="Batched"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.Batched"
          value="Destination.BatchSize"/>
        <Cell
          align="left"
          id="ErrorCount"
          label="displaykey.Web.Admin.MessagingDestinationControlLV.AwaitingRetry"
          value="Destination.AwaitingRetry"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[function getMenuLabel(destActionName: String ) : String {
  
  try {
    return domain.DisplayKey.getDisplayKeyValue("Web.Admin.MessaginDestinationControlLV." + destActionName)
  } catch (e : java.lang.Throwable) {
    throw e
  }
  //return destActionName
  
}]]></Code>
  </ListViewPanel>
</PCF>