<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MessageControlForDestinationListLV">
    <ExposeIterator
      flags="RetryableSOOMessage,SkippableSOOMessage"
      valueType="gw.api.admin.SafeOrderedObjectMessageStatistics"
      widget="MessageControlForDestinationListLV"/>
    <Require
      name="DestinationId"
      type="int"/>
    <Require
      name="DestinationName"
      type="String"/>
    <RowIterator
      checkBoxVisible="SOOMessage.SafeOrderedObjectName != messaging.MessagingConstants.NON_SAFE_ORDERED_OBJECT_NAME"
      editable="false"
      elementName="SOOMessage"
      hasCheckBoxes="true"
      value="gw.api.admin.SOOMessageStatisticsUtil.getStatistics(DestinationId)">
      <ToolbarFilter
        name="SOOMessageFilter">
        <ToolbarFilterOptionGroup
          filters="gw.api.admin.SOOMessageFilters.FILTERSET.FilterOptions"/>
      </ToolbarFilter>
      <ToolbarFlag
        condition="SOOMessage.canRetry()"
        name="RetryableSOOMessage"/>
      <ToolbarFlag
        condition="SOOMessage.canSkip()"
        name="SkippableSOOMessage"/>
      <Row>
        <Cell
          action="MessageControlForSOOList.go(DestinationId, DestinationName, SOOMessage.SafeOrderedObjectKeyValue, SOOMessage.SafeOrderedObjectName)"
          align="left"
          enableSort="false"
          id="SOOName"
          label="displaykey.Web.Admin.MessageControlForDestinationListLV.SOOName"
          value="SOOMessage.SafeOrderedObjectName"/>
        <DateCell
          align="left"
          dateFormat="short"
          enableSort="false"
          id="SendTime"
          label="displaykey.Web.Admin.MessageControlForDestinationListLV.SendTime"
          timeFormat="long"
          value="SOOMessage.SendTime"/>
        <Cell
          align="left"
          enableSort="false"
          id="Error"
          label="displaykey.Web.Admin.MessageControlForDestinationListLV.Failed"
          value="SOOMessage.Error"/>
        <Cell
          align="left"
          enableSort="false"
          id="RetryableError"
          label="displaykey.Web.Admin.MessageControlForDestinationListLV.Retry"
          value="SOOMessage.RetryableError"/>
        <Cell
          align="left"
          enableSort="false"
          id="InFlight"
          label="displaykey.Web.Admin.MessageControlForDestinationListLV.InFlight"
          value="SOOMessage.Inflight"/>
        <Cell
          align="left"
          enableSort="false"
          id="Unsent"
          label="displaykey.Web.Admin.MessageControlForDestinationListLV.Unsent"
          value="SOOMessage.Unsent"/>
        <Cell
          align="left"
          enableSort="false"
          id="RetryableErrorMessage"
          label="displaykey.Web.Admin.MessageControlForDestinationListLV.Error"
          value="SOOMessage.RetryableErrorMessage"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
