<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    id="MessageControlForSOOList"
    parent="MessageControlForDestinationList(DestinationId, DestinationName)"
    showUpLink="true"
    title="displaykey.Web.Admin.MessageControlForSOOList(SOOName)">
    <LocationEntryPoint
      signature="MessageControlForSOOList(DestinationId : int, DestinationName : String, SOOKeyValue : long, SOOName : String)"/>
    <Variable
      name="DestinationId"
      type="int"/>
    <Variable
      name="DestinationName"
      type="String"/>
    <Variable
      name="SOOKeyValue"
      type="long"/>
    <Variable
      name="SOOName"
      type="String"/>
    <Screen
      id="MessageControlForSOOListScreen">
      <Toolbar>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.MessagingUtil.retryRetryableMessages(CheckedValues)"
          confirmMessage="displaykey.Web.Admin.MessageControlForSOOList.RetryConfirm"
          flags="any RetryableEventMessage"
          id="MessageControlForSOOListScreen_RetryButton"
          iterator="MessageControlForSOOListLV.MessageControlForSOOListLV"
          label="displaykey.Button.Retry"
          tooltip="displaykey.Button.Retry.Tooltip"
          visible="perm.System.retrymessage and SOOKeyValue == -1"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.MessagingUtil.skipMessages(CheckedValues)"
          confirmMessage="displaykey.Web.Admin.MessageControlForSOOList.SkipConfirm"
          flags="any SkippableEventMessage"
          id="MessageControlForSOOListScreen_SkipButton"
          iterator="MessageControlForSOOListLV.MessageControlForSOOListLV"
          label="displaykey.Button.Skip"
          tooltip="displaykey.Button.Skip.Tooltip"
          visible="perm.System.skipmessage"/>
        <ToolbarDivider/>
        <SearchItem
          id="MessageControlSearchItem"
          label="displaykey.Web.Admin.MessageControlForSOOList.Search"
          onFailure="CurrentLocation"
          onResult="MessageControlForSOOList.go((result as Object[])[1] as int, (result as Object[])[2] as String, ((result as Object[])[0] as Key).Value, messaging.SOOMessageSearchItemUtil.getSOOName((result as Object[])[0] as KeyableBean))"
          search="messaging.SOOMessageSearchItemUtil.runSearchQuery(searchText, DestinationId, DestinationName)"
          validationError="displaykey.Java.Messaging.SOOMessageSearch.Error(searchText)"
          visible="messaging.SOOMessageSearchItemUtil.isSearchAvailable(DestinationId)"/>
        <ToolbarDivider/>
      </Toolbar>
      <PanelRef
        def="MessageControlForSOOListLV(DestinationId, SOOKeyValue)"/>
    </Screen>
  </Page>
</PCF>
