<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    id="ActivityPatterns"
    title="displaykey.Web.Admin.BusinessSettings.ActivityPatterns">
    <Screen/>
  </Page>
</PCF>