<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="PendingContactCreateDetailedLV">
    <ExposeIterator
      flags="PendingContactCreate"
      valueType="entity.PendingContactCreateView"
      widget="PendingContactCreateDetailedLV"/>
    <RowIterator
      editable="false"
      elementName="pendingContactCreateView"
      pageSize="10"
      value="gw.web.PendingChangesWebUtil.getPendingCreates()">
      <ToolbarFlag
        name="PendingContactCreate"/>
      <Row>
        <Cell
          id="Contact"
          label="displaykey.Web.Contacts.PendingChanges.LVColumns.Contact"
          printWidth="0.1"
          sortBy="pendingContactCreateView.ABContactName"
          sortOrder="1"
          value="pendingContactCreateView.ABContactName"/>
        <TypeKeyCell
          id="Type"
          label="displaykey.Web.Contacts.PendingChanges.LVColumns.Type"
          printWidth="0.1"
          value="pendingContactCreateView.ABContactSubtype"/>
        <Cell
          enableSort="false"
          id="Tags"
          label="displaykey.Web.Contacts.PendingChanges.LVColumns.Tags"
          printWidth="0.1"
          value="pendingContactCreateView.ABContactTagsDescription"/>
        <Cell
          id="RequestingUser"
          label="displaykey.Web.Contacts.PendingChanges.LVColumns.RequestingUser"
          printWidth="0.1"
          value="pendingContactCreateView.RequestingUser"/>
        <Cell
          id="RelatedTo"
          label="displaykey.Web.Contacts.PendingChanges.LVColumns.RelatedTo"
          printWidth="0.1"
          value="pendingContactCreateView.RelatedTo"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>