<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Worksheet
    id="PendingContactMatchWorksheet"
    tabLabel="&quot;Duplicate Contacts&quot;"
    title="&quot;Duplicate Contacts&quot;">
    <LocationEntryPoint
      signature="PendingContactMatchWorksheet(originalContact: ABContact, matchResults: gw.api.webservice.addressbook.contactapi.ABContactSearchResult)"/>
    <Scope
      location="*"/>
    <Variable
      name="matchResults"
      type="gw.api.webservice.addressbook.contactapi.ABContactSearchResult"/>
    <Variable
      name="originalContact"
      type="ABContact"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="PendingContactMatchWorksheet_CancelButton"
          label="&quot;Cancel&quot;"/>
      </Toolbar>
      <ListViewPanel
        id="DuplicateLV">
        <RowIterator
          editable="false"
          elementName="contact"
          value="web.contact.PendingContactChangeUtil.getDuplicates(originalContact, matchResults)">
          <Row>
            <Cell
              action="web.contact.PendingContactChangeUtil.pickDuplicateContact(contact, originalContact, CurrentLocation)"
              id="AcceptContact"
              value="displaykey.Web.Contacts.MergeContacts.Accept"/>
            <Cell
              id="MatchType"
              label="displaykey.Web.Contacts.MergeContacts.MatchType"
              value="getMatchType(contact)"/>
            <Cell
              action="web.contact.PendingContactChangeUtil.showDetailView(contact)"
              id="Name"
              label="displaykey.Web.Contacts.MergeContacts.Name"
              value="contact.DisplayName"/>
            <Cell
              id="Address"
              label="displaykey.Web.Contacts.MergeContacts.Address"
              value="contact.PrimaryAddress"/>
            <Cell
              id="PhoneNumber"
              label="displaykey.Web.Contacts.MergeContacts.Phone"
              value="contact.PrimaryPhoneValue"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
    <Code><![CDATA[uses java.util.ArrayList

function getDuplicates() : ArrayList<ABContact> {  
  var list = new ArrayList<ABContact>()
  for (c in matchResults.Results) {
    if (c.PublicID != originalContact.PublicID and c.CreateStatus != ContactCreationApprovalStatus.TC_PENDING_APPROVAL) {
      list.add(c)  
    }
  }
  return list
}

function getMatchType(contact : ABContact) : String {
  var exact = web.contact.PendingContactChangeUtil.isContactExact(contact, matchResults)
  return exact ? displaykey.Web.Contacts.MergeContacts.Exact : displaykey.Web.Contacts.MergeContacts.Potential
}]]></Code>
  </Worksheet>
</PCF>