<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.Group.viewtree"
    countsAsWork="false"
    id="AdminGroupSearchPage"
    title="displaykey.Web.Admin.UsersAndSecurity.GroupSearch">
    <Screen
      id="GroupSearchScreen">
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="Groups"
        search="SearchCriteria.performSearch()"
        searchCriteria="new GroupSearchCriteria()"
        searchResultsType="GroupQuery">
        <PanelRef
          def="GroupSearchDV(SearchCriteria)"/>
        <PanelRef
          def="GroupSearchResultsLV(Groups)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>