<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="BankAccountsLV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <ExposeIterator
      valueType="entity.BankAccount"
      widget="BankAccountsLV"/>
    <RowIterator
      editable="true"
      elementName="currentBankAccount"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      toAdd="anABContact.addToBankAccounts(currentBankAccount)"
      toRemove="anABContact.removeFromBankAccounts(currentBankAccount)"
      value="anABContact.BankAccounts">
      <IteratorSort
        sortBy="currentBankAccount.CreateTime"
        sortOrder="1"/>
      <Row
        highlighted="VerificationStatus.TC_INVALID.equals(currentBankAccount.IsVerified)">
        <Cell
          editable="true"
          id="BankName"
          label="displaykey.Training.BankName"
          numCols="30"
          required="true"
          value="currentBankAccount.BankName"/>
        <Cell
          editable="true"
          id="RoutingNumber"
          label="displaykey.Training.RoutingNumber"
          numCols="10"
          required="true"
          value="currentBankAccount.RoutingNumber"/>
        <Cell
          editable="true"
          id="AccountNumber"
          label="displaykey.Training.AccountNumber"
          numCols="20"
          required="true"
          value="currentBankAccount.AccountNumber"/>
        <Cell
          editable="true"
          id="AccountType"
          label="displaykey.Training.AccountType"
          required="true"
          value="currentBankAccount.AccountType"/>
        <Cell
          id="Verified"
          label="displaykey.Training.Verified"
          value="currentBankAccount.IsVerified"/>
        <Cell
          id="CreateDate"
          label="displaykey.Training.CreatedOn"
          value="currentBankAccount.CreateTime"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>