<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="ABContactAnalysisDV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <InputColumn>
      <Label
        id="contactAnalysis"
        label="displaykey.Training.ContactAnalysis"/>
      <TypeKeyInput
        editable="true"
        id="ContactTier"
        label="displaykey.Training.ContactTier"
        value="anABContact.ContactTier"/>
      <Input
        editable="true"
        id="CustomerRating"
        label="displaykey.Training.CustomerRating"
        value="anABContact.CustomerRating_Ext"/>
      <CheckBoxInput
        editable="true"
        id="isStrategicPartner"
        label="displaykey.Training.StrategicPartner"
        value="anABContact.IsStrategicPartner_Ext"/>
      <DateInput
        editable="true"
        id="CourtesyContact"
        label="displaykey.Training.CourtesyContact"
        value="anABContact.LastCourtesyContact_Ext"/>
      <Input
        editable="true"
        id="FraudInvestigation"
        label="displaykey.Training.FraudInvestigationNum"
        value="anABContact.FraudInvestigationNum_Ext "/>
      <TextInput
        editable="true"
        id="WebAddress"
        label="displaykey.Training.WebAddress"
        value="anABContact.WebAddress_Ext"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>