<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="aFlagEntry.IsEditable"
    id="FlagEntryDV">
    <Require
      name="aFlagEntry"
      type="FlagEntry"/>
    <InputColumn>
      <DateInput
        id="DateFlagged"
        label="displaykey.Training.DateFlagged"
        value="aFlagEntry.FlagDate"/>
      <TypeKeyInput
        editable="true"
        id="Reason"
        label="displaykey.Training.Reason"
        value="aFlagEntry.Reason"/>
      <TextAreaInput
        editable="true"
        id="Resolution"
        label="displaykey.Training.Resolution"
        maxChars="80"
        numCols="20"
        numRows="3"
        value="aFlagEntry.Resolution">
        <PostOnChange
          onChange="aFlagEntry.setFieldsOnResolution()"
          target="DATA_ONLY"/>
      </TextAreaInput>
      <Input
        id="UnflagUser"
        label="displaykey.Training.UserWhoUnflaggedEntry"
        numCols="100"
        value="aFlagEntry.UnflagUser"/>
      <DateInput
        id="UnflagDate"
        label="displaykey.Training.DateUnflagged"
        value="aFlagEntry.UnflagDate"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>