<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <TabBar
    id="ErrorTabBar">
    <Tab
      action="ErrorGroup.go()"
      id="ErrorTab"
      label="displaykey.Web.Error"/>
    <TabBarLink
      action="Help.push()"
      id="HelpTabBarLink"
      label="displaykey.Web.TabBar.Help"/>
    <TabBarLink
      action="javascript:gw.app.popupAboutWindow();"
      id="AboutTabBarLink"
      label="displaykey.Web.TabBar.About"/>
    <TabBarLogout
      action="logout:*"
      id="LogoutTabBarLink"
      label="displaykey.Web.TabBar.Logout(entity.User.util.CurrentUser)"
      shortcut="Z"/>
  </TabBar>
</PCF>