<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    height="768"
    id="GuidewireHomePage"
    logout="false"
    popup="true"
    target="gwWIN"
    url="http://www.guidewire.com"
    width="1024"/>
  <ExitPoint
    id="GoogleSearch"
    logout="false"
    url="http://www.google.com/search">
    <LocationEntryPoint
      signature="GoogleSearch()"/>
    <LocationEntryPoint
      signature="GoogleSearch(SearchText : String)"/>
    <ExitPointParameter
      defaultValue="displaykey.Web.GoogleSearch.Guidewire"
      locationParam="SearchText"
      type="String"
      urlParam="q"/>
  </ExitPoint>
</PCF>