<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="false"
    id="StartupPageError"
    startInEditMode="false"
    title="displaykey.Web.StartupPageError.Title">
    <Screen
      id="StartupPageErrorScreen">
      <DetailViewPanel
        id="StartupPageErrorScreenDV">
        <InputColumn>
          <Label
            label="displaykey.Web.StartupPageError.NoPermissions"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>