<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <WebMessageWorksheet
    id="WebMessageWorksheet"
    tabLabel="displaykey.Web.Validation.ResultsTitle"
    title="displaykey.Web.Validation.ResultsTitle">
    <Scope
      location="*"/>
    <Screen
      id="WebMessageWorksheetScreen">
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="WebMessageWorksheet_ClearButton"
          label="displaykey.Button.Clear"/>
      </Toolbar>
      <Messages
        groupScope="true"
        id="grpMsgs"/>
    </Screen>
  </WebMessageWorksheet>
</PCF>