<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RegionDetailDV"
    mode="US">
    <Require
      name="Region"
      type="Region"/>
    <Variable
      name="zoneType"
      type="ZoneType"/>
    <Variable
      name="linkedZone"
      type="Zone"/>
    <Variable
      initialValue="typekey.Country.TC_US"
      name="country"
      type="Country"/>
    <InputColumn>
      <RangeInput
        editable="true"
        hideIfReadOnly="true"
        id="zoneType"
        label="displaykey.Web.Admin.RegionDetailDV.RegionType"
        value="zoneType"
        valueRange="gw.api.admin.BaseAdminUtil.getRegionZoneTypes(country)">
        <PostOnChange
          onChange="linkedZone=null;                           Region.filterCriteria.LinkedZone=null;                           Region.filterCriteria.ZoneType=zoneType"/>
      </RangeInput>
      <ListViewInput
        def="RegionZonesLV(Region, zoneType, country)"
        editable="true"
        hideIfReadOnly="true"
        label="displaykey.Web.Admin.RegionsLV.Zones"
        visible="Region.filterCriteria.ZoneType==&quot;zip&quot;">
        <Toolbar
          visible="true">
          <IteratorButtons
            iterator="RegionZonesLV.RegionZonesLV"/>
        </Toolbar>
      </ListViewInput>
      <!-- filter for counties, filter on state before showing
           shuttlelist -->
      <RangeInput
        editable="true"
        hideIfReadOnly="true"
        id="state"
        label="displaykey.Java.Admin.Regions.SelectState"
        value="linkedZone"
        valueRange="Zone.finder.findZones(country,typekey.ZoneType.TC_STATE)"
        visible="Region.filterCriteria.ZoneType == &quot;county&quot;">
        <PostOnChange
          onChange="Region.filterCriteria.LinkedZone=linkedZone"/>
      </RangeInput>
      <!-- used here for counties,states
           not visible if applicable filter has not been selected -->
      <RangeInput
        editable="true"
        hideIfReadOnly="true"
        id="ZoneInput"
        label="displaykey.Web.Admin.RegionDetailDV.Zones"
        numRows="10"
        shuttleList="true"
        value="Region.ZoneCodes"
        valueRange="Zone.finder.findZoneCodes(country,Region.filterCriteria.ZoneType,Region.filterCriteria.LinkedZone)"
        visible="!(Region.filterCriteria.ZoneType==null || Region.filterCriteria.ZoneType==&quot;zip&quot;                   || (Region.filterCriteria.ZoneType == &quot;county&quot; and Region.filterCriteria.LinkedZone==null))"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>