<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    id="GroupRegionPopup"
    returnType="Region[]"
    title="displaykey.Web.Admin.BrowseGroupRegion">
    <Screen
      id="GroupRegionPopupScreen">
      <SearchPanel
        criteriaName="SearchCriteria"
        resultsName="SearchResult"
        search="SearchCriteria.performSearch()"
        searchCriteria="new gw.api.admin.RegionSearchCriteria()"
        searchResultsType="RegionQuery">
        <PanelRef
          def="RegionSearchDV(SearchCriteria)"/>
        <PanelRef
          def="RegionSearchResultsLV(SearchResult, false, true)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar>
            <CheckedValuesToolbarButton
              flags="any Region"
              id="GroupRegionPopup_SelectButton"
              iterator="RegionSearchResultsLV.RegionSearchResultsLV"
              label="displaykey.Button.Select"
              pickValue="CheckedValues"/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>
