<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="GroupUsersLV">
    <ExposeIterator
      valueType="entity.GroupUser"
      widget="GroupUsersLV"/>
    <Require
      name="Group"
      type="Group"/>
    <RowIterator
      conversionExpression="var GU = new GroupUser(); GU.User = PickedValue; return GU"
      editable="true"
      elementName="GroupUser"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="UserSearchPopup.push(Group.Organization)"
      toAdd="Group.addToUsers(GroupUser)"
      toRemove="Group.removeFromUsers(GroupUser)"
      value="Group.Users">
      <Row>
        <Cell
          editable="true"
          id="GroupUsers_User"
          label="displaykey.Web.Admin.EditableGroupUserList.GroupUsers.User"
          required="true"
          sortOrder="1"
          unique="true"
          value="GroupUser.User"/>
        <Cell
          editable="true"
          id="GroupUsers_Member"
          label="displaykey.Web.Admin.EditableGroupUserList.GroupUsers.Member"
          required="true"
          value="GroupUser.Member"/>
        <Cell
          editable="true"
          id="GroupUsers_Manager"
          label="displaykey.Web.Admin.EditableGroupUserList.GroupUsers.Manager"
          required="true"
          value="GroupUser.Manager"/>
        <TypeKeyCell
          id="ProximitySearchStatus"
          label="displaykey.Web.Admin.EditableGroupUserList.ProximitySearchStatus"
          value="gw.api.geocode.GeocodeScriptHelper.categorizeGeocodeStatus(GroupUser.User.Contact.PrimaryAddress.GeocodeStatus)"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>