<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="gw.api.tools.ClusterInfoData.isClusteringEnabled() and (perm.User.ViewCluster or perm.User.DevAllAccess)"
    countsAsWork="false"
    id="ClusterInfo"
    parent="ServerTools()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.ClusterInfo">
    <LocationEntryPoint
      signature="ClusterInfo()"/>
    <LocationEntryPoint
      signature="ClusterInfo(Result : String)"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      initialValue="new gw.api.tools.ClusterInfoData()"
      name="ClusterInfoData"/>
    <Variable
      initialValue="ClusterInfoData.BatchServerInfo"
      name="ClusterInfoDataBatchServerInfo"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="ClusterInfoData.StaleRecordTimeout"
      name="StaleRecordTimeout"/>
    <Variable
      initialValue="gw.api.util.DateUtil.currentDate()"
      name="CurrentDbTime"
      recalculateOnRefresh="true"/>
    <Screen
      id="ClusterInfoScreen">
      <AlertBar
        id="JdbcPingNotConfigured"
        label="displaykey.Web.InternalTools.ClusterInfo.JdbcPingIsNotConfigured"
        visible="not ClusterInfoData.DatabaseDiscoveryUsed"/>
      <DetailViewPanel
        visible="ClusterInfoData.DatabaseDiscoveryUsed">
        <InputColumn>
          <ButtonInput
            action="ClusterInfoDownloadConfigurePopup.push()"
            id="DownloadReport"
            labelAbove="true"
            value="displaykey.Button.Download"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <TitleBar
          title="displaykey.Web.InternalTools.ClusterInfo.AppServerInstance"/>
        <DetailViewPanel
          id="ClusterInfoDV">
          <InputColumn>
            <TextInput
              id="Host"
              label="displaykey.Web.InternalTools.ClusterInfo.Host"
              value="ClusterInfoData.HostName"/>
            <TextInput
              id="ServerId"
              label="displaykey.Web.InternalTools.ClusterInfo.ServerId"
              value="ClusterInfoData.ServerId"/>
            <TextInput
              id="ClusterAddress"
              label="displaykey.Web.InternalTools.ClusterInfo.LogicalName"
              value="ClusterInfoData.ClusterAddress"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <PanelRef>
        <TitleBar
          title="displaykey.Web.InternalTools.ClusterInfo.BatchServer"/>
        <DetailViewPanel
          id="BatchServerDV">
          <InputColumn>
            <TextInput
              id="ServerId"
              label="displaykey.Web.InternalTools.ClusterInfo.ServerId"
              value="(ClusterInfoDataBatchServerInfo == null) ? null : ClusterInfoDataBatchServerInfo.ServerId"/>
            <TextInput
              id="BatchAddress"
              label="displaykey.Web.InternalTools.ClusterInfo.LogicalName"
              value="(ClusterInfoDataBatchServerInfo == null) ? displaykey.Web.InternalTools.ClusterInfo.NoBatchServer : ClusterInfoDataBatchServerInfo.ClusterMemberAsString"/>
            <ButtonInput
              action="Result = gw.api.tools.InternalToolsUtil.promoteToBatchServer()"
              align="left"
              available="(perm.User.EditCluster or perm.User.DevAllAccess) and ClusterInfoDataBatchServerInfo == null"
              id="PromoteToBatch"
              labelAbove="true"
              value="displaykey.Web.InternalTools.ClusterInfo.PromoteToBatch"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <DetailViewPanel
        visible="numberOfPotentialMembers &gt; 0">
        <Variable
          initialValue="ClusterInfoData.PotentialClusterMembers.Count"
          name="NumberOfPotentialMembers"
          recalculateOnRefresh="true"/>
        <InputColumn>
          <ContentInput>
            <Link
              action="PotentialClusterMembersPopup.push()"
              id="PotentialMembers"
              label="NumberOfPotentialMembers == 1 ? displaykey.Web.InternalTools.ClusterInfo.OnePotentialMember : displaykey.Web.InternalTools.ClusterInfo.PotentialMembers(NumberOfPotentialMembers)"
              styleClass="bold"/>
          </ContentInput>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <Verbatim
          label="displaykey.Web.InternalTools.ClusterInfo.ReconnectInfo"/>
        <DetailViewPanel>
          <InputColumn>
            <ButtonInput
              action="Result = gw.api.tools.InternalToolsUtil.reconnectToCluster()"
              available="perm.User.EditCluster or perm.User.DevAllAccess"
              id="ClusterReconnect"
              labelAbove="true"
              value="displaykey.Web.InternalTools.ClusterInfo.Reconnect"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <ListDetailPanel
        selectionName="SelectedServer"
        selectionType="gw.api.tools.ClusteredServer">
        <PanelRef>
          <TitleBar
            title="displaykey.Web.InternalTools.ClusterInfo.Members"/>
          <Toolbar/>
          <ListViewPanel
            id="ClusterMembersLV">
            <RowIterator
              editable="false"
              elementName="Server"
              pageSize="10"
              value="ClusterInfoData.AllServers">
              <Row>
                <Cell
                  id="ServerId"
                  label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.ServerId"
                  value="Server.ServerId"/>
                <Cell
                  id="InClusterNow"
                  label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.RunningInClusterNow"
                  value="Server.InCluster"/>
                <Cell
                  id="LogicalName"
                  label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.LogicalName"
                  value="Server.LogicalName"/>
                <Cell
                  id="RunLevel"
                  label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.RunLevel"
                  value="Server.Member.RunLevel"/>
                <DateCell
                  dateFormat="short"
                  id="ServerStarted"
                  label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.ServerStarted"
                  timeFormat="medium"
                  value="Server.Member.ServerStarted"/>
                <DateCell
                  dateFormat="short"
                  id="LastClusterJoined"
                  label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.ConnectonStarted"
                  timeFormat="medium"
                  value="Server.Member.ConnectionStarted"/>
                <DateCell
                  dateFormat="short"
                  id="LastUpdate"
                  label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.LastUpdate"
                  timeFormat="medium"
                  value="Server.Member.LastUpdateAsDate"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <CardViewPanel>
          <Card
            id="HistoryTab"
            title="displaykey.Web.InternalTools.ClusterInfo.History">
            <PanelRef>
              <Toolbar/>
              <Verbatim
                id="HistoryNotAvailable"
                label="displaykey.Web.InternalTools.ClusterInfo.HistoryNotAvailable"
                visible="not ClusterInfoData.DatabaseDiscoveryUsed"/>
              <ListViewPanel
                editable="false"
                id="HistoryLV"
                visible="ClusterInfoData.DatabaseDiscoveryUsed">
                <RowIterator
                  editable="false"
                  elementName="Run"
                  pageSize="20"
                  value="ClusterInfoData.getHistoryQuery(SelectedServer.ServerId).Processor as ClusterMemberDataQuery">
                  <Row>
                    <Cell
                      enableSort="false"
                      id="LogicalName"
                      label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.LogicalName"
                      value="Run.LogicalName"/>
                    <Cell
                      enableSort="false"
                      id="RunLevel"
                      label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.LastRunLevel"
                      value="Run.RunLevel"/>
                    <DateCell
                      dateFormat="short"
                      id="ServerStarted"
                      label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.ServerStarted"
                      sortDirection="descending"
                      sortOrder="1"
                      timeFormat="medium"
                      value="Run.ServerStarted"/>
                    <DateCell
                      dateFormat="short"
                      enableSort="false"
                      id="LastUpdate"
                      label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.ServerStopped"
                      timeFormat="medium"
                      value="Run.calcServerStopped(StaleRecordTimeout)"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>