<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    alwaysInEditMode="true"
    autosaveable="false"
    canEdit="true"
    countsAsWork="false"
    id="ClusterInfoDownloadConfigurePopup"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.ClusterInfoDownloadConfigure">
    <Variable
      initialValue="new gw.api.tools.ClusterInfoData()"
      name="ClusterInfoData"/>
    <Screen>
      <DetailViewPanel>
        <Variable
          initialValue="true"
          name="IncludeHistory"/>
        <Variable
          initialValue="100"
          name="MaxHistoryRecords"/>
        <InputColumn>
          <CheckBoxInput
            editable="true"
            id="IncludeHistory"
            label="displaykey.Web.InternalTools.ClusterInfoDownloadConfigure.IncludeHistory"
            value="IncludeHistory">
            <PostOnChange/>
          </CheckBoxInput>
          <Input
            available="IncludeHistory"
            editable="true"
            id="MaxHistoryRecords"
            label="displaykey.Web.InternalTools.ClusterInfoDownloadConfigure.MaxHistoryRecords"
            value="MaxHistoryRecords"/>
          <ButtonInput
            action="ClusterInfoData.downloadSummaryReport(IncludeHistory ? MaxHistoryRecords : 0)"
            download="true"
            id="CompleteDownload"
            value="displaykey.Button.Complete.Download"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>