<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuActions
    flatten="true"
    id="InternalToolsMenuActions">
    <MenuItem
      action="util.NavUtil.goToDefaultEntryPoint()"
      id="ReturnToApp"
      label="displaykey.Web.TabBar.ReturnToApp"/>
    <MenuItem
      action="logout:*"
      id="InternalToolsMenuActions_Logout"
      label="displaykey.Web.TabBar.Logout(entity.User.util.CurrentUser)"/>
  </MenuActions>
</PCF>