<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <TabBar
    id="InternalToolsTabBar">
    <Tab
      action="ServerTools.go()"
      id="ServerToolsTab"
      label="displaykey.Web.ServerTools"/>
    <Tab
      action="UnsupportedTools.go()"
      id="UnsupportedToolsTab"
      label="displaykey.Web.UnsupportedTools"
      visible="tools.InternalTools.isTabVisible()"/>
    <TabBarLink
      action="util.NavUtil.goToDefaultEntryPoint()"
      id="ReturnTabBarLink"
      label="displaykey.Web.TabBar.ReturnToApp"/>
    <TabBarLogout
      action="logout:*"
      id="LogoutTabBarLink"
      label="displaykey.Web.TabBar.Logout(entity.User.util.CurrentUser)"/>
    <HiddenLink
      action="ProfilerConfigurationPage.push()"
      id="ProfilerHiddenLink"
      shortcut="ShiftP"/>
  </TabBar>
</PCF>