<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="perm.User.EditJProfiler or perm.User.DevAllAccess"
    countsAsWork="false"
    id="JProfiler"
    parent="ServerTools()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.JProfiler">
    <LocationEntryPoint
      signature="JProfiler()"/>
    <LocationEntryPoint
      signature="JProfiler(Result : String)"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      initialValue="new gw.api.tools.SetLogLevelData()"
      name="CategoryData"
      recalculateOnRefresh="true"/>
    <Screen
      id="JProfilerScreen">
      <Variable
        initialValue="gw.api.tools.InternalToolsUtil.isJProfilerAvailable()"
        name="JProfilerAvailable"/>
      <Verbatim
        label="Result"/>
      <AlertBar
        id="JProfilerIsNotAvailable"
        label="displaykey.Web.InternalTools.JProfiler.unavailable"
        visible="not JProfilerAvailable"/>
      <DetailViewPanel
        id="JProfilerDV">
        <InputColumn>
          <ButtonInput
            action="Result = gw.api.tools.InternalToolsUtil.doJProfilerAction(&quot;startmemory&quot;)"
            align="center"
            available="JProfilerAvailable"
            hideIfDisabled="false"
            id="startmemory"
            labelAbove="true"
            value="displaykey.Web.InternalTools.JProfiler.startmemory"/>
          <ButtonInput
            action="Result = gw.api.tools.InternalToolsUtil.doJProfilerAction(&quot;startcpu&quot;)"
            align="center"
            available="JProfilerAvailable"
            hideIfDisabled="false"
            id="startcpu"
            labelAbove="true"
            value="displaykey.Web.InternalTools.JProfiler.startcpu"/>
          <ButtonInput
            action="Result = gw.api.tools.InternalToolsUtil.doJProfilerAction(&quot;startthread&quot;)"
            align="center"
            available="JProfilerAvailable"
            hideIfDisabled="false"
            id="startthread"
            labelAbove="true"
            value="displaykey.Web.InternalTools.JProfiler.startthread"/>
          <ButtonInput
            action="Result = gw.api.tools.InternalToolsUtil.doJProfilerAction(&quot;stopAndRestartCPUAndThread&quot;)"
            align="center"
            available="JProfilerAvailable"
            hideIfDisabled="false"
            id="stopAndRestartCPUAndThread"
            labelAbove="true"
            value="displaykey.Web.InternalTools.JProfiler.stopAndRestartCPUAndThread"/>
          <ButtonInput
            action="Result = gw.api.tools.InternalToolsUtil.doJProfilerAction(&quot;stop&quot;)"
            align="center"
            available="JProfilerAvailable"
            hideIfDisabled="false"
            id="stop"
            labelAbove="true"
            value="displaykey.Web.InternalTools.JProfiler.stop"/>
          <ButtonInput
            action="Result = gw.api.tools.InternalToolsUtil.doJProfilerAction(&quot;dump&quot;)"
            align="center"
            available="JProfilerAvailable"
            hideIfDisabled="false"
            id="dump"
            labelAbove="true"
            value="displaykey.Web.InternalTools.JProfiler.dump"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>