<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="MBeansLV">
    <Require
      name="BeanCategory"
      type="String"/>
    <Require
      name="GWMBeansData"
      type="gw.api.tools.MBeansData"/>
    <RowIterator
      editable="false"
      elementName="GWMBean"
      pageSize="0"
      value="GWMBeansData.getAllBeans(BeanCategory)">
      <Row>
        <Cell
          action="MBean.go(BeanCategory, GWMBeansData, GWMBean.BeanName)"
          id="BeanName"
          label="displaykey.Web.InternalTools.MBean.BeanName"
          value="GWMBean.BeanName"
          width="800"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>