<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    canVisit="perm.User.ViewMBeans or perm.User.DevAllAccess"
    countsAsWork="false"
    id="MBeans"
    parent="ServerTools()"
    startInEditMode="true"
    title="displaykey.Web.MBeans.Title">
    <LocationEntryPoint
      signature="MBeans()"/>
    <LocationEntryPoint
      signature="MBeans(Result : String)"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      initialValue="new gw.api.tools.MBeansData()"
      name="GWMBeansData"
      type="gw.api.tools.MBeansData"/>
    <Screen
      id="MBeansScreen">
      <Verbatim
        label="Result"/>
      <PanelRef
        def="MBeansLV(&quot;org.jgroups&quot;, GWMBeansData)"
        id="MBeansJGroupsLV"
        visible="gw.api.system.PLConfigParameters.ClusteringEnabled.Value and gw.api.system.PLConfigParameters.JGroupsClusterChannel.Value"/>
      <PanelRef
        def="MBeansLV(&quot;gw.plugin.cluster&quot;, GWMBeansData)"
        id="MBeansClusterPluginsLV"
        visible="gw.api.system.PLConfigParameters.ClusteringEnabled.Value and not gw.api.system.PLConfigParameters.JGroupsClusterChannel.Value"/>
      <PanelRef
        def="MBeansLV(&quot;com.guidewire.pl.system.cluster&quot;, GWMBeansData)"
        id="MBeansClusterLV"
        visible="gw.api.system.PLConfigParameters.ClusteringEnabled.Value"/>
      <PanelRef
        def="MBeansLV(&quot;com.guidewire.pl.system.monitor&quot;, GWMBeansData)"
        id="MBeansMonitorLV"/>
      <PanelRef
        def="MBeansLV(&quot;com.guidewire.pl.system.configuration&quot;, GWMBeansData)"
        id="MBeansConfigLV"/>
      <PanelRef
        def="MBeansLV(&quot;com.guidewire.pl.system.entity&quot;, GWMBeansData)"
        id="MBeansCacheLV"/>
      <PanelRef
        def="MBeansLV(&quot;com.guidewire.pl.system.cache&quot;, GWMBeansData)"
        id="MBeansCentipedeCacheLV"/>
      <PanelRef
        def="MBeansLV(&quot;com.guidewire.pl.system.workqueue&quot;, GWMBeansData)"
        id="MBeansWorkQueueLV"/>
      <PanelRef
        def="MBeansDV(Result)"/>
    </Screen>
  </Page>
</PCF>