<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="PotentialClusterMembersPopup"
    title="displaykey.Web.InternalTools.PotentialMembersOfCluster">
    <LocationEntryPoint
      signature="PotentialClusterMembersPopup()"/>
    <Variable
      initialValue="new gw.api.tools.ClusterInfoData()"
      name="ClusterInfoData"/>
    <Screen>
      <PanelRef>
        <ListViewPanel
          id="PotentialMembersLV">
          <RowIterator
            editable="false"
            elementName="Server"
            pageSize="0"
            value="ClusterInfoData.PotentialClusterMembers">
            <Row>
              <Cell
                enableSort="false"
                id="ServerId"
                label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.ServerId"
                value="Server.Member.ServerId"/>
              <Cell
                enableSort="false"
                id="LogicalName"
                label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.LogicalName"
                value="Server.LogicalName"/>
              <Cell
                enableSort="false"
                id="RunLevel"
                label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.RunLevel"
                value="Server.Member.RunLevel"/>
              <DateCell
                dateFormat="short"
                enableSort="false"
                id="ServerStarted"
                label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.ServerStarted"
                timeFormat="medium"
                value="Server.Member.ServerStarted"/>
              <DateCell
                dateFormat="short"
                enableSort="false"
                id="LastClusterJoined"
                label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.ConnectonStarted"
                timeFormat="medium"
                value="Server.Member.ConnectionStarted"/>
              <DateCell
                dateFormat="short"
                enableSort="false"
                id="LastUpdate"
                label="displaykey.Web.InternalTools.ClusterInfo.MembersLV.LastUpdate"
                timeFormat="medium"
                value="Server.Member.LastUpdateAsDate"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>