<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="Reload"
    parent="UnsupportedTools()"
    title="displaykey.Web.InternalTools.Reload">
    <Screen
      id="ReloadScreen">
      <Verbatim
        id="ReloadText"
        label="gw.api.tools.InternalToolsUtil.getLastResult()"/>
      <DetailViewPanel
        id="ReloadDV">
        <InputColumn>
          <ButtonInput
            action="gw.api.tools.InternalToolsUtil.reloadPCFs()"
            align="center"
            id="PCF"
            labelAbove="true"
            value="displaykey.Web.InternalTools.Reload.PCF"/>
          <ButtonInput
            action="gw.api.tools.InternalToolsUtil.reloadUI()"
            align="center"
            id="GSTemplates"
            labelAbove="true"
            value="displaykey.Web.InternalTools.Reload.GSTemplates"/>
          <ButtonInput
            action="gw.api.tools.InternalToolsUtil.reloadWorkflowEngine()"
            align="center"
            id="WorkflowEngine"
            labelAbove="true"
            value="displaykey.Web.InternalTools.Reload.WorkflowEngine"/>
          <ButtonInput
            action="gw.api.tools.InternalToolsUtil.reloadDisplayNames()"
            align="center"
            id="DisplayNames"
            labelAbove="true"
            value="displaykey.Web.InternalTools.Reload.DisplayNames"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="ServerToolsDisclaimerDV()"/>
    </Screen>
  </Page>
</PCF>