<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    countsAsWork="false"
    id="WorkQueueInfoDownloadConfigurePopup"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.WorkQueueInfo.DownloadQueueInfoConfigure">
    <Variable
      initialValue="new gw.api.web.tools.WorkQueueInfoPage()"
      name="Page"/>
    <Variable
      initialValue="Page.MaxSizeOfExecutorsArray"
      name="MaxExecutors"/>
    <Variable
      initialValue="Page.MaxSizeOfWorkerRunsArray"
      name="MaxBatches"/>
    <Variable
      initialValue="Page.MaxSizeOfWriterRunsArray"
      name="MaxWriters"/>
    <Variable
      initialValue="true"
      name="ExcludeEmptyBatches"/>
    <Variable
      initialValue="24"
      name="MaxHoursInItemDist"/>
    <Screen>
      <DetailViewPanel>
        <InputColumn>
          <Input
            editable="true"
            id="maxWriters"
            label="displaykey.Web.InternalTools.WorkQueueInfo.DownloadQueueInfo.MaxNumberOfWriterRuns"
            requestValidationExpression="VALUE &gt; 0 ? null : displaykey.Validator.PositiveInteger(VALUE)"
            required="true"
            value="MaxWriters">
            <PostOnChange/>
          </Input>
          <Input
            editable="true"
            id="maxExecutors"
            label="displaykey.Web.InternalTools.WorkQueueInfo.DownloadQueueInfo.MaxNumberOfExecutors"
            requestValidationExpression="VALUE &gt; 0 ? null : displaykey.Validator.PositiveInteger(VALUE)"
            required="true"
            value="MaxExecutors">
            <PostOnChange/>
          </Input>
          <Input
            editable="true"
            id="maxBatches"
            label="displaykey.Web.InternalTools.WorkQueueInfo.DownloadQueueInfo.MaxNumberOfBatches"
            requestValidationExpression="VALUE &gt; 0 ? null : displaykey.Validator.PositiveInteger(VALUE)"
            required="true"
            value="MaxBatches">
            <PostOnChange/>
          </Input>
          <Input
            editable="true"
            id="maxHours"
            label="displaykey.Web.InternalTools.WorkQueueInfo.DownloadQueueInfo.MaxHoursInItemDist"
            requestValidationExpression="VALUE &gt; 0 ? null : displaykey.Validator.PositiveInteger(VALUE)"
            required="true"
            value="MaxHoursInItemDist">
            <PostOnChange/>
          </Input>
          <ButtonInput
            action="Page.download(MaxWriters, MaxExecutors, MaxBatches, MaxHoursInItemDist)"
            align="center"
            download="true"
            id="download"
            value="displaykey.Button.Complete.Download"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>