<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="false"
    canVisit="perm.User.ViewWorkQueue or perm.User.DevAllAccess"
    countsAsWork="false"
    id="WorkQueueInfo"
    parent="ServerTools()"
    title="displaykey.Web.InternalTools.WorkQueueInfo.Title">
    <LocationEntryPoint
      signature="WorkQueueInfo()"/>
    <LocationEntryPoint
      signature="WorkQueueInfo(initialWorkQueueInfo : gw.api.web.tools.WorkQueueDisplayInfo)"/>
    <Variable
      initialValue="new gw.api.web.tools.WorkQueueInfoPage()"
      name="Page"/>
    <Variable
      name="initialWorkQueueInfo"
      type="gw.api.web.tools.WorkQueueDisplayInfo"/>
    <Screen
      id="WorkQueueInfoScreen">
      <DetailViewPanel
        columnDivider="false">
        <Variable
          initialValue="Page.getThreadPoolInfo()"
          name="PoolInfo"
          recalculateOnRefresh="true"/>
        <InputColumn>
          <TextInput
            id="maximumPoolSize"
            label="displaykey.Web.InternalTools.WorkQueueInfo.MaximumPoolSize"
            value="PoolInfo.ThreadPoolMaximumSize"/>
        </InputColumn>
        <InputColumn>
          <TextInput
            id="poolSize"
            label="displaykey.Web.InternalTools.WorkQueueInfo.PoolSize"
            value="PoolInfo.ThreadPoolSize"/>
        </InputColumn>
        <InputColumn>
          <TextInput
            id="activeThreads"
            label="displaykey.Web.InternalTools.WorkQueueInfo.ActiveThreads"
            value="PoolInfo.ActiveThreadCount"/>
        </InputColumn>
      </DetailViewPanel>
      <ListDetailPanel
        selectionName="SelectedQueue"
        selectionOnEnter="initialWorkQueueInfo"
        selectionType="gw.api.web.tools.WorkQueueDisplayInfo">
        <PanelRef>
          <Toolbar>
            <ToolbarButton
              action="null"
              id="refresh"
              label="displaykey.Button.Refresh"/>
            <ToolbarButton
              action="WorkQueueInfoDownloadConfigurePopup.push()"
              id="download"
              label="displaykey.Button.Download"/>
            <ToolbarButton
              action="WorkQueueRawDataDownloadConfigurePopup.push()"
              id="downloadRawData"
              label="displaykey.Web.InternalTools.WorkQueueInfo.DownloadRawData"/>
          </Toolbar>
          <ListViewPanel
            id="WorkQueueInfoLV">
            <RowIterator
              editable="false"
              elementName="WorkQueueRow"
              pageSize="0"
              type="gw.api.web.tools.WorkQueueDisplayInfo"
              value="Page.WorkQueueList">
              <Variable
                initialValue="new gw.api.tools.BatchProcess(WorkQueueRow.WorkQueueInfo.QueueType)"
                name="batchProcess"/>
              <Row
                visible="WorkQueueRow.QueueType != typekey.BatchProcessType.TC_ARCHIVE or gw.api.web.tools.ArchiveInfoPage.isArchivingAvailable()">
                <Cell
                  id="WorkQueueName"
                  label="displaykey.Web.InternalTools.WorkQueueLv.WorkQueueName"
                  sortOrder="1"
                  value="WorkQueueRow.WorkQueueInfo.QueueName"
                  width="200"/>
                <Cell
                  enableSort="false"
                  id="numActive"
                  label="displaykey.Web.InternalTools.WorkQueueLv.AvailableCount"
                  value="WorkQueueRow.AvailableCount"/>
                <Cell
                  enableSort="false"
                  id="numCheckedOut"
                  label="displaykey.Web.InternalTools.WorkQueueLv.CheckedOutCount"
                  value="WorkQueueRow.CheckedOutCount"/>
                <Cell
                  enableSort="false"
                  id="numFailed"
                  label="displaykey.Web.InternalTools.WorkQueueLv.FailedCount"
                  value="WorkQueueRow.FailedCount"/>
                <Cell
                  enableSort="false"
                  id="numExecutorsActive"
                  label="displaykey.Web.InternalTools.WorkQueueLv.ExecutorsRunningCount"
                  value="WorkQueueRow.ExecutorsRunning"/>
                <Cell
                  id="WriterStatus"
                  label="displaykey.Web.InternalTools.WorkQueueLv.WriterStatus"
                  value="Page.getWriterStatus(WorkQueueRow)"
                  visible="gw.api.tools.ClusterInfoData.isBatchServerAvailable()"/>
                <LinkCell
                  align="center"
                  id="NotifyCell"
                  label="displaykey.Web.InternalTools.WorkQueueLv.Action"
                  visible="gw.api.tools.ClusterInfoData.isBatchServerAvailable() and (perm.User.EditWorkQueue or perm.User.DevAllAccess)"
                  width="500">
                  <Link
                    action="SelectedQueue = WorkQueueRow;Page.runWriter(WorkQueueRow)"
                    available="(not batchProcess.ActiveStatus) and Page.canStartFromUi(WorkQueueRow)"
                    id="RunWriter"
                    label="displaykey.Web.InternalTools.WorkQueueLv.RunWriter"
                    styleClass="miniButton"/>
                  <Link
                    action="SelectedQueue = WorkQueueRow;Page.notifyWorkers(WorkQueueRow)"
                    id="Notify"
                    label="displaykey.Web.InternalTools.WorkQueueLv.NotifyExecutor"
                    styleClass="miniButton"/>
                  <Link
                    action="Page.stopWorkers(WorkQueueRow)"
                    id="StopWorkers"
                    label="displaykey.Web.InternalTools.WorkQueueLv.StopExecutor"
                    styleClass="miniButton"/>
                  <Link
                    action="Page.restartWorkers(WorkQueueRow)"
                    id="RestartWorkers"
                    label="displaykey.Web.InternalTools.WorkQueueLv.RestartExecutor"
                    styleClass="miniButton"/>
                  <Link
                    action="SelectedQueue = WorkQueueRow; WorkQueueHistoryDownloadConfigurePopup.push(WorkQueueRow);"
                    id="PrintHistory"
                    label="displaykey.Web.InternalTools.WorkQueueLv.DownloadHistory"
                    styleClass="miniButton"/>
                </LinkCell>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
        <PanelRef>
          <TitleBar
            title="displaykey.Web.InternalTools.WorkQueueInfo.StatisticsTitle"/>
          <CardViewPanel
            id="WorkQueueDV">
            <Card
              id="WorkItemsByWriter"
              title="displaykey.Web.WorkQueueItemsByWriter.Title">
              <PanelRef
                def="WorkQueueWritersPanelSet(Page, SelectedQueue)"/>
            </Card>
            <Card
              id="WorkQueueExecutors"
              title="displaykey.Web.WorkQueueExecutors.Title">
              <PanelRef
                def="WorkQueueExecutorsPanelSet(Page, SelectedQueue)"/>
            </Card>
            <Card
              id="WorkQueueWorkItems"
              title="displaykey.Web.WorkQueueWorkItems.Title">
              <PanelRef
                def="WorkQueueWorkItemsLDV(Page, SelectedQueue)"/>
            </Card>
          </CardViewPanel>
        </PanelRef>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>
