<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="AdminContactAssignmentPage"
    startInEditMode="true"
    title="displaykey.Training.AssignmentTransfer">
    <LocationEntryPoint
      signature="AdminContactAssignmentPage()"/>
    <Variable
      initialValue="null"
      name="CurrentUser"
      type="User"/>
    <Variable
      initialValue="null"
      name="TargetUser"
      type="User"/>
    <Variable
      initialValue="null"
      name="ResultString"
      type="String"/>
    <Variable
      name="CurrentUserContacts"
      type="gw.api.database.IQueryBeanResult&lt;entity.ABContact&gt;"/>
    <Variable
      name="TargetUserContacts"
      type="gw.api.database.IQueryBeanResult&lt;entity.ABContact&gt;"/>
    <Screen>
      <DetailViewPanel
        columnDivider="false">
        <InputColumn>
          <Label
            id="ContactAssignmentLabel"
            label="displaykey.Training.ContactAssignmentExplained"/>
          <RangeInput
            editable="true"
            id="OriginalUser"
            label="displaykey.Training.CurrentUser"
            value="CurrentUser"
            valueRange="queryForUsers()">
            <PostOnChange
              onChange="CurrentUserContacts = trainingapp.base.AssignedUserUtil.getAssignedContacts(CurrentUser)"/>
          </RangeInput>
          <ListViewInput
            label="displaykey.Training.CurrentUsersContacts">
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="false"
                elementName="CurrentContact"
                id="CurrentUserContacts"
                pageSize="5"
                value="CurrentUserContacts">
                <Row>
                  <Cell
                    enableSort="false"
                    id="ContactName"
                    label="displaykey.Training.Name"
                    value="CurrentContact.DisplayName"/>
                  <Cell
                    id="AssignedUser"
                    label="displaykey.Training.AssignedUser"
                    value="CurrentContact.AssignedUser"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <InputDivider/>
          <RangeInput
            editable="true"
            id="TargetUser"
            label="displaykey.Training.TargetUser"
            value="TargetUser"
            valueRange="queryForUsers()">
            <PostOnChange
              onChange="TargetUserContacts = trainingapp.base.AssignedUserUtil.getAssignedContacts(TargetUser)"/>
          </RangeInput>
          <ListViewInput
            label="displaykey.Training.TargetUsersContacts">
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="false"
                elementName="CurrentContact"
                id="TargetUserContacts"
                pageSize="5"
                value="TargetUserContacts">
                <Row>
                  <Cell
                    enableSort="false"
                    id="ContactName"
                    label="displaykey.Training.Name"
                    value="CurrentContact.DisplayName"/>
                  <Cell
                    id="AssignedUser"
                    label="displaykey.Training.AssignedUser"
                    value="CurrentContact.AssignedUser"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <InputDivider/>
          <ButtonInput
            action="ResultString = trainingapp.base.AssignedUserUtil.transferAssignedUser( CurrentUser, TargetUser )"
            id="TransferContacts"
            value="displaykey.Training.TransferContactAssignment"/>
          <Input
            id="ResultString"
            label="displaykey.Training.Results"
            value="ResultString"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
    <Code><![CDATA[/* This function is used to populate the Employer dynamic dropdown.
*/
function queryForUsers () :
                gw.api.database.IQueryBeanResult<entity.User> {

  var userQuery = gw.api.database.Query.make(User)
  var resultSet = userQuery.select()
  return resultSet
  
}
]]></Code>
  </Page>
</PCF>