<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="true"
    id="AdminUserAndAssignedContactsPage"
    title="displaykey.Training.AssignedContactsCount">
    <Screen>
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="UserAndAssignedContactsLV">
          <RowIterator
            checkBoxVisible="false"
            editable="false"
            elementName="aUser"
            id="aUserIterator"
            value="trainingapp.base.AssignedUserUtil.findAllContactManagers()">
            <Row>
              <Cell
                enableSort="false"
                id="UserName"
                label="displaykey.Training.User"
                value="aUser.DisplayName"
                width="150"/>
              <Cell
                align="left"
                enableSort="false"
                id="NumberOfContacts"
                label="displaykey.Training.AssignedABContacts"
                value="trainingapp.base.AssignedUserUtil.countAssignedContacts(aUser)"
                width="100"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Page>
</PCF>