<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    height="600"
    id="Help"
    popup="true"
    url="../trainingapphelp/index.html"
    width="400">
    <ExitPointParameter
      defaultValue="web.WebUtil.getResourcesPath()"
      locationParam="skin"
      type="String"
      urlParam="skin"/>
  </ExitPoint>
</PCF>