<html>
<head>
  <title>
    <%= title %>
  </title>
  <%= head %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Page-Enter" content="RevealTrans(Duration=0,Transition=0)">
  <link href="css/trans.css?ver=<%= AppVersion %>" rel="stylesheet" type="text/css" media="screen">
  <link href="css/print_trans.css?ver=<%= AppVersion %>" rel="stylesheet" type="text/css" media="print">
  <link rel="SHORTCUT ICON" href="images/favicon.ico">
  <script type="text/javascript" src="<%= jsDir %>global.js?ver=<%= AppVersion %>"></script>
  <script type="text/javascript">
    function openUrl(link){
      window.open(link.title);
    }
  </script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" <%= bodytag %>>
<%= formtag %>
<%= prescript %>
<div id="mainTable" class="screen">

  <%= topdivision %>
  <table class="contentTable" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td class="page_header">
        <div id="page_header" class="page_header">
            <%= tabbar %>
        </div>
        <div id="infobar_area" class="infobar_area">
          <%= infobar %>
        </div>
      </td>
    </tr>
    <tr>
      <td <%= contentnavtag %>>
        <div <%= contentnavtag %>>
          <div id="leftnav" <%= leftnavtag %>>
            <%= leftnavWidth %>
            <%= menuactions %>
            <%= menutree %>
            <%= menulinks %>
          </div>
          <%= content %>
        </div>
      </td>
    </tr>
  </table>
</div>
<%= workspace %>
</div>
</form>
<%= postscript %>
</body>
</html>