<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ArchiveSourceInfoDV">
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.archiving.IArchiveSource)"
      name="plugin"/>
    <Variable
      initialValue="gw.api.web.tools.ArchiveInfoPage.getAsOfDateMayRefresh(gw.api.util.DateUtil.currentDate().addMinutes(-15))"
      name="asof"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="plugin.Status"
      name="info"
      recalculateOnRefresh="true"/>
    <InputColumn>
      <DateInput
        dateFormat="short"
        id="asof"
        label="displaykey.Web.ServerTools.ArchiveInfo.SourceInfo.asof"
        timeFormat="long"
        value="asof"/>
    </InputColumn>
    <InputColumn>
      <Input
        id="store"
        label="displaykey.Web.ServerTools.ArchiveInfo.SourceInfo.storeStatus"
        value="info.StoreStatus"/>
    </InputColumn>
    <InputColumn>
      <Input
        id="restore"
        label="displaykey.Web.ServerTools.ArchiveInfo.SourceInfo.restoreStatus"
        value="info.RetrieveStatus"/>
    </InputColumn>
    <InputColumn>
      <Input
        id="delete"
        label="displaykey.Web.ServerTools.ArchiveInfo.SourceInfo.deleteStatus"
        value="info.DeleteStatus"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>