<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ArchiveExcludeDetailsLV">
    <Require
      name="archiveDetails"
      type="gw.api.archiving.ArchiveDetails"/>
    <RowIterator
      editable="false"
      elementName="details"
      pageSize="10"
      value="archiveDetails.DetailsData">
      <Row>
        <Cell
          action="ArchiveItemListPopup.push(details)"
          id="Description"
          label="archiveDetails.Label"
          sortDirection="descending"
          sortOrder="1"
          value="details.Description"
          wrapLabel="true"/>
        <Cell
          id="Count"
          label="displaykey.Web.ServerTools.ArchiveInfo.Count"
          sortDirection="descending"
          sortOrder="1"
          value="details.Count"/>
        <ButtonCell
          action="details.resetExcludedFlag()"
          available="details.Count &gt; 0"
          hideIfDisabled="false"
          id="ResetItem"
          value="displaykey.Web.ServerTools.ArchiveInfo.ResetItems"
          visible="!(archiveDetails typeis gw.api.archiving.ArchiveSkippedDetails)"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>