<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ChartPanel
    categoryLabelOrientation="Up45"
    height="height"
    id="CentipedeAgeDistributionChart"
    label="pageHelper.getAgeDistributionLabel(snapshot)"
    type="Bar"
    width="width">
    <Require
      name="pageHelper"
      type="gw.api.cache2.CacheInfoPageHelper"/>
    <Require
      name="snapshot"
      type="com.guidewire.pl.system.cache2.CacheStatisticsSnapshot"/>
    <Require
      name="height"
      type="int"/>
    <Require
      name="width"
      type="int"/>
    <Variable
      initialValue="pageHelper.getDataSeriesForSizeDistribution(snapshot)"
      name="dataSeries"
      recalculateOnRefresh="true"/>
    <DomainAxis
      label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Age"
      type="Category"
      useWholeNumbers="true"/>
    <RangeAxis
      label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Count"
      type="Number"
      useWholeNumbers="true"/>
    <DataSeries
      categoryLabel="value.First"
      dataValues="dataSeries"
      label="displaykey.Web.InternalTools.InfoPages.CacheInfo.Count"
      value="value.Second"/>
  </ChartPanel>
</PCF>