<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="ConfigurationInfo"
    parent="InfoPages()"
    title="displaykey.Web.InternalTools.InfoPages.Configuration.InfoPage">
    <Screen>
      <Variable
        initialValue="new gw.api.tools.ConfigurationDumpHelper()"
        name="dumpDownloadHelper"/>
      <Toolbar>
        <ToolbarButton
          action="dumpDownloadHelper.downloadZip()"
          download="true"
          id="ConfigurationInfo_DownloadButton"
          label="displaykey.Button.Download"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            boldLabel="true"
            label="displaykey.Web.InternalTools.InfoPages.Configuration.ConfigParameters"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="ParameterLV">
              <RowIterator
                editable="false"
                elementName="param"
                pageSize="0"
                value="com.guidewire.pl.system.dependency.ServerDependencies.getSystemConfiguration().getParameterDefinitions().where(\ p -&gt; p.EntityName == null)">
                <Row>
                  <Cell
                    id="Name"
                    label="displaykey.Web.InternalTools.InfoPages.Configuration.Name"
                    value="param.Name"
                    width="350"/>
                  <TextAreaCell
                    id="Value"
                    label="displaykey.Web.InternalTools.InfoPages.Configuration.Value"
                    numCols="120"
                    value="param.Value"
                    width="650"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>