<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ConsistencyChecksLV">
    <Require
      name="CCPageHelper"
      type="gw.api.tools.ConsistencyChecksRunsPageHelper"/>
    <Require
      name="tableSearch"
      type="String"/>
    <RowIterator
      editable="false"
      elementName="consistencyCheck"
      value="CCPageHelper.getConsistencyChecks( tableSearch )">
      <ToolbarFilter
        label="displaykey.Web.InternalTools.InfoPages.LoadHistory.LoadIntegrityCheckType"
        name="CheckTypeFilterSet">
        <ToolbarFilterOptionGroup
          filters="new gw.api.filters.ConsistencyCheckTypelistFilterSet().FilterOptions"/>
      </ToolbarFilter>
      <Row>
        <Cell
          id="table"
          label="displaykey.Web.ConsistencyCheck.TableName"
          value="consistencyCheck.AssociatedTable.Name"
          valueVisible="true"/>
        <Cell
          id="Cell0"
          label="displaykey.Web.ConsistencyCheck.CheckName"
          value="consistencyCheck.ConsistencyCheckType.DisplayName"/>
        <Cell
          enableSort="false"
          id="consistencyCheckDescription"
          label="displaykey.Web.ConsistencyCheck.Desc"
          value="consistencyCheck.getDescription()"
          width="600"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>