<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ConsistencyChecksRunsLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.ConsistencyChecksRunsPageHelper"/>
    <ExposeIterator
      flags="CheckRun"
      valueType="entity.DBConsistCheckRun"
      widget="ConsistencyChecksRunsLV"/>
    <RowIterator
      editable="true"
      elementName="Row"
      hasCheckBoxes="true"
      type="DBConsistCheckRun"
      value="PageHelper.ConsistCheckRunsByStartTime">
      <ToolbarFlag
        name="CheckRun"/>
      <Row>
        <LinkCell
          align="center"
          id="DownloadHeader"
          label="displaykey.Button.Download">
          <Link
            action="PageHelper.downloadConsistencyCheckRun(Row)"
            download="true"
            icon="&quot;download.png&quot;"
            id="LVDownload"
            showConfirmMessage="false"
            tooltip="displaykey.Web.InternalTools.DBConsistCheckRun.Download"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="ViewLinkCell"
          label="displaykey.Button.View"
          visible="gw.api.system.server.ServerModeUtil.Dev">
          <Link
            action="ReportView.push(&quot;DBCCRun&quot;, Row.PublicID)"
            icon="&quot;search_16.png&quot;"
            id="View"
            label="displaykey.Button.View"
            showConfirmMessage="false"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DeleteHeader"
          label="displaykey.Button.Delete">
          <Link
            action="PageHelper.deleteDBConsistCheckRun(Row)"
            confirmMessage="displaykey.Java.Web.ConsistencyCheck.DeleteConfirmation "
            icon="&quot;icon_trash.png&quot;"
            id="LVDelete"
            tooltip="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"
            visible="Row.EndTime &lt;&gt; null"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="RerunHeader"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.Rerun"
          tooltip="displaykey.Web.InternalTools.DBConsistCheckRun.RerunTooltip"
          visible="PageHelper.ShowRerunColHeader">
          <Link
            action="PageHelper.submitRerunBatch(Row)"
            icon="&quot;re-run.png&quot;"
            id="LVRerunLink"
            visible="PageHelper.runContainsSqlErrors(Row) and Row.EndTime != null"/>
        </LinkCell>
        <Cell
          enableSort="false"
          id="LVDescription"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Description"
          value="Row.Description"
          width="400"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="numErrors"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.NumErrors"
          value="Row.NumErrorExecs"
          width="80"
          wrapLabel="true"/>
        <Cell
          enableSort="false"
          id="totalChecks"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.TotalChecks"
          value="Row.TotalNumChecks"
          width="90"
          wrapLabel="true"/>
        <Cell
          enableSort="false"
          id="cellNotStarted"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.ChecksNotStarted"
          value="Row.TotalNumChecks - Row.NumExecsInProgress - Row.NumExecsFinished"
          width="80"
          wrapLabel="true"/>
        <Cell
          enableSort="false"
          id="cellInProgress"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.ChecksInProgress"
          value="Row.NumExecsInProgress"
          width="80"
          wrapLabel="true"/>
        <Cell
          enableSort="false"
          id="cellFinished"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.ChecksFinished"
          value="&quot;&quot; + Row.NumExecsFinished + &quot; ( &quot; + ((100 * Row.NumExecsFinished) / Row.TotalNumChecks)  + &quot;% )&quot;"
          valueVisible="Row.TotalNumChecks &lt;&gt; 0"
          width="110"
          wrapLabel="true"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVStartTime"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.StartTime"
          timeFormat="short"
          value="Row.StartTime"
          width="155"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVEndTime"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.EndTime"
          timeFormat="short"
          value="Row.EndTime"
          width="155"/>
        <Cell
          id="LVDuration"
          label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo.Duration"
          value="Row.Duration"
          width="100"/>
        <Cell
          align="center"
          enableSort="false"
          id="LVVersion"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.Version"
          value="&quot;( &quot; + (Row.MajorSchemaVersion as String) + &quot;, &quot; + (Row.MinorSchemaVersion as String) + &quot;, &quot; + (Row.PlatformMajorSchemaVersion as String) + &quot;, &quot; + (Row.PlatformMinorSchemaVersion as String) + &quot;, &quot; + (Row.ExtensionsSchemaVersion as String) + &quot; )&quot;"
          width="200"
          wrapLabel="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>