<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    browserTitle="displaykey.Web.ConsistencyCheck.PageTitle"
    canEdit="true"
    countsAsWork="false"
    id="ConsistencyChecks"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.ConsistencyCheck.PageTitle">
    <Variable
      initialValue="new gw.api.tools.ConsistencyChecksRunsPageHelper()"
      name="CCPageHelper"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCPageHelper.DbTableNames)"
      name="TablePicker"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCPageHelper.ConsistCheckTypeCodes)"
      name="CheckPicker"/>
    <Variable
      initialValue="new gw.api.tools.NameablePicker(CCPageHelper.TableGroups)"
      name="TableGroupPicker"/>
    <Screen
      editable="true"
      id="ConsistencyChecksScreen">
      <Variable
        initialValue="new gw.api.tools.ConsistencyChecksRunsPageHelper( )"
        name="CCViewHelper"
        type="gw.api.tools.ConsistencyChecksRunsPageHelper"/>
      <Variable
        initialValue="&quot;&quot;"
        name="tableSearch"
        type="String"/>
      <Verbatim
        label="displaykey.Web.InfoPages.ConsistencyChecks.HeaderText"/>
      <CardViewPanel>
        <Card
          id="RunConsistChecksCard"
          title="displaykey.Web.InfoPages.ConsistencyChecks.Run">
          <PanelRef>
            <PanelRow>
              <PanelColumn>
                <PanelSet>
                  <Verbatim
                    label="displaykey.Web.InfoPages.ConsistencyChecks.RunText"/>
                </PanelSet>
                <DetailViewPanel>
                  <InputColumn
                    refreshOnProgressComplete="CCPageHelper">
                    <ListViewInput
                      def="ConsistencyChecksRunsLV(CCPageHelper)"
                      labelAbove="true">
                      <Toolbar>
                        <CheckedValuesToolbarButton
                          allCheckedRowsAction="CCPageHelper.downloadMultipleConsistencyCheckRuns(CheckedValues)"
                          download="true"
                          flags="any CheckRun"
                          id="downloadAll"
                          iterator="ConsistencyChecksRunsLV.ConsistencyChecksRunsLV"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.DownloadMultiple"/>
                        <CheckedValuesToolbarButton
                          checkedRowAction="if (CheckedValue.EndTime &lt;&gt; null) { CCPageHelper.deleteDBConsistCheckRun(CheckedValue) }"
                          confirmMessage="displaykey.Java.Web.ConsistencyCheck.DeleteConfirmation "
                          id="DeleteChecked"
                          iterator="ConsistencyChecksRunsLV.ConsistencyChecksRunsLV"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.Delete"/>
                        <ToolbarButton
                          action="null"
                          id="ToolbarButton"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.Refresh"/>
                      </Toolbar>
                    </ListViewInput>
                    <ProgressInput
                      id="batchProgress"
                      labelAbove="true"
                      percentage="CCPageHelper.StatusType == WorkItemSetState.TC_COMPLETED ? 100 : (CCPageHelper.Running ? CCPageHelper.ProgressPercentageIfRunning : -1)"
                      status="CCPageHelper.Status"
                      valueWidth="600"/>
                    <ButtonInput
                      action="CCPageHelper.submitBatch(TablePicker.ChosenNames, TableGroupPicker.ChosenPickers, CheckPicker.ChosenPickers)"
                      hideIfDisabled="false"
                      id="SubmitBatchJobButton"
                      labelAbove="true"
                      value="displaykey.Web.InternalTools.DBConsistCheckRun.SubmitRun"
                      visible="!CCPageHelper.isRunning() and !CCPageHelper.isWriterRunning()"/>
                    <ButtonInput
                      action="CCPageHelper.pauseRun()"
                      hideIfDisabled="false"
                      id="PauseButton"
                      labelAbove="true"
                      value="displaykey.Web.InternalTools.DBConsistCheckRun.PauseRun"
                      visible="CCPageHelper.isRunning() and not CCPageHelper.isCanceling() and CCPageHelper.areWorkersRunning()"/>
                    <ButtonInput
                      action="CCPageHelper.resumeRun()"
                      hideIfDisabled="false"
                      id="ResumeButton"
                      labelAbove="true"
                      value="displaykey.Web.InternalTools.DBConsistCheckRun.ResumeRun"
                      visible="CCPageHelper.isRunning() and not CCPageHelper.isCanceling() and !CCPageHelper.areWorkersRunning()"/>
                    <ButtonInput
                      action="CCPageHelper.cancelRun()"
                      hideIfDisabled="false"
                      id="CancelButton"
                      labelAbove="true"
                      value="displaykey.Web.InternalTools.DBConsistCheckRun.CancelRun"
                      visible="CCPageHelper.isRunning() and not CCPageHelper.isCanceling()"/>
                  </InputColumn>
                </DetailViewPanel>
                <PanelRow>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <TextInput
                          editable="true"
                          id="Descripton"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.Description"
                          value="CCPageHelper.Description"
                          visible="!CCPageHelper.isRunning() and !CCPageHelper.isWriterRunning()"/>
                      </InputColumn>
                      <InputColumn>
                        <TextInput
                          available="CCPageHelper.NumberOfThreads &lt;&gt; -1"
                          editable="true"
                          id="NumThreads"
                          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.NumberThreads"
                          requestValidationExpression="VALUE &gt; 0 ? null : displaykey.Validator.PositiveInteger(VALUE)"
                          required="true"
                          value="CCPageHelper.NumberOfThreads"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </PanelColumn>
                </PanelRow>
                <PanelRow>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <RangeRadioInput
                          editable="true"
                          id="tableSelectionType"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.SpecifyTables"
                          value="CCPageHelper.TableSelectMode"
                          valueRange="gw.api.database.ConsistCheckRunTableSelectType.values()">
                          <PostOnChange/>
                        </RangeRadioInput>
                      </InputColumn>
                    </DetailViewPanel>
                    <PanelRow
                      editable="true"
                      visible="CCPageHelper.TableSelectMode == SPECIFY_TABLES">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showTables">
                          <Toolbar
                            id="availTablesToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="row.Chosen = false"
                              id="useButton"
                              iterator="tableSelectionLV"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="tableSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="row"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="TablePicker.ChosenPickers">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.SelectedTables"
                                  value="row.DisplayName"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="available">
                        <PanelRef
                          editable="true">
                          <Toolbar>
                            <CheckedValuesToolbarButton
                              checkedRowAction="row.Chosen = true"
                              id="useButton"
                              iterator="tableAllLV"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                              showConfirmMessage="false"/>
                            <ToolbarInput
                              editable="true"
                              id="searchString"
                              value="TablePicker.SearchString"
                              visible="true">
                              <PostOnChange/>
                            </ToolbarInput>
                            <ToolbarButton
                              action="null"
                              id="ToolbarButton"
                              label="displaykey.Web.ConsistencyCheck.Search"/>
                            <ToolbarButton
                              action="TablePicker.SearchString = &quot;&quot;"
                              id="ResetButton"
                              label="displaykey.Web.ConsistencyCheck.ResetButton"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="tableAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="row"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="TablePicker.getUnchosenPickersFilteredByName()">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.AvailTables"
                                  value="row.DisplayName"
                                  width="400"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                    <PanelRow
                      editable="true"
                      visible="CCPageHelper.TableSelectMode == SPECIFY_TABLEGROUPS">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showChosenTableGroups">
                          <Toolbar
                            id="chosenTableGroupsToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="ChosenTableGroup.Chosen = false"
                              id="useButton"
                              iterator="ChosenTableGroupIterator"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="tableGroupSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="ChosenTableGroup"
                              hasCheckBoxes="true"
                              id="ChosenTableGroupIterator"
                              pageSize="25"
                              value="TableGroupPicker.ChosenPickers">
                              <Row>
                                <TextCell
                                  id="chosentablegroupname"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.SelectedTableGroups"
                                  value="ChosenTableGroup.DisplayName"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="availableTableGroups">
                        <PanelRef
                          editable="true"
                          id="showAvailableTableGroups">
                          <Toolbar
                            id="availableTableGroupsToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="availableTableGroup.Chosen = true;"
                              id="useButton"
                              iterator="availableTableGroupsIterator"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="tablegroupAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="availableTableGroup"
                              hasCheckBoxes="true"
                              id="availableTableGroupsIterator"
                              pageSize="25"
                              value="TableGroupPicker.UnchosenPickersFilteredByName">
                              <Row>
                                <TextCell
                                  id="tablegroupname"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.AvailTableGroups"
                                  value="availableTableGroup.DisplayName"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                  </PanelColumn>
                  <PanelColumn>
                    <DetailViewPanel>
                      <InputColumn>
                        <BooleanRadioInput
                          editable="true"
                          falseLabel="displaykey.Web.InternalTools.DBConsistCheckRun.NotAllTypes"
                          id="AnalyzeAllTypes"
                          label="displaykey.Web.InternalTools.DBConsistCheckRun.CheckAllTypes"
                          value="CCPageHelper.CheckAllTypes">
                          <PostOnChange/>
                        </BooleanRadioInput>
                      </InputColumn>
                    </DetailViewPanel>
                    <PanelRow
                      editable="true"
                      visible="!CCPageHelper.CheckAllTypes">
                      <PanelColumn
                        editable="true">
                        <PanelRef
                          editable="true"
                          id="showConsistCheckTypes">
                          <Toolbar
                            id="checkSelectedToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="selectedCheckType.Chosen = false"
                              id="useButton"
                              iterator="checkSelectLV"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                              showConfirmMessage="false"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="checkTypeSelectionLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="selectedCheckType"
                              hasCheckBoxes="true"
                              id="checkSelectLV"
                              pageSize="25"
                              value="CheckPicker.ChosenPickers">
                              <Row>
                                <TextCell
                                  align="center"
                                  helpText="CCPageHelper.getCheckTypeCode(selectedCheckType)"
                                  id="row"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.SelectedCheckTypes"
                                  value="selectedCheckType.DisplayName"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                      <PanelColumn
                        editable="true"
                        id="availableTypes">
                        <PanelRef
                          editable="true">
                          <Toolbar
                            id="checkAllToolbar">
                            <CheckedValuesToolbarButton
                              checkedRowAction="availableCheckType.Chosen = true"
                              id="useButton"
                              iterator="checkAllLV"
                              label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                              showConfirmMessage="false"/>
                            <ToolbarInput
                              editable="true"
                              id="searchString"
                              value="CheckPicker.SearchString"
                              visible="true">
                              <PostOnChange/>
                            </ToolbarInput>
                            <ToolbarButton
                              action="null"
                              id="ToolbarButton"
                              label="displaykey.Web.ConsistencyCheck.Search"/>
                            <ToolbarButton
                              action="CheckPicker.SearchString = &quot;&quot;"
                              id="Reset"
                              label="displaykey.Web.ConsistencyCheck.ResetButton"/>
                          </Toolbar>
                          <ListViewPanel
                            editable="true"
                            id="checkAllLV">
                            <RowIterator
                              canPick="false"
                              checkBoxVisible="true"
                              editable="true"
                              elementName="availableCheckType"
                              hasCheckBoxes="true"
                              pageSize="25"
                              value="CheckPicker.getUnchosenPickersFilteredByName()">
                              <Row>
                                <TextCell
                                  id="row"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.AvailCheckTypes"
                                  value="availableCheckType.DisplayName"
                                  width="200"/>
                                <TextCell
                                  id="ccTypeCode"
                                  label="displaykey.Java.Web.ConsistencyCheck.TypeCode"
                                  value="CCPageHelper.getCheckTypeCode(availableCheckType)"
                                  width="200"/>
                                <TextCell
                                  id="conistCheckDescription"
                                  label="displaykey.Web.InternalTools.DBConsistCheckRun.Description"
                                  value="CCPageHelper.getCheckTypeDescription(availableCheckType)"
                                  width="200"/>
                              </Row>
                            </RowIterator>
                          </ListViewPanel>
                        </PanelRef>
                      </PanelColumn>
                    </PanelRow>
                  </PanelColumn>
                </PanelRow>
              </PanelColumn>
            </PanelRow>
          </PanelRef>
        </Card>
        <Card
          id="ViewConsistChecksCard"
          title="displaykey.Web.InfoPages.ConsistencyChecks.View">
          <PanelRef
            id="UseRunTextPanel">
            <PanelSet
              id="DownloadTextPanelSet">
              <PanelRow>
                <PanelColumn>
                  <PanelRef>
                    <TitleBar
                      title="displaykey.Web.InfoPages.ConsistencyChecks.DownloadText"/>
                    <DetailViewPanel>
                      <InputColumn>
                        <ButtonInput
                          action="CCViewHelper.downloadConsistencyChecks( null )"
                          download="true"
                          id="DownloadAllConsistencyChecks"
                          labelAbove="true"
                          value="displaykey.Web.ConsistencyCheck.Download"/>
                      </InputColumn>
                    </DetailViewPanel>
                  </PanelRef>
                  <PanelSet>
                    <PanelRef
                      id="ViewTextPanelRef">
                      <TitleBar
                        title="displaykey.Web.InfoPages.ConsistencyChecks.ViewText"/>
                      <DetailViewPanel
                        editable="true">
                        <InputColumn>
                          <TextInput
                            editable="true"
                            focusOnStartEditing="true"
                            id="TableNameSearchTextInput"
                            label="displaykey.Web.ConsistencyCheck.TableNameSearch"
                            value="tableSearch"
                            visible="true"/>
                        </InputColumn>
                        <InputColumn>
                          <ButtonInput
                            action="null"
                            id="searchButton"
                            labelAbove="true"
                            value="displaykey.Web.ConsistencyCheck.Search"/>
                        </InputColumn>
                        <InputColumn>
                          <ButtonInput
                            action="tableSearch = &quot;&quot;"
                            id="ResetButton"
                            labelAbove="true"
                            value="displaykey.Web.ConsistencyCheck.ResetButton"/>
                        </InputColumn>
                        <InputColumn/>
                      </DetailViewPanel>
                    </PanelRef>
                  </PanelSet>
                </PanelColumn>
              </PanelRow>
              <ListDetailPanel
                selectionName="cCheck"
                selectionType="gw.api.database.ConsistencyCheck">
                <PanelRef
                  def="ConsistencyChecksLV(CCViewHelper, tableSearch)">
                  <Toolbar/>
                </PanelRef>
                <CardViewPanel>
                  <Card
                    id="cCheckCard"
                    title="displaykey.Web.ConsistencyCheck.SQLString">
                    <TemplatePanel><![CDATA[<div style="width:1040;height:500;overflow-x:scroll;overflow-y:scroll;">
  <% printContent(cCheck.CheckCommand, false) %>
</div>
          
        ]]></TemplatePanel>
                  </Card>
                  <Card
                    id="QueryToIdentifyRowsCard"
                    title="displaykey.Web.InternalTools.DBConsistCheckRun.QueryToIdentifyRows"
                    visible="cCheck.QueryToIdentifyRows &lt;&gt; null and cCheck.QueryToIdentifyRows &lt;&gt; ''">
                    <TemplatePanel><![CDATA[<div style="width:1040;height:500;overflow-x:scroll;overflow-y:scroll;">
  <% printContent(com.guidewire.pl.perfdownload.platform.analyzer.sql.SQLPrettyPrinterFactory.getSQLPrettyPrinter().printText(cCheck.QueryToIdentifyRows, true), false) %>
</div>

        ]]></TemplatePanel>
                  </Card>
                </CardViewPanel>
              </ListDetailPanel>
            </PanelSet>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>