<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    countsAsWork="false"
    id="DatabaseParameters"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.DatabaseParameters">
    <Variable
      initialValue="gw.api.tools.DatabaseParametersHelper.getParameters()"
      name="ParameterSets"
      type="database.DatabaseParameterSet[]"/>
    <Screen>
      <Variable
        initialValue="tools.DatabaseParametersHelper.getParameterSetNames( ParameterSets )"
        name="ParameterSetNames"
        type="String[]"/>
      <Variable
        name="ParameterSetName"
        type="String"/>
      <TitleBar
        title="displaykey.Web.InternalTools.InfoPages.DatabaseParameters.Parameters"/>
      <Verbatim
        label="displaykey.Web.InternalTools.InfoPages.DatabaseParameters.ParametersNotAvailable"
        visible="ParameterSets.length == 0"/>
      <DetailViewPanel>
        <InputColumn>
          <ButtonInput
            action="gw.api.tools.DatabaseParametersHelper.download()"
            download="true"
            id="DownloadParms"
            labelAbove="true"
            value="displaykey.Web.InternalTools.InfoPages.DatabaseParameters.Download"/>
          <RangeInput
            editable="true"
            id="paramSetPicker"
            label="displaykey.Java.DatabaseParameters.View"
            sortValueRange="false"
            value="ParameterSetName"
            valueRange="ParameterSetNames"
            valueWidth="400">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="DatabaseParametersLV(tools.DatabaseParametersHelper.getSetByName( ParameterSetName, ParameterSets))">
        <Toolbar/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>