<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="DataDistsLV">
    <ExposeIterator
      flags="DataDistFlag"
      valueType="entity.DatabaseDataDist"
      widget="DataDistsLV"/>
    <Require
      name="PageHelper"
      type="gw.api.tools.DataDistDVHelper"/>
    <RowIterator
      editable="false"
      elementName="Row"
      hasCheckBoxes="true"
      pageSize="15"
      type="DatabaseDataDist"
      value="PageHelper.AvailDataDists">
      <ToolbarFlag
        name="DataDistFlag"/>
      <Row>
        <LinkCell
          align="center"
          id="DownloadLinkCell"
          label="displaykey.Button.Download">
          <Link
            action="PageHelper.downloadDataDistribution(Row)"
            download="true"
            icon="&quot;download.png&quot;"
            id="LVGetZip"
            showConfirmMessage="false"
            tooltip="displaykey.Web.InternalTools.DBConsistCheckRun.Download"
            visible="Row.EndTime &lt;&gt; null"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="ViewLinkCell"
          label="displaykey.Button.View"
          visible="gw.api.system.server.ServerModeUtil.Dev">
          <Link
            action="ReportView.push(&quot;DataDist&quot;, Row.PublicID)"
            icon="&quot;search_16.png&quot;"
            id="View"
            label="displaykey.Button.View"
            showConfirmMessage="false"
            visible="Row.EndTime &lt;&gt; null"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DeleteCellHeader"
          label="displaykey.Button.Delete">
          <Link
            action="PageHelper.deleteDataDistribution(Row)"
            confirmMessage="displaykey.Web.InternalTools.InfoPages.DataDistribution.DeleteConfirmation"
            icon="&quot;icon_trash.png&quot;"
            id="LVDelete"
            tooltip="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"
            visible="Row.EndTime  &lt;&gt; null"/>
        </LinkCell>
        <Cell
          enableSort="false"
          id="LVDescription"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Description"
          value="Row.Description"
          width="500"
          wrap="true"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVStartTime"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.StartTime"
          timeFormat="short"
          value="Row.StartTime"
          width="180"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVEndTime"
          label="displaykey.Web.InternalTools.InfoPages.DataDistribution.EndTime"
          timeFormat="short"
          value="Row.EndTime"
          width="180"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
