<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="DatabaseStorageDV"
    mode="AllAtOnce">
    <Require
      name="ParameterSet"
      type="database.DatabaseParameterSet"/>
    <InputColumn>
      <ListViewInput>
        <Toolbar/>
        <ListViewPanel
          id="DatabaseParametersLV">
          <Row
            renderAsSmartHeader="true">
            <CellIterator
              elementName="Name"
              id="headerCells"
              value="ParameterSet.AttributeNames">
              <Cell
                id="HeaderCell"
                value="Name"/>
            </CellIterator>
          </Row>
          <RowIterator
            editable="false"
            elementName="Values"
            value="ParameterSet.AttributeValues">
            <Row>
              <CellIterator
                elementName="Value"
                value="Values">
                <Cell
                  id="ValueCell"
                  value="Value"/>
              </CellIterator>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>
