<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    countsAsWork="false"
    id="DataDistributionInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.DataDistributionInfo">
    <Variable
      initialValue="new gw.api.tools.DataDistDVHelper()"
      name="PageHelper"/>
    <Variable
      name="searchString"
      type="String"/>
    <Screen
      id="DataDistributionInfoScreen">
      <PanelRef>
        <TitleBar
          title="displaykey.Web.InternalTools.InfoPages.DataDistribution.AvailDists"/>
        <DetailViewPanel>
          <InputColumn
            refreshOnProgressComplete="true">
            <ListViewInput
              def="DataDistsLV(PageHelper)"
              labelAbove="true">
              <Toolbar>
                <CheckedValuesToolbarButton
                  allCheckedRowsAction="PageHelper.downloadComparisonOfDataDistributions(CheckedValues)"
                  download="true"
                  flags="two DataDistFlag"
                  id="LVGetSummaryZip"
                  iterator="DataDistsLV.DataDistsLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.DownloadComparisonZip"/>
                <CheckedValuesToolbarButton
                  allCheckedRowsAction="PageHelper.downloadCombinedDataDistribution(CheckedValues)"
                  download="true"
                  flags="two DataDistFlag"
                  id="LVGetCombinedZip"
                  iterator="DataDistsLV.DataDistsLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.DownloadCombinedZip"/>
                <CheckedValuesToolbarButton
                  checkedRowAction="PageHelper.deleteDataDistribution(CheckedValue)"
                  confirmMessage="displaykey.Web.InternalTools.InfoPages.DataDistribution.DeleteConfirmation"
                  flags="any DataDistFlag"
                  id="LVDelete"
                  iterator="DataDistsLV.DataDistsLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"/>
                <ToolbarButton
                  action="null"
                  available="true"
                  id="RefreshButton"
                  label="displaykey.Button.Refresh"/>
              </Toolbar>
            </ListViewInput>
            <ButtonInput
              action="PageHelper.submitBatch()"
              id="SubmitBatch"
              label="&quot; &quot;"
              labelAbove="true"
              value="displaykey.Web.InternalTools.InfoPages.DataDistribution.SubmitJob"
              visible="!PageHelper.BatchRunning"/>
            <ProgressInput
              id="batchProgress"
              labelAbove="true"
              percentage="PageHelper.BatchRunning ? -1 : 100"
              status="PageHelper.BatchRunning ? displaykey.Web.InternalTools.InfoPages.DataDistribution.RunningBatchProcess : null"
              valueWidth="600"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.DataDistribution.BatchParams"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelSet>
        <PanelRow>
          <PanelColumn>
            <DetailViewPanel>
              <InputColumn>
                <TextInput
                  editable="true"
                  id="description"
                  label="displaykey.Web.DataDistSubmitDV.Description"
                  numCols="100"
                  requestValidationExpression="(VALUE.trim().Empty ? &quot;Description cannot be empty&quot; : null)"
                  required="true"
                  value="PageHelper.Description"/>
              </InputColumn>
            </DetailViewPanel>
            <PanelRow>
              <PanelColumn
                width="33%">
                <DetailViewPanel
                  id="DataDistSubmitDV">
                  <InputColumn>
                    <Input
                      editable="true"
                      helpText="displaykey.Web.InternalTools.InfoPages.DataDistribution.NumberThreadsHelp"
                      id="NumThreads"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.NumberThreads"
                      value="PageHelper.NumThreads"/>
                    <CheckBoxInput
                      editable="true"
                      id="TLDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectTypeLists"
                      value="PageHelper.CollectTypeListTableDistribution"/>
                    <InputDivider/>
                    <CheckBoxInput
                      editable="true"
                      id="ASDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectAppSpecific"
                      value="PageHelper.CollectAppSpecificDistributions"/>
                    <InputDivider/>
                    <CheckBoxInput
                      available="true"
                      editable="true"
                      id="AdHocDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectAdHoc"
                      value="PageHelper.CollectAdHocDistributions"/>
                    <InputDivider/>
                    <BooleanRadioInput
                      editable="true"
                      falseLabel="displaykey.Web.InternalTools.InfoPages.DataDistribution.NotAllTables"
                      id="AnalyzeAllTables"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.AllTables"
                      value="PageHelper.AnalyzeAllTables">
                      <PostOnChange/>
                    </BooleanRadioInput>
                  </InputColumn>
                </DetailViewPanel>
              </PanelColumn>
              <PanelColumn>
                <DetailViewPanel>
                  <InputHeaderSection>
                    <Label
                      label="displaykey.Web.DataDistSubmitDV.CollectLabel"/>
                  </InputHeaderSection>
                  <InputColumn>
                    <CheckBoxInput
                      editable="true"
                      id="ArrDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectArrays"
                      value="PageHelper.CollectArrayDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="AFKDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectAssignForKeys"
                      value="PageHelper.CollectAssignableForeignKeyDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="ABDDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectAssignables"
                      value="PageHelper.CollectAssignableDistributionsByDate"/>
                    <CheckBoxInput
                      editable="true"
                      id="STDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.StagingTable"
                      value="PageHelper.CollectStagingTableDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="BeanVerDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectBeanVersions"
                      value="PageHelper.CollectBeanVersionDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="BooleanDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectBooleans"
                      value="PageHelper.CollectBooleanDistributions"/>
                  </InputColumn>
                  <InputColumn>
                    <CheckBoxInput
                      editable="true"
                      id="ClobColDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectClobs"
                      value="PageHelper.CollectClobColumnDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="BlobColDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectBlobs"
                      value="PageHelper.CollectBlobColumnDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="DateAnalysisDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectDateAnalysisDistributions"
                      value="PageHelper.CollectDateAnalysisDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="FKDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectForKeys"
                      value="PageHelper.CollectForeignKeyDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="GenericGroupDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectGenericGroups"
                      value="PageHelper.CollectGenericGroupDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="MinAndMaxDateDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.MinMaxDates"
                      value="PageHelper.CollectMinAndMaxDates"/>
                    <CheckBoxInput
                      editable="true"
                      id="NullableColumnDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectNullableColumns"
                      value="PageHelper.CollectNullableColumnDistributions"/>
                    <CheckBoxInput
                      editable="true"
                      id="TKDists"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.CollectTypeKeys"
                      value="PageHelper.CollectTypeKeyDistributions"/>
                  </InputColumn>
                </DetailViewPanel>
              </PanelColumn>
            </PanelRow>
          </PanelColumn>
        </PanelRow>
        <PanelRow
          editable="true"
          visible="!PageHelper.AnalyzeAllTables">
          <PanelColumn
            editable="true">
            <PanelRef
              editable="true"
              id="shown">
              <Toolbar>
                <CheckedValuesToolbarButton
                  checkedRowAction="CheckedValue.Chosen = false"
                  id="useButton"
                  iterator="tableSelectionLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Remove"
                  showConfirmMessage="false"/>
              </Toolbar>
              <ListViewPanel
                editable="true"
                id="tableSelectionLV">
                <RowIterator
                  canPick="false"
                  checkBoxVisible="true"
                  editable="true"
                  elementName="row"
                  hasCheckBoxes="true"
                  pageSize="45"
                  value="PageHelper.DBTables">
                  <Row>
                    <TextCell
                      id="row"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.SelectedTables"
                      value="row.DisplayName"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </PanelColumn>
          <PanelColumn
            editable="true"
            id="available">
            <PanelRef
              editable="true">
              <Toolbar>
                <CheckedValuesToolbarButton
                  checkedRowAction="CheckedValue.Chosen = true"
                  id="useButton"
                  iterator="tableAllLV"
                  label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Add"
                  showConfirmMessage="false"/>
                <ToolbarInput
                  editable="true"
                  id="searchStringTextBox"
                  value="searchString"
                  visible="true">
                  <PostOnChange/>
                </ToolbarInput>
              </Toolbar>
              <ListViewPanel
                editable="true"
                id="tableAllLV">
                <RowIterator
                  canPick="false"
                  checkBoxVisible="true"
                  editable="true"
                  elementName="row"
                  hasCheckBoxes="true"
                  pageSize="45"
                  value="PageHelper.getUnselectedDBTables(searchString)">
                  <Row>
                    <TextCell
                      id="row"
                      label="displaykey.Web.InternalTools.InfoPages.DataDistribution.AvailableTables"
                      value="row.DisplayName"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </PanelColumn>
        </PanelRow>
      </PanelSet>
    </Screen>
  </Page>
</PCF>