<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.DatabaseStatisticsHelper.dbSupportsStatistics()"
    countsAsWork="false"
    id="DatabaseStatistics"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.DBCatalogStatisticsInfo.DBCatalogStatisticsInfo">
    <Variable
      initialValue="new gw.api.tools.DatabaseStatisticsHelper()"
      name="StatisticsInfoPageHelper"/>
    <Variable
      initialValue="new gw.api.tools.UpdateStatsDVHelper()"
      name="ExecutionHistoryPageHelper"/>
    <Variable
      initialValue="new com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableStatsPreferencesUIHelper()"
      name="PreferencesHelper"
      recalculateOnRefresh="true"/>
    <Screen
      id="DBStatisticsInfoScreen">
      <CardViewPanel>
        <Card
          id="StatisticsInfo"
          title="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.StatisticsInfo">
          <PanelRow>
            <PanelColumn>
              <DetailViewPanel>
                <InputColumn>
                  <BooleanRadioInput
                    editable="true"
                    helpText="displaykey.Web.DBStatsSubmitDV.CanChooseTables"
                    id="AnalyzeAllTables"
                    label="displaykey.Web.DBStatsSubmitDV.CollectStatsOnAllTables"
                    labelAbove="true"
                    value="StatisticsInfoPageHelper.AnalyzeAllTables">
                    <PostOnChange/>
                  </BooleanRadioInput>
                  <BooleanRadioInput
                    editable="true"
                    helpText="displaykey.Web.DBStatsSubmitDV.CanShowPreviousStats"
                    id="ShowPreviousStats"
                    label="displaykey.Web.DBStatsSubmitDV.ShowPreviousStats"
                    labelAbove="true"
                    value="StatisticsInfoPageHelper.ShowPreviousStatistics"
                    visible="StatisticsInfoPageHelper.canShowHistoricalStatistics()">
                    <PostOnChange/>
                  </BooleanRadioInput>
                  <TextInput
                    editable="true"
                    helpText="displaykey.Web.DBStatsSubmitDV.CanChoosePointInTime"
                    id="ShowPreviousStatsTime"
                    label="displaykey.Web.DBStatsSubmitDV.PreviousStatsTime(StatisticsInfoPageHelper.EarliestPointInTimeForStatisticsString)"
                    numCols="40"
                    value="StatisticsInfoPageHelper.PointInTime"
                    visible="StatisticsInfoPageHelper.ShowPreviousStatistics">
                    <PostOnChange/>
                  </TextInput>
                  <ButtonInput
                    action="StatisticsInfoPageHelper.downloadStats()"
                    download="true"
                    id="DownloadStats"
                    labelAbove="true"
                    value="displaykey.Button.Download"/>
                </InputColumn>
              </DetailViewPanel>
              <PanelRef
                def="DBStatisticsRequestCV(StatisticsInfoPageHelper)"
                visible="!StatisticsInfoPageHelper.AnalyzeAllTables"/>
            </PanelColumn>
          </PanelRow>
        </Card>
        <Card
          id="ExecutionHistory"
          title="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory">
          <DetailViewPanel>
            <InputColumn>
              <ListViewInput
                def="UpdateStatsLV(ExecutionHistoryPageHelper)"
                labelAbove="true">
                <Toolbar>
                  <ToolbarButton
                    action="null"
                    id="RefreshButton"
                    label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.Refresh"/>
                  <CheckedValuesToolbarButton
                    checkedRowAction="ExecutionHistoryPageHelper.deleteDatabaseUpdateStats(CheckedValue)"
                    confirmMessage="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.DeleteConfirmation"
                    id="LVUpdateStatsDelete"
                    iterator="UpdateStatsLV.UpdateStatsLV"
                    label="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"/>
                  <ToolbarButton
                    action="var incrementalParams = new com.guidewire.pl.system.database.dbstatistics.UpdateStatsRunParms(); incrementalParams.Incremental = true; com.guidewire.pl.system.dependency.PLDependencies.BatchProcessManager.startBatchProcess(TC_DBSTATS, {incrementalParams})"
                    id="RunIncrementalButton"
                    label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.RunIncrementalDevOnly"
                    visible="com.guidewire.pl.system.dependency.PLDependencies.getServerMode().isDev()"/>
                  <ToolbarButton
                    action="var runParams = new com.guidewire.pl.system.database.dbstatistics.UpdateStatsRunParms(); runParams.Incremental = false; com.guidewire.pl.system.dependency.PLDependencies.BatchProcessManager.startBatchProcess(TC_DBSTATS, {runParams})"
                    id="RunFullButton"
                    label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.RunFullDevOnly"
                    visible="com.guidewire.pl.system.dependency.PLDependencies.getServerMode().isDev()"/>
                </Toolbar>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
        </Card>
        <Card
          id="OracleStatsPreferences"
          title="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences"
          visible="com.guidewire.pl.system.database.DBType.getCurrentType().Oracle &amp;&amp; gw.api.system.PLConfigParameters.UseOracleStatsPreferencesExperimental.Value">
          <PanelRef>
            <Toolbar>
              <ToolbarButton
                action="null"
                id="RefreshButton"
                label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Refresh"/>
              <ToolbarButton
                action="PreferencesHelper.download()"
                download="true"
                id="DownloadButton"
                label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Download"/>
              <ToolbarButton
                action="PreferencesHelper.reapply()"
                confirmMessage="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Reapply.Confirm"
                id="ReapplyButton"
                label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Reapply"/>
              <ToolbarButton
                action="OracleStatisticsPreferencesConfigPopup.push(PreferencesHelper)"
                id="ToolbarButton"
                label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Config.Generate"/>
              <ToolbarButton
                id="DevModeOnlyButton"
                label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.DevModeOnly"
                visible="com.guidewire.pl.system.dependency.PLDependencies.getServerMode().isDev()">
                <MenuItem
                  action="ReportView.push(&quot;OracleTableStatsPrefs&quot;, &quot;all&quot;)"
                  id="ViewMenu"
                  label="displaykey.Button.View"/>
                <MenuItem
                  action="PreferencesHelper.deleteAllStatistics()"
                  confirmMessage="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Delete.Confirm"
                  id="DeleteMenu"
                  label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Delete"/>
                <MenuItem
                  action="PreferencesHelper.gatherIncrementalStatisticsNow()"
                  confirmMessage="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Gather.Confirm"
                  id="GatherIncrementalMenu"
                  label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.GatherIncremental"/>
                <MenuItem
                  action="PreferencesHelper.gatherFullStatisticsNow()"
                  confirmMessage="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.Gather.Confirm"
                  id="GatherFullMenu"
                  label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.GatherFull"/>
              </ToolbarButton>
            </Toolbar>
            <ListViewPanel>
              <Row
                renderAsSmartHeader="true">
                <Cell
                  id="TableNameHeader"
                  sortOrder="1"
                  value="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.TableName"/>
                <CellIterator
                  elementName="parameterName"
                  value="com.guidewire.pl.system.database.dbstatistics.oracle.OracleTableOverview.getAllParameterNames()">
                  <Cell
                    id="parameterNameLabel"
                    value="parameterName"/>
                </CellIterator>
                <Cell
                  id="OtherParametersHeader"
                  value="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.OtherParameters"/>
              </Row>
              <RowIterator
                editable="false"
                elementName="tableOverview"
                id="tableOverviewRows"
                pageSize="30"
                value="PreferencesHelper.TableOverviews.toTypedArray()">
                <ToolbarFilter
                  name="TableFilter">
                  <ToolbarFilterOptionGroup
                    filters="PreferencesHelper.getFilters()"/>
                </ToolbarFilter>
                <Row>
                  <Cell
                    id="NameColumn"
                    sortOrder="1"
                    value="tableOverview.TableName"/>
                  <CellIterator
                    elementName="parameterView"
                    id="parameterViewValues"
                    value="tableOverview.AllParameterViews">
                    <FormatCell
                      id="ParameterView">
                      <ContentInput>
                        <Link
                          id="ParameterActualLabel"
                          label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.Actual"
                          styleClass="bold"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterActualDivider"
                          label="&quot; - &quot;"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterActualValue"
                          label="parameterView.Actual"/>
                      </ContentInput>
                      <ContentInput>
                        <Link
                          id="ParameterConfiguredLabel"
                          label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.Configured"
                          styleClass="bold"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterConfiguredDivider"
                          label="&quot; - &quot;"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterConfiguredValue"
                          label="parameterView.Configured"
                          visible="parameterView.ActualDifferent"/>
                      </ContentInput>
                      <ContentInput>
                        <Link
                          id="ParameterDatamodelLabel"
                          label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.OracleStatsPreferences.TablePreferences.Datamodel"
                          styleClass="bold"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterDatamodelDivider"
                          label="&quot; - &quot;"
                          visible="parameterView.ActualDifferent"/>
                        <Link
                          id="ParameterDatamodelValue"
                          label="parameterView.Datamodel"
                          visible="parameterView.ActualDifferent"/>
                      </ContentInput>
                    </FormatCell>
                  </CellIterator>
                  <Cell
                    id="OtherParameters"
                    value="PreferencesHelper.getOtherPreferences(tableOverview.TableName)"
                    wrap="true"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelRef>
        </Card>
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>