<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.DB2PDPageHelper.supportsDB2PD()"
    countsAsWork="false"
    id="DB2PDInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.DB2PDInfo.Title">
    <Variable
      initialValue="new gw.api.tools.DB2PDPageHelper()"
      name="PageHelper"/>
    <Screen
      id="DB2PDInfoScreen">
      <DetailViewPanel
        id="DBCatStatsRequestDV">
        <InputColumn>
          <TextInput
            editable="true"
            format="&quot;#&quot;"
            id="topNQueries"
            label="displaykey.Java.InternalTools.InfoPages.DMV.NumberTopQueries"
            required="true"
            value="PageHelper.NumTopQueries"/>
          <TextInput
            editable="true"
            format="&quot;#&quot;"
            id="topNHotObjects"
            label="displaykey.Java.InternalTools.InfoPages.DMV.NumberHotObjects"
            required="true"
            value="PageHelper.NumHotObjects"/>
          <BooleanDropdownInput
            editable="true"
            id="ClearPackageCacheEventMonitor"
            label="displaykey.Java.InternalTools.InfoPages.DMV.ClearPkgCacheEventMonitor"
            required="true"
            value="PageHelper.ClearPkgCacheEventMonitor"/>
          <BooleanDropdownInput
            editable="true"
            id="clearExplainTables"
            label="displaykey.Java.InternalTools.InfoPages.DMV.ClearExplainTables"
            required="true"
            value="PageHelper.ClearExplainTables"/>
          <TextInput
            editable="true"
            id="pkgCacheThreshold"
            label="displaykey.Java.InternalTools.InfoPages.DMV.PkgCacheThreshold"
            required="true"
            value="PageHelper.PackageCacheThreshold"/>
          <ButtonInput
            action="PageHelper.downloadDMVReport()"
            download="true"
            id="Download"
            value="displaykey.Button.Download"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>