<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.User.ViewInfo or perm.User.DevAllAccess"
    id="InfoPages"
    pageLinksRenderer="PageLinksDropdown"
    tabBar="InternalToolsTabBar()"
    title="displaykey.Web.InternalTools.InfoPages.MainMenu">
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.Configuration.InfoPage"
      location="ConfigurationInfo()"/>
    <LocationRef
      hideIfDisabled="true"
      label="displaykey.Web.InternalTools.InfoPages.ArchiveInfo"
      location="ArchiveInfo()"/>
    <LocationRef
      hideIfDisabled="true"
      label="displaykey.Web.InternalTools.InfoPages.ArchivingInfo"
      location="ArchiveGraphInfo()"/>
    <LocationRef
      location="ConsistencyChecks()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.DBTableInfo"
      location="DatabaseTableInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.DBParameters"
      location="DatabaseParameters()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.DatabaseStorage"
      location="DatabaseStorage()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.DDInfo"
      location="DataDistributionInfo()"/>
    <LocationRef
      label="displaykey.Web.InfoPagesTabBar.DB"
      location="DatabaseStatistics()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.OracleStatspack"
      location="OracleStatspackInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.OracleAWR"
      location="OracleAWRInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.OracleAWRUnusedIndexesInfo"
      location="OracleAWRUnusedIndexesInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.OracleOutline"
      location="OracleOutlineInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.PageTitle"
      location="OracleDBSQLTuningSets()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.DMVInfo.Title"
      location="MicrosoftDMVInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.DB2PDInfo.Title"
      location="DB2PDInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging"
      location="MicrosoftDriverLogging()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.LoadHistory"
      location="LoadHistoryInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.LoadIntegrityChecks"
      location="LoadIntegrityChecks()"/>
    <LocationRef
      label="displaykey.Web.InfoPagesTabBar.Load"
      location="LoadErrorsInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.UpgradeInfo"
      location="UpgradeInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.InfoPage"
      location="RuntimeEnvironmentInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.SafePersistingOrderInfo"
      location="SafePersistingOrderInfo()"/>
    <LocationRef
      label="displaykey.Web.InternalTools.InfoPages.LoadedGosuClasses"
      location="LoadedGosuClasses()"/>
  </LocationGroup>
</PCF>