<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    autosaveable="true"
    canEdit="true"
    countsAsWork="false"
    id="LoadErrorsInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.LoadErrorsInfo.LoadErrorsInfo"
    validateOnBundleCommit="true">
    <LocationEntryPoint
      signature="LoadErrorsInfo()"/>
    <Variable
      initialValue="new gw.api.tools.LoadErrorsHelper()"
      name="PageHelper"
      recalculateOnRefresh="false"/>
    <Screen
      id="LoadErrorsScreen">
      <Toolbar/>
      <DetailViewPanel
        border="false"
        inline="false">
        <InputColumn>
          <ButtonInput
            action="PageHelper.download()"
            boldLabel="false"
            boldValue="false"
            download="true"
            id="DownloadParms"
            labelAbove="true"
            value="displaykey.Button.Download"/>
        </InputColumn>
      </DetailViewPanel>
      <ListDetailPanel
        lockWhileEditing="false"
        selectionName="SelectedLoadError"
        selectionType="LoadError">
        <ListViewPanel
          alternateEntryStyle="true"
          id="ListViewPanel0LV">
          <RowIterator
            canPick="true"
            editable="false"
            elementName="LoadError"
            hideCheckBoxesIfReadOnly="false"
            id="loadErrorListColumns"
            pageSize="5"
            value="PageHelper.getLoadErrors() as LoadErrorQuery">
            <Row>
              <Cell
                editable="false"
                enableSort="false"
                hideChildrenIfReadOnly="true"
                id="tablename"
                label="displaykey.Web.LoadErrorsInfo.Tablename"
                printWidth="1"
                showHeaderIcon="true"
                sortDirection="ascending"
                unique="false"
                value="LoadError.TableName"
                wrap="true"/>
              <Cell
                editable="false"
                enableSort="false"
                hideChildrenIfReadOnly="true"
                id="errortype"
                label="displaykey.Web.LoadErrorsInfo.Errortype"
                printWidth="1"
                showHeaderIcon="true"
                sortDirection="ascending"
                unique="false"
                value="LoadError.LoadErrorType.DisplayName"
                wrap="true"/>
              <Cell
                editable="false"
                enableSort="false"
                hideChildrenIfReadOnly="true"
                id="errormessage"
                label="displaykey.Web.LoadErrorsInfo.Errormessage"
                printWidth="1"
                showHeaderIcon="true"
                sortDirection="ascending"
                unique="false"
                value="LoadError.ErrorMessage"
                wrap="true"/>
              <Cell
                editable="false"
                enableSort="false"
                hideChildrenIfReadOnly="true"
                id="query"
                label="displaykey.Web.LoadErrorsInfo.Query"
                printWidth="1"
                showHeaderIcon="true"
                sortDirection="ascending"
                unique="false"
                value="LoadError.Query"
                wrap="true"/>
              <Cell
                editable="false"
                enableSort="false"
                hideChildrenIfReadOnly="true"
                id="count"
                label="displaykey.Web.LoadErrorsInfo.Count"
                printWidth="1"
                showHeaderIcon="true"
                sortDirection="ascending"
                unique="false"
                value="LoadError.getLoadErrorRows().Count"
                wrap="true"/>
              <Cell
                editable="false"
                enableSort="false"
                hideChildrenIfReadOnly="true"
                id="Cell0"
                label="displaykey.Web.LoadErrorsInfo.LUWID"
                printWidth="1"
                showHeaderIcon="true"
                sortDirection="ascending"
                unique="false"
                value="LoadError.LUWIDErrorRowPresent"
                wrap="true"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <PanelRef>
          <TitleBar
            appendListViewPaging="false"
            title="displaykey.Web.LoadErrorRowsLV.LoadErrorRowsLV"
            visible="true"/>
          <CardViewPanel
            id="LoadErrorDetailsCV">
            <Card
              id="LoadErrorsCard"
              title="displaykey.Web.LoadErrorRowsLV.LoadErrorRowsLV">
              <PanelRef>
                <Toolbar/>
                <ListViewPanel
                  alternateEntryStyle="true"
                  id="loadErrorRowsLV">
                  <RowIterator
                    canPick="true"
                    editable="false"
                    elementName="LoadErrorRow"
                    hideCheckBoxesIfReadOnly="false"
                    value="SelectedLoadError.getLoadErrorRows() as LoadErrorRowQuery">
                    <Row>
                      <Cell
                        editable="false"
                        enableSort="true"
                        hideChildrenIfReadOnly="true"
                        id="rowNumber"
                        label="displaykey.Web.LoadErrorRowsLV.RowNumber"
                        printWidth="1"
                        showHeaderIcon="true"
                        sortDirection="ascending"
                        unique="false"
                        value="LoadErrorRow.RowNumber"
                        wrap="true"/>
                      <Cell
                        editable="false"
                        enableSort="true"
                        hideChildrenIfReadOnly="true"
                        id="luwid"
                        label="displaykey.Web.LoadErrorRowsLV.Luwid"
                        printWidth="1"
                        showHeaderIcon="true"
                        sortDirection="ascending"
                        unique="false"
                        value="LoadErrorRow.LUWID"
                        wrap="true"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </PanelRef>
            </Card>
          </CardViewPanel>
        </PanelRef>
      </ListDetailPanel>
    </Screen>
  </Page>
</PCF>