<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    countsAsWork="false"
    id="LoadHistoryInfo"
    parent="InfoPages()"
    title="displaykey.Web.InternalTools.InfoPages.LoadHistoryInfo">
    <Variable
      initialValue="new gw.api.tools.LoadHistoryHelper()"
      name="PageHelper"/>
    <Screen
      id="LoadHistoryInfoScreen">
      <PanelRef
        def="LoadHistoryLV(PageHelper, getLoadCommands(), true)">
        <Toolbar>
          <ToolbarButton
            action="null"
            id="LoadHistoryInfo_RefreshButton"
            label="displaykey.Button.Refresh"/>
          <EditButtons
            id="editbuttons"/>
        </Toolbar>
      </PanelRef>
    </Screen>
    <Code><![CDATA[
function getLoadCommands() : LoadCommandQuery
      {
      return find (var l in LoadCommand)
      }
    ]]></Code>
  </Page>
</PCF>
