<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    editable="true"
    id="LoadIntegrityChecksByLoadErrorTypeLV">
    <Require
      name="LoadIntegrityChecks"
      type="gw.api.tools.LoadIntegrityChecksHelper"/>
    <Require
      name="PickedLoadErrorType"
      type="LoadErrorType"/>
    <Require
      name="AllowNonAdminRef"
      type="Boolean"/>
    <RowIterator
      editable="false"
      elementName="Check"
      value="LoadIntegrityChecks.getIntegrityChecksByLoadErrorType(AllowNonAdminRef, PickedLoadErrorType)">
      <Row>
        <Cell
          id="stagingtable"
          label="displaykey.Web.InternalTools.InfoPages.LoadIntegrityChecks.StagingTable"
          sortBy="Check.StagingTable.Name"
          value="Check.StagingTable.Name"
          width="200"/>
        <Cell
          enableSort="false"
          id="description"
          label="displaykey.Web.InternalTools.InfoPages.LoadIntegrityChecks.Description"
          value="Check.Description"
          width="300"
          wrap="true"/>
        <Cell
          action="LoadIntegrityChecksCompoundLVPopup.push(LoadIntegrityChecks, AllowNonAdminRef, Check)"
          enableSort="false"
          id="multi"
          label="displaykey.Web.LoadIntegrityChecksByLoadErrorTypeLV.Multi"
          tooltip="displaykey.Web.InternalTools.InfoPages.LoadIntegrityChecks.CompoundQueryTooltip"
          value="&quot;*&quot;"
          valueVisible="LoadIntegrityChecks.multiQuery(Check)"
          width="25"/>
        <TextAreaCell
          enableSort="false"
          id="query"
          label="displaykey.Web.InternalTools.InfoPages.LoadIntegrityChecks.Query"
          numRows="2"
          value="Check.CompoundIntegrityCheck.SelectBody"
          width="450"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
