<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="LoadHistoryLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.LoadHistoryHelper"/>
    <Require
      name="Histories"
      type="LoadCommandQuery"/>
    <Require
      name="ShowButtons"
      type="Boolean"/>
    <RowIterator
      editable="true"
      elementName="History"
      value="Histories">
      <Row>
        <LinkCell
          align="center"
          id="DownloadLinkCell"
          label="displaykey.Button.Download">
          <Link
            action="PageHelper.download(History)"
            download="true"
            icon="&quot;download.png&quot;"
            id="download"
            showConfirmMessage="false"
            tooltip="displaykey.Button.Download"
            visible="ShowButtons"/>
        </LinkCell>
        <LinkCell
          id="ViewHistoryCellId"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.View">
          <Link
            action="LoadHistoryDetail.drilldown(PageHelper, History)"
            icon="&quot;viewdetail.png&quot;"
            id="ViewHistory"
            tooltip="displaykey.Web.InternalTools.InfoPages.LoadHistory.View"
            visible="ShowButtons"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DeleteCellId"
          label="displaykey.Button.Delete"
          width="55">
          <Link
            action="PageHelper.delete(History)"
            confirmMessage="displaykey.Web.InternalTools.InfoPages.LoadHistory.Delete.Warning"
            icon="&quot;icon_trash.png&quot;"
            id="delete"
            tooltip="displaykey.Button.Delete"
            visible="ShowButtons"/>
        </LinkCell>
        <Cell
          enableSort="false"
          id="LVOperationType"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.OperationType"
          value="History.CommandType.DisplayName"
          width="250"
          wrap="true"/>
        <DateCell
          dateFormat="short"
          id="LVStartTime"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.StartTime"
          sortBy="History.StartTime"
          sortDirection="descending"
          sortOrder="1"
          timeFormat="short"
          value="History.StartTime"
          width="145"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVEndTime"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.EndTime"
          timeFormat="short"
          value="History.EndTime"
          width="145"/>
        <Cell
          align="right"
          enableSort="false"
          id="LVDuration"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.Duration"
          value="PageHelper.getDurationString(History.StartTime, History.EndTime)"
          width="100"/>
        <Cell
          id="lverrorcount"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.ErrorCount"
          value="History.ErrorCount"
          width="80"/>
        <Cell
          enableSort="false"
          id="LVCallingUser"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.CallingUser"
          value="History.CallingUser.DisplayName"
          width="100"/>
        <Cell
          editable="true"
          enableSort="false"
          id="LVDescription"
          label="displaykey.Web.InternalTools.InfoPages.LoadHistory.Description"
          value="History.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>