<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.MicrosoftDriverLoggingPageHelper.supportsMicrosoftDriverLogging()"
    countsAsWork="false"
    id="MicrosoftDriverLogging"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging">
    <Variable
      initialValue="new gw.api.tools.MicrosoftDriverLoggingPageHelper()"
      name="PageHelper"/>
    <Variable
      name="commandResult"
      type="String[]"/>
    <Screen>
      <Toolbar/>
      <DetailViewPanel
        id="MSDriverLoggingDV">
        <InputColumn>
          <TextInput
            id="instructions0"
            value="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging.LoggingWarning"/>
          <RangeInput
            boldLabel="true"
            editable="true"
            id="loggingLevel"
            label="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging.LoggingLevel"
            required="true"
            value="PageHelper.LoggingLevel"
            valueRange="PageHelper.AvailableLoggingLevels"/>
          <TextInput
            id="instructions2"
            value="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging.LogLevelsHelp"/>
          <RangeInput
            boldLabel="true"
            editable="true"
            id="loggingFormat"
            label="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging.LoggingFormat"
            required="true"
            value="PageHelper.Formatter"
            valueRange="PageHelper.AvailableLoggingFormatters"/>
          <TextInput
            id="instructions3"
            value="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging.LogFormatHelp"/>
          <TextInput
            boldLabel="true"
            editable="true"
            id="topNHotObjects"
            label="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging.LogFileLocation"
            numCols="60"
            required="true"
            value="PageHelper.LogFileLocation"/>
          <TextInput
            id="instructions4"
            value="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging.LogLocationHelp"/>
          <ButtonInput
            action="commandResult = PageHelper.setMicrosoftJdbcDriverLogging()"
            id="SetLoggingLevel"
            value="displaykey.Web.InternalTools.InfoPages.MicrosoftDriverLogging.SetLoggingLevel"/>
        </InputColumn>
      </DetailViewPanel>
      <ListViewPanel
        id="msgsLV">
        <RowIterator
          editable="false"
          elementName="msg"
          value="commandResult">
          <Row>
            <TextCell
              id="msgCell"
              value="msg"
              width="1000"
              wrap="true"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>