<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="gw.api.tools.OracleOutlineHelper.dbSupportsOutlines()"
    id="OracleOutlineInfo"
    parent="InfoPages()"
    title="displaykey.Web.InternalTools.InfoPages.OracleOutlineInfo">
    <Variable
      initialValue="new gw.api.tools.OracleOutlineHelper()"
      name="PageHelper"/>
    <Screen
      id="OracleOutlineInfoScreen">
      <DetailViewPanel>
        <InputColumn>
          <ButtonInput
            action="PageHelper.downloadOutlines()"
            download="true"
            id="Download"
            labelAbove="true"
            value="displaykey.Button.Download"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="OracleOutlineLV(PageHelper)">
        <Toolbar
          id="oraotb"/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>