<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.OracleStatspackHelper.dbSupportsStatspack()"
    countsAsWork="false"
    id="OracleStatspackInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.OracleStatspackInfo">
    <Variable
      initialValue="new gw.api.tools.OracleStatspackHelper()"
      name="PageHelper"/>
    <Variable
      initialValue="true"
      name="Paging"
      type="Boolean"/>
    <Screen
      id="OracleStatspackInfoScreen">
      <PanelRef
        def="OracleStatspackLV(PageHelper)"
        mode="Paging ? &quot;paging&quot; : &quot;nopaging&quot;">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.InternalTools.InfoPages.OracleStatspack.Instructions"/>
        <Toolbar
          id="orasptb">
          <ToolbarButton
            action="PageHelper.downloadStatspackInfo()"
            available="PageHelper.ReadyToDownload"
            download="true"
            id="download"
            label="displaykey.Button.Download"/>
          <ToolbarButton
            action="PageHelper.loadSnapshotInfo()"
            id="refresh"
            label="displaykey.Button.Refresh"/>
          <ToolbarButton
            action="Paging = !Paging"
            id="TogglePaging"
            label="Paging ? displaykey.Web.InternalTools.InfoPages.DisablePaging : displaykey.Web.InternalTools.InfoPages.EnablePaging"/>
        </Toolbar>
      </PanelRef>
    </Screen>
  </Page>
</PCF>