<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="OracleOutlineLV">
    <Require
      name="OracleOutlineInfo"
      type="gw.api.tools.OracleOutlineHelper"/>
    <RowIterator
      editable="false"
      elementName="outline"
      type="database.DatabaseOutlineInfo"
      value="OracleOutlineInfo.OutlineInfo">
      <Row>
        <Cell
          action="OracleOutlineDetailsPopup.push(outline)"
          id="Name"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.Name"
          value="outline.Name"/>
        <Cell
          id="Category"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.Category"
          value="outline.Category"/>
        <Cell
          id="Used"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.Used"
          value="outline.Used"/>
        <DateCell
          dateFormat="short"
          id="TimeStamp"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.TimeStamp"
          timeFormat="short"
          value="outline.TimeStamp"/>
        <Cell
          id="Version"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.Version"
          value="outline.Version"/>
        <TextAreaCell
          id="SQLText"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.SQLText"
          numCols="40"
          numRows="5"
          value="outline.PrettySQL"/>
        <Cell
          id="Signature"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.Signature"
          value="outline.Signature"/>
        <Cell
          id="Compatible"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.Compatible"
          value="outline.Compatible"/>
        <Cell
          id="Enabled"
          label="displaykey.Web.InternalTools.InfoPages.OracleOutline.Enabled"
          value="outline.Enabled"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>