<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.OracleAWRHelper.dbSupportsAWR()"
    countsAsWork="false"
    id="OracleAWRInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.OracleAWRInfo">
    <Variable
      initialValue="new gw.api.tools.OracleAWRHelper()"
      name="PageHelper"/>
    <Variable
      initialValue="true"
      name="Paging"
      type="Boolean"/>
    <Variable
      initialValue="displaykey.Web.InternalTools.InfoPages.OracleAWR.Report"
      name="ReportDescription"/>
    <Variable
      initialValue="(new gw.api.database.AWRReportUserSettingsFactory()).AwrReportUserSettings"
      name="AwrReportUserSettings"
      type="gw.api.database.AWRReportUserSettings"/>
    <Screen
      id="OracleAWRInfoScreen">
      <Variable
        initialValue="PageHelper.AWRSnapshots"
        name="AWRSnapshots"
        recalculateOnRefresh="true"
        type="gw.api.database.DatabaseSnapshotInfo[]"/>
      <PanelRef>
        <TitleBar
          title="displaykey.Web.InternalTools.InfoPages.PerfDownload.AvailDownloads"/>
        <DetailViewPanel>
          <InputColumn
            refreshOnProgressComplete="true">
            <ListViewInput
              def="PerfDownloadLV(PageHelper)"
              id="PerfDownloadLV"
              labelAbove="true">
              <Toolbar>
                <ToolbarButton
                  action="null"
                  id="ToolbarButton"
                  label="displaykey.Web.InternalTools.InfoPages.OracleAWR.RefreshReportList"/>
              </Toolbar>
            </ListViewInput>
            <ProgressInput
              id="batchProgress"
              labelAbove="true"
              percentage="PageHelper.BatchRunning ? -1 : 100"
              status="PageHelper.BatchRunning ? displaykey.Web.InternalTools.InfoPages.PerfDownload.RunningBatchProcess : null"
              valueWidth="600"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <PanelRow>
        <PanelColumn>
          <PanelRef>
            <TitleBar
              title="displaykey.Web.InternalTools.InfoPages.OracleAWR.Instructions"/>
            <DetailViewPanel>
              <InputColumn>
                <ButtonInput
                  action="PageHelper.submitBatchFromUI(AwrReportUserSettings)"
                  available="PageHelper.isReadyToDownload(false) and !PageHelper.BatchRunning"
                  hideIfDisabled="false"
                  id="submitBatch"
                  labelAbove="true"
                  value="displaykey.Web.InternalTools.InfoPages.PerfDownload.GenerateReport"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
          <DetailViewPanel>
            <InputColumn
              labelWidth="500"
              width="40%">
              <CheckBoxInput
                editable="true"
                helpText="DisplayKey.Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables.Required2(displaykey.Web.InternalTools.InfoPages.OracleAWR.CapturePeakedBindVariables, displaykey.Web.InternalTools.InfoPages.OracleAWR.ProbeInMemorySQLMonitor) "
                id="ProbeVDollarTablesFlag"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables"
                value="AwrReportUserSettings.ProbeVDollarTables">
                <PostOnChange
                  onChange="if (!AwrReportUserSettings.ProbeVDollarTables) {AwrReportUserSettings.CapturePeakedBindVariables = false; AwrReportUserSettings.ProbeInMemorySQLMonitor = false}"/>
              </CheckBoxInput>
              <CheckBoxInput
                available="AwrReportUserSettings.ProbeVDollarTables"
                editable="true"
                helpText="displaykey.Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables.Required"
                id="CapturePeakedBindVariables"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.CapturePeakedBindVariables"
                value="AwrReportUserSettings.CapturePeakedBindVariables"/>
              <CheckBoxInput
                available="AwrReportUserSettings.ProbeVDollarTables"
                editable="true"
                helpText="displaykey.Web.InternalTools.InfoPages.OracleAWR.ProbeVDollarTables.Required"
                id="ProbeInMemorySQLMonitor"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.ProbeInMemorySQLMonitor"
                value="AwrReportUserSettings.ProbeInMemorySQLMonitor"/>
              <CheckBoxInput
                editable="true"
                id="SearchForQueriesWithMultiplePlansFlag"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesWithMultiplePlans"
                value="AwrReportUserSettings.SearchForQueriesWithMultiplePlans"/>
              <CheckBoxInput
                editable="true"
                id="SearchForQueriesOnlyInFirstSnapshotFlag"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesOnlyInFirstSnapshot"
                value="AwrReportUserSettings.SearchForQueriesOnlyInFirstSnapshot"/>
              <CheckBoxInput
                editable="true"
                id="SearchForQueriesOnlyInLastSnapshotFlag"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.SearchForQueriesOnlyInLastSnapshot"
                value="AwrReportUserSettings.SearchForQueriesOnlyInLastSnapshot"/>
              <CheckBoxInput
                editable="true"
                id="IncludeMetadataForInstrumentationTables"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.IncludeMetadataForInstrumentationTables"
                value="AwrReportUserSettings.IncludeMetadataForInstrumentationTables"/>
              <CheckBoxInput
                editable="true"
                id="ExperimentalRawDataOutput"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.ExperimentalRawDataOutput"
                value="AwrReportUserSettings.UseExperimentalRawDataOutput"/>
            </InputColumn>
            <InputColumn
              labelWidth="500"
              width="40%">
              <CheckBoxInput
                editable="true"
                id="IncludeDatabaseStatistics"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.IncludeDatabaseStatistics"
                value="AwrReportUserSettings.IncludeDatabaseStatistics"/>
              <CheckBoxInput
                editable="true"
                id="ProbeOnDiskSQLMonitor"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.ProbeOnDiskSQLMonitor"
                value="AwrReportUserSettings.ProbeOnDiskSQLMonitor"/>
              <CheckBoxInput
                editable="true"
                id="CapturePeakedBindVariablesFromAWR"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.CapturePeakedBindVariablesFromAWR"
                value="AwrReportUserSettings.CapturePeakedBindVariablesFromAWR"/>
              <CheckBoxInput
                editable="true"
                id="GenerateCallsToASHScripts"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.GenerateCallsToASHScripts"
                value="AwrReportUserSettings.GenerateCallsToASHScripts"/>
              <CheckBoxInput
                editable="true"
                id="ConcurrentMessagingAnalysis"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.ConcurrentMessagingAnalysis"
                value="AwrReportUserSettings.ConcurrentMessagingAnalysis"/>
              <CheckBoxInput
                editable="true"
                id="ConcurrentBatchProcessAndWorkerAnalysis"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.ConcurrentBatchProcessAndWorkerAnalysis"
                value="AwrReportUserSettings.ConcurrentBatchProcessAndWorkerAnalysis"/>
              <CheckBoxInput
                editable="true"
                id="ConcurrentHistoryAnalysis"
                label="displaykey.Web.InternalTools.InfoPages.OracleAWR.ConcurrentHistoryAnalysis"
                value="AwrReportUserSettings.ConcurrentHistoryAnalysis"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelRef
            def="OracleAWRLV(AWRSnapshots)"
            id="snapshotsPanel"
            mode="Paging ? &quot;paging&quot; : &quot;nopaging&quot;">
            <Toolbar
              id="orasptb">
              <ToolbarButton
                action="Paging = !Paging"
                id="TogglePaging"
                label="Paging ? displaykey.Web.InternalTools.InfoPages.DisablePaging : displaykey.Web.InternalTools.InfoPages.EnablePaging"/>
              <ToolbarButton
                action="PageHelper.loadAwrSnapshots(); CurrentLocation.__init()"
                id="RefreshAWRs"
                label="displaykey.Button.Refresh"/>
            </Toolbar>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
    </Screen>
  </Page>
</PCF>
