<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="true"
    canVisit="gw.api.tools.OracleAWRHelper.dbSupportsAWR()"
    countsAsWork="false"
    id="OracleAWRUnusedIndexesInfo"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.OracleAWRUnusedIndexesInfo">
    <Variable
      initialValue="new gw.api.tools.OracleAWRHelper()"
      name="PageHelper"/>
    <Variable
      initialValue="true"
      name="Paging"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="IncludeInstrumentationTables"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="IncludeStagingTables"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="IncludeTempTables"
      type="Boolean"/>
    <Variable
      initialValue="false"
      name="IncludeTypelistTables"
      type="Boolean"/>
    <Screen
      id="OracleAWRInfoScreen">
      <DetailViewPanel>
        <InputColumn>
          <CheckBoxInput
            editable="true"
            id="IncludeInstrumentationTables"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.IncludeInstrumentationTables"
            value="IncludeInstrumentationTables"
            visible="PageHelper.isReadyToDownload(true)"/>
          <CheckBoxInput
            editable="true"
            id="IncludeStagingTables"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.IncludeStagingTables"
            value="IncludeStagingTables"
            visible="PageHelper.isReadyToDownload(true)"/>
          <CheckBoxInput
            editable="true"
            id="IncludeTempTables"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.IncludeTempTables"
            value="IncludeTempTables"
            visible="PageHelper.isReadyToDownload(true)"/>
          <CheckBoxInput
            editable="true"
            id="IncludeTypelistTables"
            label="displaykey.Web.InternalTools.InfoPages.OracleAWR.IncludeTypelistTables"
            value="IncludeTypelistTables"
            visible="PageHelper.isReadyToDownload(true)"/>
          <ButtonInput
            action="PageHelper.downloadAWRUnusedIndexInfo(IncludeInstrumentationTables, IncludeStagingTables, IncludeTempTables, IncludeTypelistTables)"
            available="PageHelper.isReadyToDownload(true)"
            download="true"
            id="download"
            labelAbove="true"
            value="displaykey.Button.Download"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="OracleAWRLV(PageHelper.AWRSnapshots)"
        mode="Paging ? &quot;paging&quot; : &quot;nopaging&quot;">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.InternalTools.InfoPages.OracleAWR.UnusedIndexesInstructions"/>
        <Toolbar
          id="orasptb">
          <ToolbarButton
            action="Paging = !Paging"
            id="TogglePaging"
            label="Paging ? displaykey.Web.InternalTools.InfoPages.DisablePaging : displaykey.Web.InternalTools.InfoPages.EnablePaging"/>
          <ToolbarButton
            action="PageHelper.loadAwrSnapshots()"
            id="ToolbarButton"
            label="displaykey.Button.Refresh"/>
        </Toolbar>
      </PanelRef>
    </Screen>
  </Page>
</PCF>
