<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canVisit="gw.api.tools.OracleOutlineHelper.dbSupportsOutlines()"
    id="OracleOutlineDetailsPopup"
    parent="OracleOutlineInfo()"
    title="displaykey.Web.InternalTools.InfoPages.OracleOutlineDetails">
    <LocationEntryPoint
      signature="OracleOutlineDetailsPopup(outline : database.DatabaseOutlineInfo)"/>
    <Variable
      name="outline"
      type="database.DatabaseOutlineInfo"/>
    <Screen
      id="OracleOutlineDetailsScreen">
      <TemplatePanel><![CDATA[
            <div style="width:1040;height:500;overflow-x:scroll;overflow-y:scroll;">
              <% printContent(outline.PrettySQLAsHTML, false) %>
            </div>
          
      ]]></TemplatePanel>
      <PanelRef>
        <TitleBar
          title="displaykey.Web.InternalTools.InfoPages.OracleOutlineHint.Hints"/>
        <Toolbar/>
        <ListViewPanel
          id="HintsLV">
          <RowIterator
            editable="false"
            elementName="hint"
            type="database.DatabaseOutlineHintInfo"
            value="outline.Hints">
            <Row>
              <Cell
                id="Node"
                label="displaykey.Web.InternalTools.InfoPages.OracleOutlineHint.Node"
                value="hint.Node"/>
              <Cell
                id="Stage"
                label="displaykey.Web.InternalTools.InfoPages.OracleOutlineHint.Stage"
                value="hint.Stage"/>
              <Cell
                id="JoinPos"
                label="displaykey.Web.InternalTools.InfoPages.OracleOutlineHint.JoinPos"
                value="hint.JoinPos"/>
              <Cell
                id="Hint"
                label="displaykey.Web.InternalTools.InfoPages.OracleOutlineHint.Hint"
                value="hint.Hint"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>