<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    editable="true"
    id="OracleAWRLV"
    mode="nopaging">
    <Require
      name="Snapshots"
      type="gw.api.database.DatabaseSnapshotInfo[]"/>
    <RowIterator
      editable="true"
      elementName="Row"
      pageSize="0"
      type="database.DatabaseSnapshotInfo"
      value="Snapshots">
      <Row>
        <CheckBoxCell
          editable="true"
          id="selector"
          validationLabel="displaykey.Web.InternalTools.InfoPages.OracleStatspack.SnaphshotChosen"
          value="Row.SnapshotChosen">
          <PostOnChange/>
        </CheckBoxCell>
        <Cell
          align="center"
          enableSort="false"
          id="SnapshotID"
          label="displaykey.Web.InternalTools.InfoPages.OracleStatspack.ID"
          value="Row.Id"
          width="100"/>
        <DateCell
          dateFormat="medium"
          enableSort="false"
          id="time"
          label="displaykey.Web.InternalTools.InfoPages.OracleStatspack.StartTime"
          timeFormat="short"
          value="Row.SnapTime"
          width="160"/>
        <DateCell
          dateFormat="medium"
          enableSort="false"
          id="startuptime"
          label="displaykey.Web.InternalTools.InfoPages.OracleStatspack.StartupTime"
          timeFormat="short"
          value="Row.StartupTime"
          width="160"/>
        <Cell
          enableSort="false"
          id="Description"
          label="displaykey.Web.InternalTools.InfoPages.OracleStatspack.Description"
          value="Row.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>