<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    editable="true"
    id="OracleStatspackLV"
    mode="paging">
    <Require
      name="OracleStatspackInfo"
      type="gw.api.tools.OracleStatspackHelper"/>
    <RowIterator
      editable="true"
      elementName="Row"
      pageSize="15"
      type="database.DatabaseSnapshotInfo"
      value="OracleStatspackInfo.SnapshotInfo">
      <Row>
        <CheckBoxCell
          editable="true"
          id="selector"
          validationLabel="displaykey.Web.InternalTools.InfoPages.OracleStatspack.SnaphshotChosen"
          value="Row.SnapshotChosen">
          <PostOnChange/>
        </CheckBoxCell>
        <Cell
          align="center"
          enableSort="false"
          id="SnapshotID"
          label="displaykey.Web.InternalTools.InfoPages.OracleStatspack.ID"
          value="Row.Id"/>
        <DateCell
          dateFormat="medium"
          enableSort="false"
          id="time"
          label="displaykey.Web.InternalTools.InfoPages.OracleStatspack.StartTime"
          timeFormat="medium"
          value="Row.SnapTime"/>
        <DateCell
          dateFormat="medium"
          enableSort="false"
          id="startuptime"
          label="displaykey.Web.InternalTools.InfoPages.OracleStatspack.StartupTime"
          timeFormat="medium"
          value="Row.StartupTime"/>
        <Cell
          enableSort="false"
          id="Description"
          label="displaykey.Web.InternalTools.InfoPages.OracleStatspack.Description"
          value="Row.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
