<?xml version="1.0"?>
<PCF>
  <Page
    alwaysInEditMode="true"
    canEdit="true"
    canVisit="gw.api.tools.OracleSQLTuningSetsHelper.dbSupportsSQLTuningSets()"
    id="OracleDBSQLTuningSets"
    parent="InfoPages()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.PageTitle">
    <Variable
      initialValue="new gw.api.tools.OracleSQLTuningSetsHelper()"
      name="PageHelper"/>
    <Variable
      name="tableNameUsedToStoreTuningSet"
      type="String"/>
    <Variable
      name="setName"
      type="String"/>
    <Screen
      id="OracleDBSQLTuningSetsScreen">
      <DetailViewPanel
        id="OracleSQLTuningSetsDV">
        <InputColumn>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.CreateSQLTuningSet"/>
          <TextInput
            editable="true"
            id="NameForCreate"
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.Name"
            value="PageHelper.Name"/>
          <TextInput
            editable="true"
            id="Description"
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.Description"
            value="PageHelper.Description"/>
          <ButtonInput
            action="PageHelper.createSQLTuningSet()"
            id="createButton"
            value="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.Create"/>
          <InputDivider/>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.CaptureCursorCache"/>
          <TextInput
            editable="true"
            helpText="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.NameHelpText"
            id="NameForCapture"
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.Name"
            value="PageHelper.Name"/>
          <TextInput
            editable="true"
            helpText="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.TimeLimitHelpText"
            id="TimeLimt"
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.TimeLimit"
            value="PageHelper.TimeLimit"/>
          <TextInput
            editable="true"
            id="RepeatInterval"
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.RepeatInterval"
            value="PageHelper.RepeatInterval"/>
          <Input
            editable="true"
            helpText="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.CaptureOptionHelpText"
            id="CaptureOptions"
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.CaptureOption"
            value="PageHelper.CaptureOption"/>
          <ButtonInput
            action="PageHelper.captureCursorCache()"
            id="captureCursorCacheButton"
            value="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.Capture"/>
          <InputDivider/>
          <Label
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.SaveSQLTuningSet"/>
          <TextInput
            editable="true"
            id="NameForStore"
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.Name"
            value="setName"/>
          <Input
            id="stagingTableName"
            label="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.StagingTableName"
            value="PageHelper.CreatedTableName"/>
          <ButtonInput
            action="PageHelper.storeSQLTuningSet(setName)"
            id="storeSQLTuningSet"
            value="displaykey.Web.InternalTools.InfoPages.OracleSQLTuningSets.StoreSQLTuningSet"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>