<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="PerfDownloadLV">
    <Require
      name="PageHelper"
      type="gw.api.tools.PerfReportHelper"/>
    <RowIterator
      editable="false"
      elementName="Row"
      type="gw.api.tools.PerfDownloadDetail"
      value="gw.api.tools.PerfReportHelper.PerfDownloads">
      <Row>
        <LinkCell
          align="center"
          id="DownloadLinkCell"
          label="displaykey.Button.Download">
          <Link
            action="PageHelper.download(Row.PublicID)"
            download="true"
            icon="&quot;download.png&quot;"
            id="LVGetZip"
            showConfirmMessage="false"
            tooltip="displaykey.Web.InternalTools.DBConsistCheckRun.Download"
            visible="Row.Status == gw.api.tools.PerfReportHelper.DBPerfReportStatus.SUCCESS.getValue() or Row.Status == gw.api.tools.PerfReportHelper.DBPerfReportStatus.FAILED.getValue()"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="ViewLinkCell"
          label="displaykey.Button.View"
          visible="gw.api.system.server.ServerModeUtil.Dev">
          <Link
            action="ReportView.push(&quot;PerfReport&quot;, Row.PublicID)"
            icon="&quot;search_16.png&quot;"
            id="View"
            label="displaykey.Button.View"
            showConfirmMessage="false"
            visible="Row.Status == gw.api.tools.PerfReportHelper.DBPerfReportStatus.SUCCESS.getValue() or Row.Status == gw.api.tools.PerfReportHelper.DBPerfReportStatus.FAILED.getValue()"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="DeleteLinkCell"
          label="displaykey.Button.Delete">
          <Link
            action="PageHelper.deletePerfReport(Row.PublicID)"
            confirmMessage="displaykey.Web.InternalTools.InfoPaqes.OracleAWR.DeleteConfirmation(Row.PublicID)"
            icon="&quot;icon_trash.png&quot;"
            id="LVDelete"
            tooltip="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"
            visible="Row.EndTime != null or !PageHelper.BatchRunning"/>
        </LinkCell>
        <Cell
          id="IdCell"
          label="displaykey.Web.InternalTools.DBConsistCheckRun.ID"
          value="Row.PublicID"
          width="80"/>
        <Cell
          enableSort="false"
          id="LVStatus"
          label="displaykey.Web.InternalTools.InfoPages.OracleAWR.Status"
          value="PageHelper.getStatusString(Row.Status)"
          width="120"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVStartTime"
          label="displaykey.Web.InternalTools.InfoPages.PerfDownload.StartTime"
          timeFormat="short"
          value="Row.StartTime"
          width="145"/>
        <DateCell
          dateFormat="short"
          enableSort="false"
          id="LVEndTime"
          label="displaykey.Web.InternalTools.InfoPages.PerfDownload.EndTime"
          timeFormat="short"
          value="Row.EndTime"
          width="145"/>
        <Cell
          enableSort="false"
          id="LVDescription"
          label="displaykey.Web.InternalTools.InfoPages.PerfDownload.Description"
          value="Row.Description"
          width="800"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>