<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="RuntimeEnvironmentInfo"
    parent="InfoPages()"
    title="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.InfoPage">
    <Screen>
      <Variable
        initialValue="new gw.api.tools.RuntimeEnvironmentInfoPageHelper()"
        name="PageHelper"/>
      <Variable
        initialValue="PageHelper.SystemInfo"
        name="systemDetails"/>
      <Toolbar
        id="RuntimeEnvironmentInfo_ToolBar">
        <ToolbarButton
          action="PageHelper.download()"
          download="true"
          id="RuntimeEnvironmentInfo_Download"
          label="displaykey.Button.Download"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            boldLabel="true"
            label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.VersionProperties"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="VersionPropertiesLV">
              <RowIterator
                editable="false"
                elementName="key"
                id="versionproperties"
                pageSize="0"
                value="PageHelper.getVersionPropertyKeys()">
                <Row>
                  <Cell
                    id="versionproperties_key"
                    label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.Key"
                    sortOrder="1"
                    value="key"/>
                  <Cell
                    id="versionproperties_value"
                    label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.Value"
                    value="PageHelper.getVersionPropertyValue(key as String)"
                    width="600"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <ListViewInput
            boldLabel="true"
            label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.SystemProperties"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="SystemPropertiesLV">
              <RowIterator
                editable="false"
                elementName="entry"
                id="systemproperties"
                pageSize="0"
                value="java.lang.System.getProperties().entrySet().toTypedArray()">
                <Row>
                  <Cell
                    id="systemproperties_key"
                    label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.Key"
                    sortOrder="1"
                    value="entry.Key"/>
                  <Cell
                    id="systemproperties_value"
                    label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.Value"
                    value="entry.Value"
                    width="600"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <ListViewInput
            boldLabel="true"
            label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.EnvironmentVariables"
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="EnvironmentVarsLV">
              <RowIterator
                editable="false"
                elementName="entry"
                id="EnvironmentVars"
                pageSize="0"
                value="java.lang.System.getenv().Keys.order()">
                <Row>
                  <Cell
                    id="EnvironmentVars_key"
                    label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.Key"
                    sortOrder="1"
                    value="entry"/>
                  <Cell
                    id="EnvironmentVars_value"
                    label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.Value"
                    value="java.lang.System.getenv(entry)"
                    width="600"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <TextAreaInput
            id="SystemDetailsTextBox"
            label="displaykey.Web.InternalTools.InfoPages.RuntimeEnvironment.SystemDetails"
            labelAbove="true"
            numCols="80"
            numRows="24"
            value="systemDetails"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>