<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="SafePersistingOrderInfoLV">
    <Require
      name="safePersistingOrderTables"
      type="List&lt;gw.api.tools.SafePersistingOrderInfoHelper.SafePersistingOrderData&gt;"/>
    <RowIterator
      canPick="false"
      editable="false"
      elementName="pair"
      value="safePersistingOrderTables">
      <ToolbarFilter
        name="Filter">
        <ToolbarFilterOption
          filter="new gw.api.tools.SafePersistingOrderInfoHelper.AllEntities()"
          selectOnEnter="true"/>
        <ToolbarFilterOption
          filter="new gw.api.tools.SafePersistingOrderInfoHelper.WithRulesOnly()"/>
      </ToolbarFilter>
      <Row>
        <Cell
          id="order"
          label="displaykey.Web.InternalTools.InfoPages.SafePersistingOrder.Order"
          value="pair.Order"/>
        <Cell
          id="Name"
          label="displaykey.Web.InternalTools.InfoPages.SafePersistingOrder.Name"
          value="pair.EntityName"/>
        <Cell
          id="Table"
          label="displaykey.Web.InternalTools.InfoPages.SafePersistingOrder.Table"
          value="pair.TableName"/>
        <Cell
          id="PreUpdateRules"
          label="displaykey.Web.InternalTools.InfoPages.SafePersistingOrder.PreUpdateRules"
          value="pair.HasRules"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>