<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    id="SafePersistingOrderInfo"
    parent="InfoPages()"
    title="displaykey.Web.InternalTools.InfoPages.SafePersistingOrderInfo">
    <Variable
      initialValue="gw.api.tools.SafePersistingOrderInfoHelper.getSafePersistingOrderTableNames()"
      name="safeOrderList"/>
    <Screen
      id="SafePersistingOrderInfoScreen">
      <PanelRef
        def="SafePersistingOrderInfoLV(safeOrderList)">
        <Toolbar
          id="spotb"/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>