<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    countsAsWork="false"
    id="ServerPerformance"
    parent="UnsupportedTools()"
    title="displaykey.Web.InternalTools.InfoPages.ServerPerformance.Title">
    <LocationEntryPoint
      signature="ServerPerformance()"/>
    <Variable
      initialValue="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.getServerPerformancePCFRows()"
      name="Data"/>
    <Screen
      id="ServerPerformanceScreen">
      <Toolbar>
        <ToolbarButton
          action="Data = com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.getServerPerformancePCFRows()"
          id="RefreshButton"
          label="displaykey.Button.Refresh"/>
        <ToolbarButton
          action="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.clearData(); Data = com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.getServerPerformancePCFRows()"
          id="ClearResultsButton"
          label="displaykey.Web.InternalTools.InfoPages.ServerPerformance.ClearResults"/>
        <ToolbarButton
          action="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.exportSummaryToCSV()"
          download="true"
          id="SummaryExportButton"
          label="displaykey.Web.InternalTools.InfoPages.ServerPerformance.ExportSummary"/>
        <ToolbarButton
          action="com.guidewire.pl.web.pcf.ServerPerformancePCFHelper.exportRawDataToCSV()"
          download="true"
          id="RawDataExportButton"
          label="displaykey.Web.InternalTools.InfoPages.ServerPerformance.ExportRaw"/>
      </Toolbar>
      <ListViewPanel
        id="ServerPerformanceLV">
        <Row
          renderAsSmartHeader="true">
          <Cell
            id="pageNameH1"/>
          <Cell
            colspan="2"
            id="serverH1"
            value="displaykey.Web.InternalTools.InfoPages.ServerPerformance.Server"/>
          <Cell
            colspan="2"
            id="serverC1"
            value="displaykey.Web.InternalTools.InfoPages.ServerPerformance.Browser"/>
        </Row>
        <Row
          renderAsSmartHeader="true">
          <Cell
            id="pageNameH"
            value="displaykey.Web.InternalTools.InfoPages.ServerPerformance.Page"/>
          <Cell
            id="requestsH"
            value="displaykey.Web.InternalTools.InfoPages.ServerPerformance.Requests"/>
          <Cell
            id="serverH"
            value="displaykey.Web.InternalTools.InfoPages.ServerPerformance.Average"/>
          <Cell
            id="clientH"
            value="displaykey.Web.InternalTools.InfoPages.ServerPerformance.BrowserAverage"/>
        </Row>
        <RowIterator
          editable="false"
          elementName="Row"
          id="MainRows"
          pageSize="0"
          value="Data">
          <IteratorSort
            sortBy="Row.PageId"
            sortOrder="1"/>
          <Row>
            <Cell
              id="name"
              value="Row.PageId"/>
            <Cell
              id="serverRequests"
              value="Row.NumRequests"/>
            <Cell
              id="serveravg"
              value="Row.AverageServerTime"/>
            <Cell
              id="clientavg"
              value="Row.AverageEndToEndTime"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>