<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="UpdateStatsLV">
    <ExposeIterator
      valueType="entity.DatabaseUpdateStats"
      widget="UpdateStatsLV"/>
    <Require
      name="PageHelper"
      type="gw.api.tools.UpdateStatsDVHelper"/>
    <RowIterator
      editable="false"
      elementName="Row"
      hasCheckBoxes="true"
      pageSize="15"
      type="DatabaseUpdateStats"
      value="PageHelper.AvailDatabaseUpdateStats">
      <Row>
        <LinkCell
          align="center"
          id="DownloadLinkCellHeader"
          label="displaykey.Button.Download">
          <Link
            action="PageHelper.downloadDatabaseUpdateStats(Row)"
            download="true"
            icon="&quot;download.png&quot;"
            id="LVGetZip"
            showConfirmMessage="false"
            tooltip="displaykey.Web.InternalTools.DBConsistCheckRun.Download"
            visible="Row.EndTime &lt;&gt; null"/>
        </LinkCell>
        <LinkCell
          align="center"
          id="LinkCellHeaderID"
          label="displaykey.Button.Delete">
          <Link
            action="PageHelper.deleteDatabaseUpdateStats(Row)"
            confirmMessage="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.DeleteConfirmation"
            icon="&quot;icon_trash.png&quot;"
            id="LVDelete"
            tooltip="displaykey.Web.InternalTools.InfoPages.DataDistribution.Delete"
            visible="Row.EndTime &lt;&gt; null"/>
        </LinkCell>
        <Cell
          enableSort="false"
          id="LVDescription"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.Description"
          value="Row.Description"/>
        <Cell
          enableSort="false"
          id="LVIncremental"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.Incremental"
          value="Row.Incremental"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVStartTime"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.StartTime"
          timeFormat="short"
          value="Row.StartTime"
          width="180"/>
        <DateCell
          dateFormat="long"
          enableSort="false"
          id="LVEndTime"
          label="displaykey.Web.InternalTools.InfoPages.DatabaseStatisticsInfo.ExecutionHistory.EndTime"
          timeFormat="short"
          value="Row.EndTime"
          width="180"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>