<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.BusinessWeek.edit"
    canVisit="perm.BusinessWeek.view"
    id="BusinessWeekPage"
    title="displaykey.Web.Admin.BusinessWeek">
    <Variable
      initialValue="find (var b in BusinessWeek)"
      name="businessWeeks"
      type="BusinessWeekQuery"/>
    <Screen
      editable="true"
      id="BusinessWeekScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.Admin.BusinessWeek"/>
      <Toolbar>
        <ToolbarButton
          action="NewBusinessWeek.go()"
          available="perm.BusinessWeek.create"
          id="BusinessWeek_AddBusinessWeek"
          label="displaykey.Web.Admin.BusinessWeek.AddBusinessWeek"
          shortcut="B"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.BaseAdminUtil.deleteBusinessWeeks(CheckedValues)"
          available="perm.BusinessWeek.delete"
          id="BusinessWeek_DeleteButton"
          iterator="BusinessWeeksLV"
          label="displaykey.Button.Delete"
          shortcut="L"/>
      </Toolbar>
      <ListViewPanel
        id="BusinessWeeksLV">
        <RowIterator
          editable="true"
          elementName="businessWeek"
          hasCheckBoxes="true"
          value="businessWeeks">
          <Row>
            <Cell
              action="BusinessWeekDetail.go(businessWeek)"
              id="Name"
              label="displaykey.Web.Admin.BusinessWeek.Name"
              sortOrder="1"
              value="businessWeek.Name"/>
            <Cell
              enableSort="false"
              id="Zones"
              label="displaykey.Web.Admin.BusinessWeek.Zones"
              value="businessWeek.Zones"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>