<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="BusinessWeekDayDetailDV">
    <Require
      name="businessWeek"
      type="BusinessWeek"/>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="BusinessWeekEndInput"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessWeekEnd"
        required="true"
        value="businessWeek.BusinessWeekEnd"/>
      <DateInput
        editable="true"
        helpText="displaykey.BusinessWeek.BusinessDayDemarcation"
        id="BusinessDayDemarcation"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessDayDemarcation"
        required="true"
        timeFormat="short"
        validationExpression="businessWeek.validateBusinessDayDemarcation()"
        value="businessWeek.BusinessDayDemarcation"/>
      <Label
        id="Sunday"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.Sunday"/>
      <BooleanRadioInput
        editable="true"
        id="SundayBusinessDay"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessDay"
        value="businessWeek.SundayBusinessDay">
        <PostOnChange/>
      </BooleanRadioInput>
      <DateInput
        editable="true"
        id="SundayBusinessStart"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessStart"
        required="businessWeek.SundayBusinessDay"
        timeFormat="short"
        value="businessWeek.SundayBusinessStart"
        visible="businessWeek.SundayBusinessDay"/>
      <DateInput
        editable="true"
        id="SundayBusinessEnd"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessEnd"
        required="businessWeek.SundayBusinessDay"
        timeFormat="short"
        validationExpression="businessWeek.validateSundayStartAndEndTimes()"
        value="businessWeek.SundayBusinessEnd"
        visible="businessWeek.SundayBusinessDay"/>
      <Label
        id="Monday"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.Monday"/>
      <BooleanRadioInput
        editable="true"
        id="MondayBusinessDay"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessDay"
        value="businessWeek.MondayBusinessDay">
        <PostOnChange/>
      </BooleanRadioInput>
      <DateInput
        editable="true"
        id="MondayBusinessStart"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessStart"
        required="businessWeek.MondayBusinessDay"
        timeFormat="short"
        value="businessWeek.MondayBusinessStart"
        visible="businessWeek.MondayBusinessDay"/>
      <DateInput
        editable="true"
        id="MondayBusinessEnd"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessEnd"
        required="businessWeek.MondayBusinessDay"
        timeFormat="short"
        validationExpression="businessWeek.validateMondayStartAndEndTimes()"
        value="businessWeek.MondayBusinessEnd"
        visible="businessWeek.MondayBusinessDay"/>
      <Label
        id="Tuesday"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.Tuesday"/>
      <BooleanRadioInput
        editable="true"
        id="TuesdayBusinessDay"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessDay"
        value="businessWeek.TuesdayBusinessDay">
        <PostOnChange/>
      </BooleanRadioInput>
      <DateInput
        editable="true"
        id="TuesdayBusinessStart"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessStart"
        required="businessWeek.TuesdayBusinessDay"
        timeFormat="short"
        value="businessWeek.TuesdayBusinessStart"
        visible="businessWeek.TuesdayBusinessDay"/>
      <DateInput
        editable="true"
        id="TuesdayBusinessEnd"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessEnd"
        required="businessWeek.TuesdayBusinessDay"
        timeFormat="short"
        validationExpression="businessWeek.validateTuesdayStartAndEndTimes()"
        value="businessWeek.TuesdayBusinessEnd"
        visible="businessWeek.TuesdayBusinessDay"/>
      <Label
        id="Wednesday"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.Wednesday"/>
      <BooleanRadioInput
        editable="true"
        id="WednesdayBusinessDay"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessDay"
        value="businessWeek.WednesdayBusinessDay">
        <PostOnChange/>
      </BooleanRadioInput>
      <DateInput
        editable="true"
        id="WednesdayBusinessStart"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessStart"
        required="businessWeek.WednesdayBusinessDay"
        timeFormat="short"
        value="businessWeek.WednesdayBusinessStart"
        visible="businessWeek.WednesdayBusinessDay"/>
      <DateInput
        editable="true"
        id="WednesdayBusinessEnd"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessEnd"
        required="businessWeek.WednesdayBusinessDay"
        timeFormat="short"
        validationExpression="businessWeek.validateWednesdayStartAndEndTimes()"
        value="businessWeek.WednesdayBusinessEnd"
        visible="businessWeek.WednesdayBusinessDay"/>
      <Label
        id="Thursday"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.Thursday"/>
      <BooleanRadioInput
        editable="true"
        id="ThursdayBusinessDay"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessDay"
        value="businessWeek.ThursdayBusinessDay">
        <PostOnChange/>
      </BooleanRadioInput>
      <DateInput
        editable="true"
        id="ThursdayBusinessStart"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessStart"
        required="businessWeek.ThursdayBusinessDay"
        timeFormat="short"
        value="businessWeek.ThursdayBusinessStart"
        visible="businessWeek.ThursdayBusinessDay"/>
      <DateInput
        editable="true"
        id="ThursdayBusinessEnd"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessEnd"
        required="businessWeek.ThursdayBusinessDay"
        timeFormat="short"
        validationExpression="businessWeek.validateThursdayStartAndEndTimes()"
        value="businessWeek.ThursdayBusinessEnd"
        visible="businessWeek.ThursdayBusinessDay"/>
      <Label
        id="Friday"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.Friday"/>
      <BooleanRadioInput
        editable="true"
        id="FridayBusinessDay"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessDay"
        value="businessWeek.FridayBusinessDay">
        <PostOnChange/>
      </BooleanRadioInput>
      <DateInput
        editable="true"
        id="FridayBusinessStart"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessStart"
        required="businessWeek.FridayBusinessDay"
        timeFormat="short"
        value="businessWeek.FridayBusinessStart"
        visible="businessWeek.FridayBusinessDay"/>
      <DateInput
        editable="true"
        id="FridayBusinessEnd"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessEnd"
        required="businessWeek.FridayBusinessDay"
        timeFormat="short"
        validationExpression="businessWeek.validateFridayStartAndEndTimes()"
        value="businessWeek.FridayBusinessEnd"
        visible="businessWeek.FridayBusinessDay"/>
      <Label
        id="Saturday"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.Saturday"/>
      <BooleanRadioInput
        editable="true"
        id="SaturdayBusinessDay"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessDay"
        value="businessWeek.SaturdayBusinessDay">
        <PostOnChange/>
      </BooleanRadioInput>
      <DateInput
        editable="true"
        id="SaturdayBusinessStart"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessStart"
        required="businessWeek.SaturdayBusinessDay"
        timeFormat="short"
        value="businessWeek.SaturdayBusinessStart"
        visible="businessWeek.SaturdayBusinessDay"/>
      <DateInput
        editable="true"
        id="SaturdayBusinessEnd"
        label="displaykey.Web.Admin.BusinessWeekDetailDV.BusinessEnd"
        required="businessWeek.SaturdayBusinessDay"
        timeFormat="short"
        validationExpression="businessWeek.validateSaturdayStartAndEndTimes()"
        value="businessWeek.SaturdayBusinessEnd"
        visible="businessWeek.SaturdayBusinessDay"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>