<fo:table-row>
    <fo:table-cell>
        <fo:block
          font-weight="normal"
        >
#if ($optionIcon)
            <fo:external-graphic src="$optionIcon"/>&nbsp;
#end
#if ($optionLabel)
            $optionLabel
#end
        </fo:block>
    </fo:table-cell>
</fo:table-row>
