<!-- LVCellStart.vm START -->
  <fo:table-cell
         padding-top="3px"
         padding-left="3px"
         padding-right="3px"
         padding-bottom="3px">
         <fo:block
        #if ($color)
          color="$color"
        #end

        #if ($bold)
           font-weight="bold"
        #end
           text-align="$alignment">
<!-- LVCellStart.vm END -->