<!-- LVRowStart.vm START -->
    <fo:table-row
        #if ($header)
          background-color="#E2E2E2"
        #elseif ($subheader)
          background-color="#BDD6EA"
        #elseif ($title)
          background-color="#D5D7D9"
        #elseif ($even)
          background-color="#FFFFFF"
        #else
          background-color="#EDEBE9"
        #end
      >
<!-- LVRowStart.vm END -->
