<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="DatabaseTableInfo"
    parent="InfoPages()"
    title="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo">
    <LocationEntryPoint
      signature="DatabaseTableInfo()"/>
    <LocationEntryPoint
      signature="DatabaseTableInfo(Result : String)"/>
    <Variable
      initialValue="new gw.api.tools.DatabaseTableInfoHelper()"
      name="PageHelper"/>
    <Variable
      name="Result"
      type="String"/>
    <Variable
      initialValue="new tools.DatabaseSchemaVerifierPageHelper()"
      name="DBSchemaPageHelper"/>
    <Variable
      initialValue="false"
      name="verified"/>
    <Variable
      initialValue="0"
      name="numVerificationErrors"/>
    <Screen
      id="DatabaseInfoScreen">
      <TitleBar
        title="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo"/>
      <Verbatim
        label="Result"/>
      <DetailViewPanel
        id="SchemaVerifyDV">
        <InputColumn>
          <ButtonInput
            action="DBSchemaPageHelper.getErrors(); verified = true; numVerificationErrors = DBSchemaPageHelper.Errors.Count"
            id="DownloadSchemaVerifierVerify"
            labelAbove="true"
            value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.Verify"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="DBSchemaPageHelper.print()"
            download="true"
            id="DownloadSchemaVerifierParms"
            labelAbove="true"
            value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.Download"/>
        </InputColumn>
        <InputColumn/>
      </DetailViewPanel>
      <DetailViewPanel
        id="NotVerifiedDV">
        <InputColumn
          id="NotVerifiedInputCol">
          <TextInput
            id="verified"
            labelAbove="true"
            value="not verified ? displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.NotYetVerified : numVerificationErrors == 0 ? displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.NoErrors : &quot;&quot;"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        id="VerifyErrorsPanelRef">
        <Toolbar/>
        <ListViewPanel
          id="VerifyErrorsLV">
          <RowIterator
            editable="false"
            elementName="error"
            value="not verified ? new Object[0] : DBSchemaPageHelper.Errors.toArray()">
            <Row>
              <Cell
                id="error"
                label="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.DatabaseSchemaVerification.ErrorMessage"
                value="error"
                width="1000"
                wrap="true"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <DetailViewPanel
        id="DatabaseInfoLinksDV">
        <InputColumn
          id="DownloadDBButtonInputCol">
          <ButtonInput
            action="PageHelper.download()"
            download="true"
            id="DownloadParms"
            labelAbove="true"
            value="displaykey.Web.InternalTools.InfoPages.DatabaseTableInfo.Download"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>