<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="AddressDataRowSet">
    <Require
      name="addressData"
      type="gw.web.merge.MergeContactsAddressHolder.AddressData[]"/>
    <Require
      name="duplicateAddressEntries"
      type="gw.web.merge.MergeContactsAddressHolder.DuplicateAddressEntry[]"/>
    <RowIterator
      editable="true"
      elementName="addressData"
      id="ContactRowIterator"
      pageSize="0"
      value="addressData">
      <Row>
        <RadioButtonCell
          action="addressData.makePrimary()"
          editable="true"
          id="contactPrimary"
          label="displaykey.Web.Contacts.ReviewDuplicateContacts.Addresses.Primary"
          radioButtonGroup="primary"
          value="addressData.Primary">
          <PostOnChange
            target="DATA_ONLY"/>
        </RadioButtonCell>
        <CheckBoxCell
          available="not addressData.Primary"
          editable="true"
          id="contactInclude"
          label="displaykey.Web.Contacts.ReviewDuplicateContacts.Addresses.Include"
          value="addressData.Included">
          <PostOnChange
            target="DATA_ONLY"/>
        </CheckBoxCell>
        <TypeKeyCell
          editable="true"
          id="contactType"
          label="displaykey.Web.Contacts.ReviewDuplicateContacts.Addresses.Type"
          value="addressData.Address.AddressType"/>
        <Cell
          id="contactAddress"
          label="displaykey.Web.Contacts.ReviewDuplicateContacts.Addresses.Address"
          value="addressData.Address"/>
        <RangeCell
          editable="true"
          id="contactDuplicateAddress"
          label="displaykey.Web.Contacts.ReviewDuplicateContacts.Addresses.DuplicateAddress"
          required="true"
          sortValueRange="false"
          value="addressData.DuplicateAddress"
          valueRange="duplicateAddressEntries"
          valueVisible="(not addressData.Included) and (not addressData.Primary)"/>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>