<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="ContactInfoRowSet">
    <Require
      name="contact"
      type="ABContact"/>
    <Require
      name="duplicate"
      type="ABContact"/>
    <Require
      name="merged"
      type="ABContact"/>
    <Require
      name="phoneHolder"
      type="gw.web.merge.MergeContactsPhoneHolder"/>
    <Variable
      initialValue="{contact, duplicate, merged}"
      name="contacts"
      type="ABContact[]"/>
    <Row>
      <Cell
        bold="true"
        colspan="4"
        id="contactInfo"
        value="displaykey.Web.Contacts.ReviewDuplicateContacts.ContactInfo"/>
    </Row>
    <Row>
      <Cell
        id="WorkPhoneLabel"
        value="displaykey.Web.ContactDetail.Phone.Work"/>
      <Cell
        id="keptWorkPhone"
        value="gw.web.merge.MergeContactsWebUtil.Instance.contactPhoneDisplay(contact, ABContact#WorkPhone, false)"/>
      <Cell
        id="retiredWorkPhone"
        value="gw.web.merge.MergeContactsWebUtil.Instance.contactPhoneDisplay(duplicate, ABContact#WorkPhone, false)"/>
      <RangeCell
        editable="true"
        id="mergedWorkPhone"
        required="true"
        value="phoneHolder.KeptWorkPhone"
        valueRange="phoneHolder.collectPhones(PhoneType.TC_WORK)"/>
      <!-- <ButtonCell
        action="PhoneSelectionPopup.push(contact, duplicate, merged, PhoneType.TC_WORK)"
        id="mergedWorkPhone"
        value="gw.web.merge.MergeContactsWebUtil.Instance.contactPhoneDisplay(merged, ABContact#WorkPhone, true)"/> -->
    </Row>
    <Row>
      <Cell
        id="FaxPhoneLabel"
        value="displaykey.Web.ContactDetail.Phone.Fax"/>
      <Cell
        id="keptFaxPhone"
        value="gw.web.merge.MergeContactsWebUtil.Instance.contactPhoneDisplay(contact, ABContact#FaxPhone, false)"/>
      <Cell
        id="retiredFaxPhone"
        value="gw.web.merge.MergeContactsWebUtil.Instance.contactPhoneDisplay(duplicate, ABContact#FaxPhone, false)"/>
      <RangeCell
        editable="true"
        id="mergedFaxPhone"
        required="true"
        value="phoneHolder.KeptFaxPhone"
        valueRange="phoneHolder.collectPhones(PhoneType.TC_FAX)"/>
      <!-- <ButtonCell
        action="PhoneSelectionPopup.push(contact, duplicate, merged, PhoneType.TC_FAX)"
        id="mergedFaxPhone"
        value="gw.web.merge.MergeContactsWebUtil.Instance.contactPhoneDisplay(merged, ABContact#FaxPhone, true)"/> -->
    </Row>
    <Row>
      <Cell
        id="primaryEmailLabel"
        value="displaykey.Web.ContactDetail.PrimaryContact.Email1"/>
      <CellIterator
        elementName="aContact"
        id="primaryEmail"
        value="contacts">
        <Cell
          editable="aContact == merged"
          id="primaryEmail"
          value="aContact.EmailAddress1"/>
      </CellIterator>
    </Row>
    <Row>
      <Cell
        id="alternateEmailLabel"
        value="displaykey.Web.ContactDetail.PrimaryContact.Email2"/>
      <CellIterator
        elementName="aContact"
        id="alternateEmail"
        value="contacts">
        <Cell
          editable="aContact == merged"
          id="alternateEmail"
          value="aContact.EmailAddress2"/>
      </CellIterator>
    </Row>
  </RowSet>
</PCF>