<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="gw.web.merge.MergeContactsWebUtil.Instance.merge(mergedContact, duplicateContacts.RetiredContact, addressDataHolder, relatedContactsHolder, eftDataHolder)"
    canEdit="true"
    canVisit="wrappedDuplicateContactPair.getPair() != null and wrappedDuplicateContactPair.getPair().KeptContact.Subtype == wrappedDuplicateContactPair.getPair().RetiredContact.Subtype"
    id="ReviewDuplicateContactsPopup"
    startInEditMode="true"
    title="displaykey.Web.Contacts.ReviewDuplicateContacts.Title">
    <LocationEntryPoint
      signature="ReviewDuplicateContactsPopup(wrappedDuplicateContactPair : gw.web.merge.DuplicatePairWrapper)"/>
    <Variable
      name="wrappedDuplicateContactPair"
      type="gw.web.merge.DuplicatePairWrapper"/>
    <Variable
      initialValue="wrappedDuplicateContactPair.getPair()"
      name="duplicateContacts"/>
    <Variable
      initialValue="gw.web.merge.MergeContactsWebUtil.Instance"
      name="mergeContactsWebUtil"
      type="gw.web.merge.MergeContactsWebUtil"/>
    <Variable
      initialValue="mergeContactsWebUtil.createCopy(duplicateContacts.KeptContact)"
      name="keptContact"
      type="ABContact"/>
    <Variable
      initialValue="mergeContactsWebUtil.createCopy(duplicateContacts.RetiredContact)"
      name="retiredContact"
      type="ABContact"/>
    <Variable
      initialValue="mergeContactsWebUtil.createMergedContact(duplicateContacts)"
      name="mergedContact"
      type="ABContact"/>
    <Variable
      initialValue="displaykey.Web.Contacts.ReviewDuplicateContacts.MatchType(duplicateContacts.Exact ? displaykey.Web.Contacts.MergeContacts.Exact : displaykey.Web.Contacts.MergeContacts.Potential)"
      name="matchTypeDisplayKey"/>
    <Variable
      initialValue="new gw.web.merge.MergeContactsAddressHolder(mergedContact, duplicateContacts.RetiredContact)"
      name="addressDataHolder"/>
    <Variable
      initialValue="new gw.web.merge.MergeContactsLinkedContactsHolder(mergedContact, duplicateContacts.RetiredContact)"
      name="relatedContactsHolder"/>
    <Variable
      initialValue="new gw.web.merge.MergeContactsEFTDataHolder(mergedContact, duplicateContacts.RetiredContact)"
      name="eftDataHolder"/>
    <Variable
      initialValue="new gw.web.merge.VendorDataCardHelper(keptContact, retiredContact, mergedContact)"
      name="vendorDataCardHelper"/>
    <Variable
      initialValue="new gw.web.merge.MergeContactsPhoneHolder(keptContact, retiredContact, mergedContact)"
      name="phoneHolder"
      type="gw.web.merge.MergeContactsPhoneHolder"/>
    <Screen>
      <Toolbar>
        <EditButtons
          cancelVisible="false"
          editVisible="false"
          id="Merge"
          updateLabel="displaykey.Web.Contacts.ReviewDuplicateContacts.Merge"
          updateVisible="wrappedDuplicateContactPair.Pair != null"/>
        <ToolbarButton
          action="mergeAndEdit()"
          confirmMessage="displaykey.Web.Contacts.ReviewDuplicateContacts.MergeThenEdit.Warning"
          id="MergeAndEditButton"
          label="displaykey.Web.Contacts.ReviewDuplicateContacts.MergeThenEdit"/>
        <ToolbarButton
          action="retire(); CurrentLocation.cancel()"
          confirmMessage="displaykey.Web.Contacts.ReviewDuplicateContacts.Ignore.Warning"
          id="Ignore"
          label="displaykey.Web.Contacts.ReviewDuplicateContacts.Ignore"
          visible="wrappedDuplicateContactPair.Pair != null"/>
        <EditButtons
          editVisible="false"
          updateVisible="false"/>
      </Toolbar>
      <Verbatim
        label="displaykey.Web.Contacts.ReviewDuplicateContacts.AlreadyProcessedError"
        visible="wrappedDuplicateContactPair.Pair == null"
        warning="true"/>
      <DetailViewPanel>
        <InputColumn>
          <Input
            boldLabel="true"
            id="matchType"
            label="matchTypeDisplayKey"
            value="&quot;&quot;"/>
        </InputColumn>
      </DetailViewPanel>
      <CardViewPanel>
        <Card
          id="ContactDetail"
          title="displaykey.Web.Contacts.ReviewDuplicateContacts.ContactDetail">
          <ListViewPanel>
            <Row
              renderAsSmartHeader="true">
              <Cell
                id="fieldName"
                value="&quot;&quot;"/>
              <Cell
                align="left"
                id="contact1"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.KeptContact(mergedContact.CreateTime.formatDate(gw.i18n.DateTimeFormat.SHORT))"/>
              <Cell
                align="left"
                id="contact2"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.RetiredContact(duplicateContacts.RetiredContact.CreateTime.formatDate(gw.i18n.DateTimeFormat.SHORT))"/>
              <Cell
                id="updatedContact"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.UpdatedContact"/>
            </Row>
            <RowSetRef
              def="ContactDetailsRowSet(keptContact, retiredContact, mergedContact, addressDataHolder, phoneHolder)"
              mode="mergedContact.Subtype"/>
          </ListViewPanel>
        </Card>
        <Card
          id="Addresses"
          title="displaykey.Web.Contacts.ReviewDuplicateContacts.Addresses">
          <DetailViewPanel>
            <InputColumn>
              <InputSetRef
                def="KeptContactInfoInputSet(mergedContact)"/>
            </InputColumn>
          </DetailViewPanel>
          <ListViewPanel>
            <RowSetRef
              def="AddressDataRowSet(addressDataHolder.KeptAddressData,addressDataHolder.KeptDuplicateAddressEntries)"
              id="KeptContactAddresses"/>
          </ListViewPanel>
          <DetailViewPanel>
            <InputColumn>
              <Input
                id="PlaceHolder"
                value="&quot;&quot;"/>
              <InputSetRef
                def="RetiredContactInfoInputSet(duplicateContacts)"/>
            </InputColumn>
          </DetailViewPanel>
          <ListViewPanel>
            <RowSetRef
              def="AddressDataRowSet(addressDataHolder.RetiredAddressData, addressDataHolder.RetiredDuplicateAddressEntries)"
              id="RetiredContactAddresses"/>
          </ListViewPanel>
        </Card>
        <Card
          id="RelatedContacts"
          title="displaykey.Web.Contacts.ReviewDuplicateContacts.RelatedContacts">
          <DetailViewPanel>
            <InputColumn>
              <Input
                boldValue="true"
                id="RelatedContact1"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.KeptContact(mergedContact.CreateTime.formatDate(gw.i18n.DateTimeFormat.SHORT))"/>
              <ListViewInput
                def="DuplicateRelatedContactsLV(new gw.web.merge.ABContactWrapper(mergedContact), relatedContactsHolder.KeptContactRelatedContacts)"
                id="KeptRelatedContacts">
                <Toolbar/>
              </ListViewInput>
            </InputColumn>
            <InputColumn>
              <Input
                boldValue="true"
                id="RelatedContact2"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.RetiredContact(gw.web.merge.MergeContactsWebUtil.Instance.getRetiredCreateTime(duplicateContacts))"/>
              <ListViewInput
                def="DuplicateRelatedContactsLV(new gw.web.merge.ABContactWrapper(wrappedDuplicateContactPair.Pair.RetiredContact), relatedContactsHolder.RetiredContactRelatedContacts)"
                id="RetiredRelatedContacts">
                <Toolbar/>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
        </Card>
        <Card
          id="EFTInformation"
          title="displaykey.Web.Contacts.ReviewDuplicateContacts.EFTInformation">
          <DetailViewPanel>
            <InputColumn>
              <InputSetRef
                def="KeptContactInfoInputSet(mergedContact)"
                id="EFTKeptContactInfo"/>
            </InputColumn>
          </DetailViewPanel>
          <ListViewPanel>
            <RowSetRef
              def="EFTDataRowSet(eftDataHolder.KeptContactData, wrappedDuplicateContactPair)"
              id="KeptContactEFTData"/>
          </ListViewPanel>
          <DetailViewPanel>
            <InputColumn>
              <Input
                id="EFTPlaceHolder"
                value="&quot;&quot;"/>
              <InputSetRef
                def="RetiredContactInfoInputSet(duplicateContacts)"
                id="EFTRetiredContactInfo"/>
            </InputColumn>
          </DetailViewPanel>
          <ListViewPanel>
            <RowSetRef
              def="EFTDataRowSet(eftDataHolder.RetiredContactData, wrappedDuplicateContactPair)"
              id="RetiredContactEFTData"/>
          </ListViewPanel>
        </Card>
        <Card
          id="VendorData"
          title="displaykey.Web.Contacts.ReviewDuplicateContacts.VendorData"
          visible="vendorDataCardHelper.ShowVendorDataCard">
          <ListViewPanel>
            <Row
              renderAsSmartHeader="true">
              <Cell
                id="vendorTagFieldName"
                value="&quot;&quot;"/>
              <Cell
                align="left"
                id="vendorTagContact1"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.KeptContact(mergedContact.CreateTime.formatDate(gw.i18n.DateTimeFormat.SHORT))"/>
              <Cell
                align="left"
                id="vendorTagContact2"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.RetiredContact(duplicateContacts.RetiredContact.CreateTime.formatDate(gw.i18n.DateTimeFormat.SHORT))"/>
              <Cell
                id="vendorTagUpdatedContact"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.UpdatedContact"/>
            </Row>
            <Row>
              <Cell
                id="vendorTagLabel"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.HasVendorTag"/>
              <Cell
                id="KeptContactHasVendorTag"
                value="vendorDataCardHelper.KeptContactHasVendorTag"/>
              <Cell
                id="RetiredContactHasVendorTag"
                value="vendorDataCardHelper.RetiredContactHasVendorTag"/>
              <CheckBoxCell
                editable="vendorDataCardHelper.MergedContactHasVendorTagEditable"
                id="MergedContactHasVendorTag"
                value="vendorDataCardHelper.MergedContactHasVendorTag">
                <PostOnChange/>
              </CheckBoxCell>
            </Row>
            <Row
              id="VendorAvailabilityRow"
              visible="vendorDataCardHelper.MergedContactHasVendorTag">
              <Cell
                id="vendorAvailabilityLabel"
                value="displaykey.Web.ContactDetail.VendorAvailability"/>
              <Cell
                align="center"
                id="KeptContactVendorAvailability"
                value="keptContact.VendorAvailability"/>
              <Cell
                align="center"
                id="RetiredContactVendorAvailability"
                value="retiredContact.VendorAvailability"/>
              <TypeKeyCell
                align="center"
                editable="true"
                id="MergedContactVendorAvailability"
                required="vendorDataCardHelper.MergedContactHasVendorTag"
                value="mergedContact.VendorAvailability">
                <PostOnChange/>
              </TypeKeyCell>
            </Row>
            <Row
              id="VendorUnavailableMessage"
              visible="vendorDataCardHelper.ShowVendorUnavailableMessage">
              <Cell
                id="vendorUnavailableMessageLabel"
                value="displaykey.Web.ContactDetail.VendorUnavailableMessage"/>
              <Cell
                align="center"
                id="KeptContactVendorUnavailableMessage"
                value="keptContact.VendorUnavailableMessage"/>
              <Cell
                align="center"
                id="RetiredContactVendorUnavailableMessage"
                value="retiredContact.VendorUnavailableMessage"/>
              <Cell
                editable="true"
                id="MergedContactVendorUnavailableMessage"
                value="mergedContact.VendorUnavailableMessage"/>
            </Row>
          </ListViewPanel>
          <ListViewPanel
            visible="vendorDataCardHelper.ServiceRows.Count &gt; 0 and vendorDataCardHelper.MergedContactHasVendorTag">
            <Row
              renderAsSmartHeader="true">
              <Cell
                colspan="6"
                id="ServicesHeaderCell"
                value="displaykey.Web.Contacts.ReviewDuplicateContacts.SpecialistServices"/>
            </Row>
            <RowIterator
              canPick="false"
              editable="true"
              elementName="serviceRow"
              id="ServicesRowIterator"
              pageSize="0"
              value="vendorDataCardHelper.ServiceRows"
              visible="vendorDataCardHelper.MergedContactHasVendorTag">
              <Row>
                <TextCell
                  id="ServiceNameCell0"
                  label="displaykey.Web.ContactDetail.Services.Category"
                  value="serviceRow.getServiceNamePart(0)"/>
                <TextCell
                  id="ServiceNameCell1"
                  label="displaykey.Web.ContactDetail.Services.SubCategory"
                  value="serviceRow.getServiceNamePart(1)"/>
                <TextCell
                  id="ServiceNameCell2"
                  label="displaykey.Web.ContactDetail.Services.ServiceType"
                  value="serviceRow.getServiceNamePart(2)"/>
                <CheckBoxCell
                  id="KeptContactHasService"
                  label="displaykey.Web.Contacts.ReviewDuplicateContacts.KeptContact(mergedContact.CreateTime.formatDate(gw.i18n.DateTimeFormat.SHORT))"
                  value="serviceRow.KeptContactHasService"/>
                <CheckBoxCell
                  id="RetiredContactHasService"
                  label="displaykey.Web.Contacts.ReviewDuplicateContacts.RetiredContact(duplicateContacts.RetiredContact.CreateTime.formatDate(gw.i18n.DateTimeFormat.SHORT))"
                  value="serviceRow.RetiredContactHasService"/>
                <CheckBoxCell
                  editable="true"
                  id="MergedContactHasService"
                  label="displaykey.Web.Contacts.ReviewDuplicateContacts.UpdatedContact"
                  value="serviceRow.MergedContactHasService"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </Card>
      </CardViewPanel>
    </Screen>
    <Code><![CDATA[function retire() {
  gw.transaction.Transaction.runWithNewBundle(\ bundle -> {
    var pair = bundle.add(duplicateContacts)
    pair.retire()
  })
}

function mergeAndEdit() {
  CurrentLocation.commit();
  ContactDetail.push(mergedContact).startEditing();
}]]></Code>
  </Popup>
</PCF>