<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuActions
    id="ABContactLGMenuActions">
    <Require
      name="anABContact"
      type="ABContact"/>
    <MenuItemSetRef
      def="NewContactMenuItemSet()"/>
    <MenuItem
      id="ModifyContactMenu"
      label="displaykey.Training.MenuItem.Workspace">
      <MenuItem
        action="ContactNoteWorksheet.goInWorkspace(anABContact, true)"
        id="ABContactMenuActions_NewNote"
        label="displaykey.Training.NewNote"/>
      <MenuItem
        action="ResetPrimaryPhoneWorksheet.goInWorkspace(anABContact as ABPerson)"
        id="ResetPrimaryPhoneValue"
        label="displaykey.Training.ResetPrimaryPhone2"
        visible="anABContact typeis ABPerson"/>
    </MenuItem>
  </MenuActions>
</PCF>