<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    afterEnter="anABContact.recordContactViewed()"
    id="ABContactLG"
    infoBar="ABContactInfoBar(anABContact)"
    menuActions="ABContactLGMenuActions(anABContact)"
    parent="ContactTabForward()"
    title="displaykey.Training.Contact">
    <LocationEntryPoint
      signature="ABContactLG(anABContact:ABContact)"/>
    <Variable
      name="anABContact"
      type="ABContact"/>
    <LocationRef
      label="displaykey.Training.Summary"
      location="ABContactSummaryPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.Details"
      location="ABContactDetailsPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.AddressesCount(anABContact.AllAddresses.length) "
      location="ABContactAddressesPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.NotesCount(anABContact.ContactNotes.length)"
      location="ABContactNotesPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.Analysis"
      location="ABContactAnalysisPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.InteractionsSidebar"
      location="ABContactInteractionsPage(anABContact)"/>
    <LocationRef
      label="displaykey.Training.History"
      location="ABContactHistoryPage(anABContact)"/>
  </LocationGroup>
</PCF>